<section>
  <h4>Aufgabe 1: Denke an den Mathematik-Workshop App2Analyse. Wovon würdest du deinen Eltern zuhause gerne erzählen?</h4>
  <p>
    Klicke und wähle aus. Du kannst auch mehrere Dinge wählen!
  </p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_1" />
    <label class="form-check-label" for="a1_1">Tabellenfußball</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_2" />
    <label class="form-check-label" for="a1_2">Marillenbäumchen und Schreibtischlampe</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_3" />
    <label class="form-check-label" for="a1_3">Streifen ordnen</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_4" />
    <label class="form-check-label" for="a1_4">Durchschnittstemperatur (= Mitte der Temperaturen)</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_5" />
    <label class="form-check-label" for="a1_4">etwas anderes, das hier nicht steht</label>
  </div>
</section>

<section>
  <h4>Aufgabe 2: Sieh dir das Bild an und ordne zu!</h4>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_1" />
    <label class="form-check-label" for="a1_1">Tabellenfußball</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_2" />
    <label class="form-check-label" for="a1_2">Marillenbäumchen und Schreibtischlampe</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_3" />
    <label class="form-check-label" for="a1_3">Streifen ordnen</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_4" />
    <label class="form-check-label" for="a1_4">Durchschnittstemperatur (= Mitte der Temperaturen)</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="a1_5" />
    <label class="form-check-label" for="a1_4">etwas anderes, das hier nicht steht</label>
  </div>
</section>
