<div class="toolbar">

  <!-- Contextual -->
  <div *ngFor="let element of toolbar.getContextual()?.elements; let i = index" class="toolbar-section contextual">

    <div *ngIf="i > 0" class="toolbar-separator sm"></div>
    <button
      *cast="{in: element, castTo: ToolbarBtn, exact: true}; let btn = out"
      #el
      (action)="btn.action(el)"
      [tooltip]="btn.description | async2">
      <img [src]="btn.iconPath" draggable="false" />
    </button>
    <button
      *cast="{in: element, castTo: ToolbarToggleBtn}; let btn = out"
      #el
      [ngClass]="{'active': btn?.active}"
      (action)="btn.action(el)"
      [tooltip]="btn.description | async2">
      <img [src]="btn.iconPath" draggable="false" />
    </button>
    <select *cast="{in: element, castTo: ToolbarDropdown}; let dropdown = out"
            [ngModel]="dropdown.selectedValue"
            (ngModelChange)="dropdown.changed($event)">
      <option *ngFor="let option of dropdown.options | keyvalue"
              [value]="option.value">
        {{option.key | async2}}
      </option>
    </select>

  </div>

  <!-- Components -->
  <div *ngIf="toolbar.getContextual()?.elements.length > 0" class="toolbar-separator"></div>
  <div class="toolbar-section">

    <ng-template #viewModeToggleTooltipContent>
      <div class="d-flex flex-row align-items-center">
        <i class="feature-pointer mr-1"></i>
        {{ 'toolbar.edit_content_hint' | translate }}
      </div>
    </ng-template>

    <button
      class="d-flex flex-row align-items-center text-muted"
      (action)="toggleViewMode()"
      #editToggleBtn="bs-tooltip"
      [tooltip]="viewModeToggleTooltipContent"
      containerClass="view-mode-toggle-tooltip"
      triggers=""
      draggable="false">
      <img [src]="'/assets/img/icon/cms/' + (viewMode === ViewMode.EDIT_CONTENT ? 'edit-layout.svg' : 'edit-layout-active.svg')"
           class="mr-1" />
      {{('toolbar.edit_' + (hasViewMode(ViewMode.EDIT_CONTENT) ? 'layout' : 'content')) | translate}}
    </button>

    <div *ngIf="hasViewMode(ViewMode.EDIT_LAYOUT, ViewMode.INSERT_ELEMENT)"
         class="toolbar-section">
      <ng-container *ngFor="let section of toolbar.getComponents(); let i = index">

        <div class="toolbar-separator sm"></div>
        <ng-container *ngFor="let btn of section.elements; let i = index">
          <button
            #cmsToolbarBtn
            [ngClass]="{'active': btn.data?.active}"
            (dragstart)="!btn.data?.active ? btn.action(cmsToolbarBtn) : null"
            (action)="btn.action(cmsToolbarBtn)"
            [tooltip]="btn.description | async2"
            draggable="true">
            <img [src]="btn.iconPath" [alt]="btn.description" draggable="false" />
          </button>
        </ng-container>

      </ng-container>
    </div>

  </div>

  <!-- Undo/Redo -->
  <div class="toolbar-separator"></div>
  <div class="toolbar-section">

    <button
      (action)="undo()"
      [tooltip]="'toolbar.undo' | translate">
      <img src="/assets/img/icon/cms/undo.svg" />
    </button>
    <div class="toolbar-separator sm"></div>
    <button
      (action)="redo()"
      [tooltip]="'toolbar.redo' | translate">
      <img src="/assets/img/icon/cms/redo.svg" />
    </button>

  </div>
</div>

<div *ngIf="modal?.show"
     class="toolbar-modal"
     [cssvar]="{name: '--modal-arrow-left', value: modal.arrowPos ? modal.arrowPos : '50%'}">
  <ng-template [ngTemplateOutlet]="modal.template"></ng-template>
</div>
