@import (reference) "../../../../../theme/variables";

@primaryBtnColor: lighten(#007bff, 5%);
@toolbarBorder:   solid darken(@lightBorderColor, 10%) 1px;
.iconDimensions() {
  width: 2em;
  height: 2em;
}
@iconSmPadding:   0.5em;
@modalBoxShadow:  0 10px 10px -10px rgba(0, 0, 0, 0.5);
@highlightBorderColor: @primaryColorHighlight;

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background-color: @bgColor;

  &:not(:first-child) {
    border-top: @toolbarBorder;
  }

  .save-status {
    color: @subtleTextColor;
    font-size: @fontSizeExtraSmall;
  }
}


.toolbar-modal {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: @gutter;
  padding: @gutter;

  background-color: @bgColor;
  box-shadow: @modalBoxShadow;
  border: solid @highlightBorderColor @borderWidth;

  &::before, &::after {
    content: " ";

    position: absolute;
    bottom: 100%;
    left: var(--modal-arrow-left);
    height: 0;
    width: 0;

    pointer-events: none;
    border: solid transparent;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: @highlightBorderColor;

    border-width: @gutter;
    margin-left: -@gutter;
  }

  &::after {
    border-bottom-color: @bgColor;

    left: calc(var(--modal-arrow-left) + @borderWidth + 0.5px);
    border-width: calc(@gutter - @borderWidth - 0.5px);
  }
}

.toolbar, .toolbar-modal {

  .toolbar-section,
  .toolbar-align {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .toolbar-section.contextual {
    &,
    button {
      box-shadow: 0 -@borderWidth 0 0 @highlightBorderColor inset;
    }
  }

  .toolbar-separator {
    border-left: @toolbarBorder;

    &.sm {
      margin-top: @gutter;
      margin-bottom: @gutter;
    }
  }

  button:not(.btn),
  .toolbar-close {
    padding: (@gutter/2);

    &.active,
    &:hover {
      background-color: @medLightGrey;
    }
  }

  button:not(.btn) {
    padding-right: @gutter;
    padding-left: @gutter;

    background-color: transparent;
    border: 0; // TODO

    user-select: none;

    &.primary {
      color: @white;
      background-color: fade(@primaryBtnColor, 75%);

      &:hover {
        background-color: @primaryBtnColor;
      }
    }

    &.active {
      background-color: darken(@medLightGrey, 10%);
    }

    &.dropdown-toggle {
      opacity: 0.5;
    }

    > img {
      .iconDimensions();
      vertical-align: center;
    }
  }

  @selectArrowWidth: 0.95em;
  select {
    appearance: none;
    background-color: transparent;
    border: none;

    padding: (@gutter/2) (@gutter + @selectArrowWidth) (@gutter/2) @gutter;

    background-image: url('/assets/img/icon/dark/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right (@gutter/2) top 50%;
    background-size: @selectArrowWidth auto;
    cursor: pointer;

    &:hover {
      background-image: url('/assets/img/icon/black/chevron-down.svg');
    }
  }
}
