<div class="user-perm-container login-container p-2">

  <ut-loading-status
    showStatusOutside=true
    loadingDescription="user_permissions.loading"
    errorDescription="user_permissions.error"
    [statusValues]="StatusValue"
    [status]="getStatusObservable(StatusKey.GRANT_USERS)"
    [error]="getStatusErrorObservable(StatusKey.GRANT_USERS)"></ut-loading-status>

  <ng-container *ngIf="hasStatus(StatusKey.GRANT_USERS, StatusValue.SUCCESSFUL)">

    <ng-container *ngIf="!addNew">

      <div class="heading mb-1">
        {{'user_permissions.list_title' | translate}}
      </div>

      <div class="text-subtle mb-2">
        {{'user_permissions.list_desc' | translate:{permission: 'user_permissions.permissions.' + permission + '.title' | translate} }}
      </div>

      <div class="d-flex flex-row flex-wrap m--1">

        <div *ngFor="let u of grantingUsers"
             class="link-btn user-entry flex-shrink-0 m-1"
             [ngClass]="{'success': selectedUsers.has(u)}"
             (action)="toggleUser(u)"
             role="button"
             tabindex="0">
          <i [ngClass]="{'i-check-success': selectedUsers.has(u), ' i-dark i-lock-open': !selectedUsers.has(u)}" class="i i-xs mr-1" aria-hidden="true"></i>
          <span class="sr-only">{{('user_permissions.' + (selectedUsers.has(u) ? 'user_selected' : 'user_deselected')) | translate}}</span>
          {{u.username}}
        </div>

        <div class="d-inline-flex flex-row align-items-center m-1"
             (action)="addNew = true"
             role="button"
             tabindex="0">
          <i class="i i-xs i-dark i-user-add mr-1" aria-hidden="true"></i>
          <a class="link">{{'user_permissions.request_link' | translate}}</a>
        </div>

      </div>

    </ng-container>

    <ng-container *ngIf="addNew">

      <div class="heading mb-1">
        {{'user_permissions.title' | translate:{'username': getUsername()} }} {{'user_permissions.permissions.' + permission + '.title' | translate}}
      </div>

      <div class="text-subtle mb-3">
        {{'user_permissions.desc' | translate}} {{'user_permissions.permissions.' + permission + '.title' | translate}}
      </div>

      <form (submit)="request()">
        <fieldset [attr.disabled]="!isSslConnection() ? true : null">
          <div class="form-group fp-group">
            <div class="fp">{{'user_permissions.username_placeholder' | translate}}</div>
            <input type="text"
                   class="form-control"
                   name="username"
                   [(ngModel)]="this.username"
                   required>
          </div>
          <div class="form-group fp-group">
            <div class="fp">{{'user_permissions.password_placeholder' | translate}}</div>
            <input type="text"
                   class="form-control code"
                   name="password"
                   maxlength="6"
                   [(ngModel)]="this.password"
                   required>
          </div>

          <div *ngIf="!password" class="permissions-info mb-2">
            <i class="i i-xs i-dark i-info mr-2 flex-shrink-0"></i>
            <div class="flex-grow-1">
              {{'user_permissions.ppin_info_1' | translate}} <i class="i i-xs i-cog i-dark align-bottom"></i> {{'user_permissions.ppin_info_2' | translate}}
            </div>
          </div>

          <div *ngIf="username && password" class="permissions-info mb-2">
            <div class="flex-shrink-0">
              <i class="i i-xs i-dark i-info mr-2"></i>
            </div>
            <div class="flex-grow-1">
              <div class="mb-1">
                {{'user_permissions.summary.access' | translate:{username: getUsername()} }}
                <div [innerHTML]="'user_permissions.permissions.' + permission + '.summary_access' | translate"></div>
              </div>
              <hr class="my-1"/>
              <div class="mb-1">
                {{'user_permissions.summary.permissions' | translate:{username: getUsername()} }}
                <div [innerHTML]="'user_permissions.permissions.' + permission + '.summary_permissions' | translate"></div>
              </div>
            </div>
          </div>

          <div *ngIf="hasStatus(StatusKey.REQUEST, StatusValue.SAME_ACCOUNT)" class="permissions-alert mb-2">
            <i class="i i-xs i-warning-danger mr-2 flex-shrink-0"></i>
            <div class="flex-grow-1">
              {{'user_permissions.request_same_account' | translate}}
            </div>
          </div>

          <div *ngIf="hasStatus(StatusKey.REQUEST, StatusValue.FAILED)" class="permissions-alert mb-2">
            <i class="i i-xs i-warning-danger mr-2 flex-shrink-0"></i>
            <div class="flex-grow-1">
              {{'user_permissions.request_error' | translate}}
            </div>
          </div>

          <button type="submit" class="btn btn-block btn-primary" [attr.disabled]="hasStatus(StatusKey.REQUEST, StatusValue.IN_PROGRESS) ? true : null">
            <span *ngIf="!hasStatus(StatusKey.REQUEST, StatusValue.IN_PROGRESS)">
              {{'user_permissions.request' | translate}}
            </span>
            <span *ngIf="hasStatus(StatusKey.REQUEST, StatusValue.IN_PROGRESS)">
              <i class="i i-sm i-spin i-load float-left"></i>
              {{'user_permissions.requesting' | translate}}
            </span>
          </button>
        </fieldset>
      </form>

      <div *ngIf="grantingUsers?.size > 0" class="text-left mt-2">
        <div class="d-flex flex-row align-items-center"
             (action)="addNew = false"
             role="button"
             tabindex="0">
          <i class="i i-xs i-dark i-chevron-left mr-1"></i>
          <a class="link">{{'user_permissions.list_link' | translate}}</a>
        </div>
      </div>

    </ng-container>

  </ng-container>

</div>
