<div class="container-fluid mt-2 mt-lg-5 mb-5">

  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-container">

    <h1 class="mb-3 mt-0">
      <span *ngIf="showOldPasswordInput(); else titleTemplate">
        {{'login.password_change_title' | translate}}
      </span>
      <ng-template #titleTemplate>
        {{'login.password_change_title_set' | translate}}
      </ng-template>
      <span class="text-sm text-subtle">
        &ndash; {{username}}
      </span>
    </h1>

    <form #form="ngForm"
          (ngSubmit)="form.valid && changePassword()"
          class="validate-on-dirty validate-on-submit fp-bg-medlight"
          [ngClass]="{'submitted': form.submitted}">
      <fieldset>
        <div *ngIf="showOldPasswordInput()" class="form-group fp-group">
          <div class="fp">{{'login.password_old_placeholder' | translate}}</div>
          <input type="password"
                 class="form-control"
                 name="oldPassword"
                 [(ngModel)]="this.passwordReset.oldPassword"
                 required>
        </div>
        <div class="form-group fp-group">
          <div class="fp">{{'login.password_new_placeholder' | translate}}</div>
          <input type="password"
                 class="form-control"
                 name="newPassword"
                 [(ngModel)]="this.passwordReset.newPassword"
                 [check]="isPasswordValid"
                 (ngModelChange)="form.controls['newPasswordConfirm'].updateValueAndValidity()"
                 required>
        </div>
        <div class="form-group fp-group">
          <div class="fp">{{'login.password_new_confirm_placeholder' | translate}}</div>
          <input type="password"
                 class="form-control"
                 name="newPasswordConfirm"
                 [(ngModel)]="this.newPasswordConfirm"
                 [check]="isNewPasswordsMatching"
                 required>
        </div>
        <button type="submit" class="btn btn-block btn-primary" [disabled]="hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.IN_PROGRESS) ? true : null">
          <span *ngIf="!hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.IN_PROGRESS)">
            {{'login.change_password' | translate}}
          </span>
          <span *ngIf="hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.IN_PROGRESS)">
            <i class="i i-sm i-spin i-load float-left"></i>
            {{'login.changing_password' | translate}}
          </span>
        </button>
      </fieldset>

    </form>

  </div>

  <div
    *ngIf="hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.SUCCESSFUL)"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-success">

    {{'login.change_password_success' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.FAILED) && showOldPasswordInput()"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-danger">

    {{'login.change_password_failed' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.FAILED) && !showOldPasswordInput()"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-danger">

    {{'login.change_password_failed_nooldpw' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.FORCE_LOGOUT, StatusValue.YES) && hasStatus(StatusKey.CHANGE_PASSWORD, StatusValue.SUCCESSFUL)"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container centered login-annotation-info">

    <div class="d-flex align-items-center justify-content-between flex-grow-1">

      {{'login.log_in_again' | translate}}

      <button class="btn btn-sm btn-primary float-right" routerLink="/login">
        <i class="i i-login i-sm mr-2 float-left"></i>
        {{'login.go_to_login' | translate}}
      </button>

    </div>

  </div>

  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container">

    <div class="info" [innerHtml]="'login.reset_info' | translate"></div>

  </div>

</div>
