@import (reference) "../../../theme/theme.less";

.item {
  margin-left: -@newsPaddingX;
  margin-right: -@newsPaddingX;
  padding: @newsPaddingTop @newsPaddingX 0 @newsPaddingX;
  //background: linear-gradient(to bottom left, transparent 50%, lighten(@bgColor, 5%));

  &:after {
    content: "";
    display: block;
    height: 1px;
    margin-top: @newsPaddingBottom;
    background-color: @borderColor;
  }

  &:last-child {
    border-bottom-left-radius: @borderRadiusNew;
    border-bottom-right-radius: @borderRadiusNew;
    &:after {
      background-color: transparent;
    }
  }

  ::ng-deep .user-content {
    .title-container {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       margin-bottom: @gutter;

       > .title {
         font-size: @fontSizeLarge;
         text-shadow: 0px 1px 1px @white;
       }

       > .annotations {
         display: flex;
         flex-direction: row;
         align-items: center;

         > .annotation {
           font-size: @fontSizeSmall;
           color: @darkerGrey;
           margin: 0 @gutter;
         }
       }
     }

    .content {
      color: @darkestGrey;
    }

    .annotations {
      display: flex;
      flex-direction: row;

      .annotation {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: @subtleTextColor;
        font-size: @fontSizeSmall;
        margin-left: @gutter2x;
        margin-right: @gutter2x;

        &.timestamp:before {
          content: "";
          background-image: url("/assets/img/icon/dark/clock.svg");
          width: 1rem;
          height: 1rem;
          margin-right: @gutter;
        }
      }
    }
  }
}
