<footer id="footer" class="py-4">

  <div class="container">
    <div class="d-flex flex-row flex-wrap align-items-center m--2">

      <a id="firstFooterLink" class="m-1 link" routerLink="/report">{{ 'navigation.footer.report' | translate}}</a>
      –
      <a class="m-1 link" routerLink="/imprint">{{ 'navigation.footer.imprint' | translate}}</a>
      –
      <span class="m-1">
        <span [innerHtml]="'navigation.footer.madeby' | translate"></span>
        <a class="link" routerLink="/">{{'navigation.footer.madeby_team' | translate}}</a>
        &amp;
        <a class="link" href="https://github.com/laurenzfiala" target="_blank">Laurenz Fiala</a>
      </span>
      <div class="footer-spacer"></div>
      <div class="footer-info d-flex flex-column text-right justify-content-end m-1">
        <div class="text-sm">v{{version.version}}</div>
      </div>

    </div>
  </div>

</footer>
