<footer id="footer" class="py-4 mt-3">

  <div class="container">
    <div class="d-flex flex-row m--2">

      <div class="flex-grow-1 m-2">
        <div class="footer-link">
          <a id="firstFooterLink" class="link" routerLink="/report">{{ 'navigation.footer.report' | translate}}</a>
        </div>
        <div class="footer-link">
          <a class="link" routerLink="/imprint">{{ 'navigation.footer.imprint' | translate}}</a>
        </div>
        <div>
          <span [innerHtml]="'navigation.footer.madeby' | translate"></span>
          <a class="link" href="http://stadt-baum-klima.sbg.ac.at/about/project-team/" target="_blank">{{'navigation.footer.madeby_team' | translate}}</a>
          &amp;
          <a class="link" href="https://github.com/laurenzfiala" target="_blank">Laurenz Fiala</a>
        </div>
      </div>
      <div class="footer-info text-right m-2">
        <div class="header text-xs">{{'navigation.footer.info_version' | translate}}</div>
        <div class="text-sm">{{version.version}}</div>
        <div class="header text-xs mt-1">{{'navigation.footer.info_hash' | translate}}</div>
        <div class="text-sm">{{version.hash}}</div>
      </div>

    </div>
  </div>

</footer>
