<section class="content-cat">
  <div class="container">
    <div class="map-wrapper">
      <ut-map
        [markers]="availableTrees"
        [selectedMarker]="selectedTree"
        (selectedMarkerChange)="selectTreeOnMap($event)"
        errorText="phenology.observation.step1.map_error_text"></ut-map>
    </div>

    <input
      [ngModel]="treeSearchInput"
      (ngModelChange)="setTreeSearchInput($event)"
      class="form-control form-control-lg search-input mt-2"
      [placeholder]="'phenology.observation.step1.tree_search_placeholder' | translate" />
  </div>
</section>

<div *ngIf="hasAnyStatusKey([StatusKey.TREES, StatusKey.CITIES], StatusValue.IN_PROGRESS)"
     class="py-4 d-flex flex-row align-items-center justify-content-center">
  <i class="i i-sm i-black i-spin i-load mr-1"></i>
  {{'tree_list.loading' | translate}}
</div>

<div *ngIf="hasStatus(StatusKey.TREES, StatusValue.SUCCESSFUL) && hasStatus(StatusKey.CITIES, StatusValue.SUCCESSFUL) && cities?.length === 0"
     class="py-4 d-flex flex-row align-items-center justify-content-center text-warning">
  <i class="i i-sm i-warning-warning mr-1"></i>
  {{'tree_list.none_found' | translate}}
</div>

<section>
  <div *ngFor="let city of cities; let i = index"
       class="container mb-4">

    <h1 class="content-cat-heading mb-2">
      {{city.name}}
    </h1>

    <div class="has-status-overlay m--2">

      <ng-container *ngFor="let tree of displayTrees">

        <div *ngIf="tree.location.city.id === city.id"
             class="tree-container">
          <a class="inner link-container d-flex flex-column pointer m-2"
               [routerLink]="['/tree', tree.id]"
               tabindex="0">

            <div class="title p-2">
              <i class="i i-md i-dark i-tree mr-2"></i>
              {{'tree.species.' + tree.species.name | lowercase | translate}}
            </div>
            <div class="info p-2">
              <div class="d-flex flex-row align-items-center mt-1">
                <i class="i i-xs i-black i-id mr-2"></i>
                {{'tree.species.latin.' + tree.species.name | lowercase | translate}}
              </div>
              <div class="d-flex flex-row align-items-center mt-1">
                <i class="i i-xs i-black i-location mr-2"></i>
                {{'tree_list.tree.location' | translate:tree.location}}
              </div>
              <div class="text-right mt-1">
                <a class="link" tabindex="-1">
                  {{'tree_list.tree.link' | translate}}
                </a>
              </div>
            </div>

          </a>
        </div>

      </ng-container>

    </div>

  </div>
</section>

<div *ngIf="displayTrees?.length === 0"
     class="status-img my-4">
  <img src="/assets/img/icon/no_results.svg" />
  {{'tree_list.none_found' | translate}}
</div>

<div *ngIf="hasAnyStatusKey([StatusKey.STATISTICS, StatusKey.TREES], StatusValue.FAILED)" class="status-overlay overlay-fixed">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'general.error' | translate}}
    </div>
    <div class="status-text">
      {{'tree_list.error' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light float-right" (action)="load()">{{'general.retry' | translate}}</button>
    </div>
  </div>
</div>
