<div class="mb-3">
  <div class="mb-1 text-lg">Der Experimentiertag hat mir...</div>
  <div class="d-flex align-items-center">
    <i class="i i-lg i-star-filled"></i>
    <i class="i i-lg i-star-filled"></i>
    <i class="i i-lg i-star-filled"></i>
    <i class="i i-lg i-star-empty"></i>
    <i class="i i-lg i-star-empty"></i>
    <div class="ml-2">
      gut gefallen!
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="mb-1 text-lg">Mein Lieblingsexperiment war:</div>
  <div class="d-flex flex-row">
    <div class="experiment active">
      <img src="/assets/img/journal/expdays/experiments/leaves_in_plastic.JPG" />
      <div>Blätter im Plastiksack</div>
    </div>
    <div class="experiment">
      <img src="/assets/img/journal/expdays/experiments/leaves_in_plastic.JPG" />
      <div>Blätter im Plastiksack</div>
    </div>
  </div>
</div>

<div class="mb-3">
  <div class="mb-1 text-lg">Das habe ich gelernt:</div>
  <textarea></textarea>
</div>

<div class="d-flex align-items-center mb-3">
  <div class="mr-2 text-lg">Mein Erinnerungsbild</div>
  <div>
    <img src="/assets/img/bud_icon_1.png" style="border-radius: 50%">
  </div>
</div>

<button class="btn btn-primary">Speichern</button>




