
<ut-cms-exp-days-layout #expDaysLayout></ut-cms-exp-days-layout>

<div class="d-flex flex-row flex-wrap save-toolbar mx--2 mb--2 mt-2">
  <button class="btn btn-primary m-2"
          (action)="save()">Speichern</button>
  <div *ngIf="hasStatus(StatusKey.SAVE, StatusValue.IN_PROGRESS)"
       class="d-flex flex-row align-items-center justify-content-center m-2">
    <i class="i i-sm i-black i-save mr-1"></i>
    Speichere...
  </div>
  <div *ngIf="hasStatus(StatusKey.SAVE, StatusValue.SUCCESSFUL)"
       class="d-flex flex-row align-items-center justify-content-center text-success m-2">
    <i class="i i-sm i-check-success i-save mr-1"></i>
    Gespeichert!
  </div>
  <div *ngIf="hasStatus(StatusKey.SAVE, StatusValue.FAILED)"
       class="d-flex flex-row align-items-center justify-content-center text-danger m-2">
    <i class="i i-sm i-cross-danger i-save mr-1"></i>
    Fehler: {{getStatusError(StatusKey.MODEL)?.message}}
  </div>
</div>

