<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'settings.language.title' | translate}}</h1>
    <div class="content-cat-text mb--2">
      {{'settings.language.desc' | translate}}

      <ng-container *ngFor="let lang of availableLanguages">

        <div class="my-2">
          <a class="link-container"
             [ngClass]="{'active': lang === currentLanguage}"
             (action)="setLanguage(lang)"
             tabindex="0">
            <img class="lang-icon" [attr.src]="'/assets/img/icon/lang/' + lang + '.svg'" />
            <div class="link">
              {{'settings.langs.' + lang | translate}}
            </div>
          </a>
        </div>

      </ng-container>
    </div>
  </div>
</div>

<div *auth="[envService.security.rolesUser]"
     class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'settings.one_time_token.title' | translate}}</h1>
    <div class="d-flex align-items-center my-2">
      <div *ngIf="hasStatus(StatusKey.PPIN, StatusValue.IN_PROGRESS)" class="permissions-pin loading">
        <i class="i i-sm i-load i-spin i-dark"></i>
      </div>
      <div *ngIf="hasStatus(StatusKey.PPIN, StatusValue.FAILED)"
           class="permissions-pin locked">******</div>
      <div *ngIf="hasStatus(StatusKey.PPIN, StatusValue.SUCCESSFUL)"
           class="permissions-pin"
           (mousedown)="setStatus(StatusKey.PPIN_USED, StatusValue.SHOW)">{{ppin}}</div>
      <div class="d-flex align-items-center">
        <i *ngIf="!hasStatus(StatusKey.PPIN, StatusValue.IN_PROGRESS)"
           class="i i-xs i-load i-dark ml-2"
           (action)="requestPPIN()"
           role="button"
           tabindex="0"></i>
        <span class="sr-only">{{'settings.one_time_token.refresh' | translate}}</span>
      </div>
    </div>
    <div class="d-flex align-items-center text-subtle text-info mb-1">
      <i class="i i-xs i-info-info mr-2"></i>
      {{'settings.one_time_token.info' | translate}}
    </div>
    <hr class="my-1"/>
    <div class="content-cat-text">
      {{'settings.one_time_token.desc' | translate}}
    </div>
  </div>
</div>

<div *auth="[envService.security.rolesUser]"
     class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'settings.account.title' | translate}}</h1>
    <div class="content-cat-text">
      {{'settings.account.desc' | translate:{'username': user?.username} }}<br/>
      {{'settings.account.desc_2' | translate}}

      <div>
        <a class="d-inline-flex flex-row align-items-center mt-2 link-container"
           routerLink="/account/changeusername"
           tabindex="0">
          <i class="i i-user i-dark mr-1"></i>
          <div class="link">{{'settings.account.change_username' | translate}}</div>
        </a>
      </div>

      <div>
        <a class="d-inline-flex flex-row align-items-center mt-1 link-container"
             routerLink="/account/changepassword"
             tabindex="0">
          <i class="i i-key i-dark mr-1"></i>
          <div class="link">{{'settings.account.change_password' | translate}}</div>
        </a>
      </div>
    </div>
  </div>
</div>

<div *auth
     class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'settings.support.title' | translate}}</h1>
    <div class="content-cat-text">
      {{'settings.support.desc' | translate}}
    </div>
    <a class="content-cat-link" routerLink="/report">{{'settings.support.link' | translate}}</a>
  </div>
</div>

<div *auth="[envService.security.rolesUser];checkChanges:false"
     class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'settings.delete_account.title' | translate}}</h1>
    <div class="content-cat-text">
      {{'settings.delete_account.desc' | translate}}<br/>
      <span class="font-italic">{{'settings.delete_account.warning' | translate}}</span><br/>
    </div>
    <a class="content-cat-link danger"
       [popover]="deleteAccountPopover"
       #deleteAccountPopoverTrigger="bs-popover"
       placement="right"
       outsideClick=true
       triggers=""
       tabindex="0"
       (action)="deleteAccountPopoverTrigger.toggle()">
      {{'settings.delete_account.btn' | translate}}
    </a>
  </div>
</div>

<ng-template #deleteAccountPopover>
  <div *ngIf="user" class="d-flex flex-column" (action)="$event.stopPropagation()">
    {{'settings.delete_account.popover_title' | translate}}
    <div class="text-subtle text-sm">{{'settings.delete_account.popover_desc' | translate}}</div>
    <button *ngIf="user.deleteStatus === undefined"
            class="btn btn-outline-danger btn-block mt-2"
            (action)="deleteUser(); $event.stopPropagation()">
      {{'settings.delete_account.popover_btn' | translate}}
    </button>
    <button *ngIf="user.deleteStatus === StatusValue.IN_PROGRESS"
            class="btn btn-danger btn-block mt-2" disabled>
      <i class="i i-sm i-spin i-load float-left"></i>
      {{'settings.delete_account.popover_btn_progress' | translate}}
    </button>
    <div *ngIf="user.deleteStatus === StatusValue.SUCCESSFUL"
         class="d-flex justify-content-center align-items-center text-success my-2">
      <i class="i i-check-success mr-2"></i>
      {{'settings.delete_account.popover_btn_success' | translate}}
    </div>
    <div *ngIf="user.deleteStatus === StatusValue.FAILED"
         class="d-flex justify-content-center align-items-center text-danger my-2">
      <i class="i i-warning-danger mr-2"></i>
      {{'settings.delete_account.popover_btn_failed' | translate}}
    </div>
  </div>
</ng-template>
