<div id="footer" class="py-4 mt-3">

  <div class="footer-link-bar">
    <a href="http://stadt-baum-klima.sbg.ac.at/about/contact/" target="_blank">{{ 'navigation.footer.report' | translate}}</a>
    &mdash;
    <a routerLink="/imprint">{{ 'navigation.footer.imprint' | translate}}</a>
    &mdash;
    <a routerLink="/home">{{ 'navigation.footer.home' | translate}}</a>
  </div>
  <div class="footer-text-subtle">
    <span [innerHTML]="'navigation.footer.note' | translate"></span> <a href="https://github.com/laurenzfiala" target="_blank">Laurenz Fiala</a>
  </div>

</div>
