#footer {
  text-align: center;
  font-size: 0.9rem;

  > .footer-link-bar {
    margin-bottom: 0.25rem;

    > a {

    }
  }

  > .footer-text-subtle {
    color: #7C7C7D;
    font-size: 0.8em;
  }
}
