<div *ngFor="let a of announcements" class="announcement" [ngClass]="{'severity-high': a.severity > 10}">
  <div class="announcement-title">{{a.title}}</div>
  <div class="announcement-description">{{a.description}}</div>
</div>

<nav class="navbar navbar-expand navbar-light round bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/img/urbantrees_icon.png" width="30" height="30" class="d-inline-block align-top nav-brand-icon" alt="Urban Trees logo">
    <span class="d-none d-md-inline pl-2">{{'app.title' | translate}} <small>{{'app.subtitle' | translate}}</small></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">{{'navigation.home' | translate}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/trees">{{'navigation.tree_list' | translate}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pill" routerLinkActive="active">
        <a class="nav-link" routerLink="/project">
          <span class="d-none d-md-inline">{{'navigation.project_account_1' | translate}}</span>{{'navigation.project_account_2' | translate}}
        </a>
      </li>
      <li dropdown class="nav-item dropdown pointer">
        <a dropdownToggle class="nav-link">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <a *ngFor="let lang of availableLanguages"
             [ngClass]="{'lang-current': lang === currentLanguage}"
             class="dropdown-item"
             (click)="setLanguage(lang)">
            {{lang | translate}}
          </a>
          <div *ngIf="isLoggedIn()">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item sign-out"
               (click)="logout()">
              <i class="fa fa-sign-out-alt float-right" aria-hidden="true"></i>
              {{'navigation.logout' | translate}}
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
