@import (reference) "../../../theme/theme.less";

.navbar {
  padding: 0 1rem;
}

li.nav-item {
  border-bottom: solid transparent 2px;


  &.active {
    border-bottom: solid @secondaryColor 2px;

    a {
      background-color: white;
      color: @textColorHighlight !important;
    }
  }
}

li.nav-item {
  padding: 0 !important;
  position: relative;

  a {
    padding: 1rem;
    position: relative;
    z-index: 2;
  }
}

.announcement {
  padding: 0.5rem;
  background-color: lighten(@info, 65%);

  > .announcement-title {
    color: @info;
  }

  + .announcement {
    padding-top: 0;
  }

  > .announcement-description {
    font-size: 0.8em;
    color: #676768;
  }

  &.severity-high {
    background-color: lighten(@danger, 42%);

    > .announcement-title {
      color: darken(@danger, 10%);
    }
    > .announcement-description {
      color: darken(@danger, 50%);
    }
  }
}

li.nav-item.tetet {
  margin: 0.6rem 0;
  box-shadow: 0 1px 1px @secondaryColorHighlight;
  border: solid @secondaryColor 1px;
  border-radius: @borderRadiusNew;
  border-bottom: solid @secondaryColor 1px !important;

  &.active {
    background-color: white;
  }

  > a {
    border-radius: @borderRadiusNew;
    padding: 0.35rem 1rem !important;
  }
}
