<section *auth="envService.security.rolesUser" class="content-cat">
  <div class="container p-3">

    <div class="profile-wrapper">
      <div>
        <ut-user-progress (levelUpOutput)="setStatus(StatusKey.USER_LEVEL_UP, StatusValue.LEVELLED_UP)"
                          (status)="setStatus(StatusKey.USER_ACHIEVEMENTS, $event[0], $event[1])"></ut-user-progress>
      </div>

      <div>

        <div class="mb-4">
          <h1 class="content-cat-heading d-block" [innerHTML]="'home.title_user' | translate:{'username': getUsername()}"></h1>
          <p [innerHTML]="'home.desc_user' | translate"></p>
        </div>

        <div class="m--2">
          <div class="m-2">
            <a class="d-inline-flex flex-row align-items-center link-container"
                 routerLink="/settings">
              <div class="link">
                {{'home.action_settings' | translate}}
              </div>
              <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
            </a>
          </div>
          <div class="m-2">
            <a class="d-inline-flex flex-row align-items-center link-container"
               (action)="logout()">
              <div class="link">
                {{'home.action_logout' | translate}}
              </div>
              <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section *auth="envService.security.rolesJournal" class="content-cat">
  <div class="container clearfix">

    <div class="responsive-float m--2">
      <img class="journal float-right m-2" src="/assets/img/icon/special/placeholder.svg" />

      <div class="m-2">
        <div class="content-cat-heading">{{'home.journal.title' | translate }}</div>
        In Deinem Forschungstagebuch findest Du Arbeitsblätter und Aufgaben zum Üben.
        Mit diesen Aufgaben wird es dir leichter fallen dir den Inhalt der Workshops zu merken.
      </div>
    </div>

    <a class="content-cat-link d-inline-flex flex-row align-items-center link-container"
       routerLink="/journal">
      <div class="link">
        {{'home.journal.action' | translate}}
      </div>
      <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
    </a>

  </div>
</section>

<section *auth="envService.security.rolesTreeEditor" class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      {{'home.cms_history.title' | translate}}
    </h1>

    <ut-list [itemTemplate]="cmsTreeListItem"
             [items]="this.treeCmsHistory"
             [categorizer]="cmsContentHistoryCategorizer"
             [statusValues]="StatusValue"
             [status]="getStatusObservable(StatusKey.CMS_HISTORY)"
             [error]="getStatusErrorObservable(StatusKey.CMS_HISTORY)"
             errorDescription="home.cms_history.error"></ut-list>

    <ng-template #cmsTreeListItem let-contentRef="context">
      <div class="list-item-wrapper">
        <a class="list-item"
           [routerLink]="'/tree/' + contentRef?.context?.id">
          <div class="item-name">{{contentRef?.context?.species?.name}}</div>

          <div class="item-status text-subtle">
            <i class="i i-xxs mr-1" [ngClass]="'i-cms-' + contentRef.metadata.getStatusString() | lowercase"></i>
            {{'cms.content.status.' + contentRef.metadata.getStatusString() | translate}}
          </div>
        </a>
      </div>
    </ng-template>

  </div>
</section>

<section *auth="envService.security.rolesPhenObs" class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      {{'home.phenobs_history.title' | translate}}
    </h1>

    <ut-list [itemTemplate]="phenobsListItem"
             [items]="phenObsHistory"
             [categorizer]="phenObsHistoryCategorizer"
             [statusValues]="StatusValue"
             [status]="getStatusObservable(StatusKey.PHENOBS_HISTORY)"
             [error]="getStatusErrorObservable(StatusKey.PHENOBS_HISTORY)"
             errorDescription="home.phenobs_history.error"></ut-list>

    <ng-template #phenobsListItem let-dataset="context">
      <div class="list-item-wrapper">
        <a class="list-item"
           [routerLink]="'/project/phenology'"
           [queryParams]="{'tree': dataset.treeId}">
          <div class="item-name">{{'tree.species.' + dataset.tree.species.name | lowercase | translate}}</div>
          <div class="item-desc">
            <i class="i i-xxs i-dark i-location align-text-bottom mr-1"></i>
            {{dataset.tree.location.street}}
          </div>
        </a>
      </div>
    </ng-template>

  </div>
</section>

<section class="content-cat">
  <div class="container">

    <ut-cms-content *ngIf="testContent"
                    contentPath="/test/1"
                    contentLang="de-DE"
                    [(content)]="testContent"
                    [config]="testContentConfig"
                    [(viewMode)]="testContentViewMode"></ut-cms-content>

    <button *ngIf="testContentViewMode === ViewMode.CONTENT"
            class="btn btn-primary"
            (action)="testContentViewMode = ViewMode.EDIT_CONTENT">
      Edit content
    </button>

  </div>
</section>
