<section *auth="envService.security.rolesUser" class="content-cat">
  <div class="container">

    <div class="profile-wrapper m--3">
      <div class="m-3">
        <ut-user-progress (levelUpOutput)="setStatus(StatusKey.USER_LEVEL_UP, StatusValue.LEVELLED_UP)"
                          (status)="setStatus(StatusKey.USER_ACHIEVEMENTS, $event[0], $event[1])"></ut-user-progress>
      </div>

      <div class="m-3">

        <div class="mb-4">
          <h1 class="content-cat-heading d-block" [innerHTML]="'home.title_user' | translate:{'username': getUsername()}"></h1>
          <p [innerHTML]="'home.desc_user' | translate"></p>
        </div>

        <div class="m--2">
          <div class="m-2">
            <a class="d-inline-flex flex-row align-items-center link-container"
                 routerLink="/settings">
              <div class="link">
                {{'home.action_settings' | translate}}
              </div>
              <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
            </a>
          </div>
          <div class="m-2">
            <a class="d-inline-flex flex-row align-items-center link-container"
               (action)="logout()">
              <div class="link">
                {{'home.action_logout' | translate}}
              </div>
              <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

<section *auth="envService.security.rolesTreeEditor" class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      {{'home.cms_history.title' | translate}}
    </h1>

    <ut-list [itemTemplate]="cmsTreeListItem"
             [items]="[]"
             [statusValues]="StatusValue"
             [status]="getStatusObservable(StatusKey.CMS_HISTORY)"
             [error]="getStatusErrorObservable(StatusKey.CMS_HISTORY)"
             errorDescription="home.cms_history.error"></ut-list>

    <ng-template #cmsTreeListItem let-content="context">
      <div class="list-item-wrapper">
        <a class="list-item"
           [routerLink]="'/tree/' + content.tree.id">
          <div class="item-name">test</div>

          <div class="item-status">
            <i class="i i-xxs mr-1" [ngClass]="'i-cms-' + content.status"></i>
            {{'cms.content.status.' + content.status | translate}}
          </div>
        </a>
      </div>
    </ng-template>

  </div>
</section>

<section *auth="envService.security.rolesPhenObs" class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      {{'home.phenobs_history.title' | translate}}
    </h1>

    <ut-list [itemTemplate]="phenobsListItem"
             [items]="phenObsHistory"
             [categorizer]="phenObsHistoryCategorizer"
             [statusValues]="StatusValue"
             [status]="getStatusObservable(StatusKey.PHENOBS_HISTORY)"
             [error]="getStatusErrorObservable(StatusKey.PHENOBS_HISTORY)"
             errorDescription="home.phenobs_history.error"></ut-list>

    <ng-template #phenobsListItem let-dataset="context">
      <div class="list-item-wrapper">
        <a class="list-item"
           [routerLink]="'/project/phenology'"
           [queryParams]="{'tree': dataset.treeId}">
          <div class="item-name">{{'tree.species.' + dataset.tree.species.name | lowercase | translate}}</div>
          <div class="item-desc">
            <i class="i i-xxs i-dark i-location align-text-bottom mr-1"></i>
            {{dataset.tree.location.street}}
          </div>
        </a>
      </div>
    </ng-template>

  </div>
</section>

<section *auth="envService.security.rolesDiary" class="content-cat">
  <div class="container clearfix">

    <div class="responsive-float m--2">
      <img class="diary float-right m-2" src="/assets/img/icon/special/placeholder.svg" />

      <div class="m-2">
        <div class="content-cat-heading">{{'home.diary.title' | translate }}</div>
        {{'home.diary.text' | translate }}
      </div>
    </div>

    <a class="content-cat-link d-inline-flex flex-row align-items-center link-container"
       routerLink="/diary">
      <div class="link">
        {{'home.diary.action' | translate}}
      </div>
      <i class="i i-sm i-dark i-arrow-right ml-1" aria-hidden="true"></i>
    </a>

  </div>
</section>
