@import (reference) "../../../../../theme/theme.less";

.profile-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media @xs, @sm {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.journal {
  width: 200px;
}
