<div class="content-wrapper">

  <div *ngIf="config?.showToolbar && hasViewMode(ViewMode.EDIT_LAYOUT, ViewMode.EDIT_CONTENT, ViewMode.INSERT_ELEMENT)"
       class="toolbar-wrapper">

    <div class="toolbar justify-content-between flex-wrap-reverse">
      <div class="toolbar-group">
        <button
          class="primary"
          [tooltip]="'toolbar.publish_tooltip' | translate"
          container="body"
          (action)="publish()">
          {{'toolbar.publish' | translate}}
        </button>
      </div>
      <div class="d-flex flex-row justify-content-end flex-grow-1">
        <div class="toolbar-align align-items-center save-status px-2">
          <ut-content-save-status [status]="getStatusObservable(StatusKey.SAVE)"
                                  [saved]="onSaved()"
                                  [isDraft]="changeConfig.isLastSaveDraft"></ut-content-save-status>
        </div>
        <div class="toolbar-separator"></div>
        <div class="toolbar-align toolbar-close"
             role="button"
             tabindex="0"
             [tooltip]="'toolbar.close' | translate"
             container="body"
             (action)="close()">
          <i class="i i-sm i-dark i-cross"></i>
        </div>
      </div>
    </div>

    <ut-content-toolbar class="toolbar"></ut-content-toolbar>

  </div>

  <div class="cms-content"
       [ngClass]="{'cms-viewmode-layout-edit': hasViewMode(ViewMode.EDIT_LAYOUT),
                   'cms-viewmode-insert-element': hasViewMode(ViewMode.INSERT_ELEMENT),
                   'cms-viewmode-content-edit': hasViewMode(ViewMode.EDIT_CONTENT)}">
    <ng-template #contentSlot></ng-template>
  </div>

</div>
