<div class="content-wrapper">

  <div *ngIf="isEditContent()"
       class="toolbar-wrapper">

    <div class="toolbar justify-content-between flex-wrap-reverse">
      <div class="toolbar-group">
        <button
          class="primary"
          [tooltip]="'toolbar.publish_tooltip' | translate"
          container="body">
          {{'toolbar.publish' | translate}}
        </button>
      </div>
      <div class="d-flex flex-row justify-content-end flex-grow-1">
        <div class="toolbar-align align-items-center save-status px-2">
          <ut-content-save-status [status]="getStatusObservable(StatusKey.SAVE)"
                                  [saved]="onSaved()"></ut-content-save-status>
        </div>
        <div class="toolbar-separator"></div>
        <div class="toolbar-align toolbar-close"
             role="button"
             tabindex="-1"
             [tooltip]="'toolbar.close' | translate"
             container="body">
          <i class="i i-sm i-dark i-cross"></i>
        </div>
      </div>
    </div>

    <div class="toolbar">
      <div *ngFor="let element of toolbar.getContextual()?.elements; let i = index" class="toolbar-section contextual">

        <div *ngIf="i > 0" class="toolbar-separator sm"></div>
        <div *cast="{in: element, castTo: ToolbarBtn}; let btn = out">
          <button
            (action)="btn.onAction()"
            [tooltip]="btn.description">
            <img [src]="btn.iconPath" />
          </button>
        </div>
        <select *cast="{in: element, castTo: ToolbarDropdown}; let dropdown = out"
                [(ngModel)]="dropdown.selectedKey">
          <option *ngFor="let option of dropdown.options | keyvalue">
            {{option.key}}
          </option>
        </select>

      </div>
      <div *ngIf="toolbar.getContextual()" class="toolbar-separator"></div>
      <div *ngFor="let section of toolbar.getComponents(); let i = index" class="toolbar-section">

        <div *ngIf="i > 0" class="toolbar-separator"></div>
        <ng-container *ngFor="let btn of section.elements; let i = index">
          <div *ngIf="i > 0" class="toolbar-separator sm"></div>
          <button
            (action)="btn.onAction()"
            [tooltip]="btn.description">
            <img [src]="btn.iconPath" />
          </button>
        </ng-container>

      </div>
    </div>

  </div>

  <div class="cms-content"
       [ngClass]="{'cms-viewmode-layout-edit': isEditLayout(), 'cms-viewmode-content-edit': isEditContent()}">
    <ng-template #contentSlot></ng-template>
  </div>

  <!--<div class="cms-drop-zone">
    Add something here
  </div>-->

</div>
