@import (reference) "../../../../../theme/variables";

.cms-content {
  margin-top: @gutter;
}

.toolbar-wrapper {
  position: sticky;
  top: 0;
  z-index: (@navZIndex - 1);
}

::ng-deep {

  .cms-layout {
    margin-top: @gutter;
  }

  .cms-viewmode-content-edit,
  .cms-viewmode-insert-element,
  .cms-viewmode-layout-edit {

    .cms-element-border {
      border: @borderWidth solid @borderColor;
    }
  }
}
