<div [ngClass]="{'container-fluid mt-2 mt-lg-5 mb-5': !embed}">

  <div
    *ngIf="isAlreadyLoggedIn() && !relog"
    class="login-container"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    <h1 class="mb-3 mt-0">
      {{'login.heading' | translate}}
    </h1>

    <form (submit)="logout()">
      <div class="mb-3">
        {{'login.already_logged_in' | translate}}
      </div>

      <button type="submit" class="btn btn-block btn-primary">
        <i class="i i-sm i-logout float-right"></i>
        {{'navigation.logout' | translate}}
      </button>
    </form>

  </div>

  <div
    *ngIf="!isAlreadyLoggedIn() || relog"
    class="login-container fp-bg-medlight"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    <h1 class="mb-3 mt-0">
      {{'login.heading' | translate}}
    </h1>

    <form #loginForm="ngForm"
          (ngSubmit)="loginForm.valid && login()">
      <fieldset [attr.disabled]="!isSslConnection() ? true : null">
        <div *ngIf="!token"
             class="form-group fp-group">
          <div class="fp">{{'login.username_placeholder' | translate}}</div>
          <input #usernameInput
                 type="text"
                 class="form-control"
                 name="username"
                 [(ngModel)]="this.username"
                 #usernameModel="ngModel"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && usernameModel.invalid }"
                 required
                 autofocus>
        </div>
        <div *ngIf="!token"
             class="form-group fp-group">
          <div class="fp">{{'login.password_placeholder' | translate}}</div>
          <input #passwordInput
                 type="password"
                 class="form-control"
                 name="password"
                 [(ngModel)]="this.password"
                 #passwordModel="ngModel"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && passwordModel.invalid }"
                 required>
        </div>
        <div *ngIf="!token && showOtp"
             class="form-group fp-group">
          <div class="fp">{{'login.otp_placeholder' | translate}}</div>
          <input #otpInput
                 type="text"
                 class="form-control code"
                 name="otp"
                 [(ngModel)]="this.otp"
                 #otpModel="ngModel"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && otpModel.invalid }"
                 maxlength="11"
                 required
                 focusOnDisplay>
          <div class="otp-info mt-2">
            <i class="i i-xs i-dark i-info mr-2 flex-shrink-0"></i>
            <div class="flex-grow-1">
              {{'login.otp_info' | translate}}
            </div>
          </div>
        </div>
        <div *ngIf="showPin"
             class="form-group fp-group">
          <div class="fp">{{('login.pin_placeholder' + (isPinSet ? '' : '_new')) | translate}}</div>
          <input #pinInput
                 type="text"
                 class="form-control code"
                 name="pin"
                 [(ngModel)]="this.pin"
                 #pinModel="ngModel"
                 [ngClass]="{ 'is-invalid': loginForm.submitted && pinModel.invalid }"
                 minlength="4"
                 maxlength="6"
                 required
                 focusOnDisplay>
          <div class="otp-info mt-2">
            <i class="i i-xs i-dark i-qr mr-2 flex-shrink-0"></i>
            <div class="flex-grow-1">
              {{('login.pin_info' + (isPinSet ? '' : '_new')) | translate}}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block btn-primary"
                [attr.disabled]="(loginForm.submitted && loginForm.invalid) || hasStatus(StatusKey.LOGIN, StatusValue.IN_PROGRESS) ? true : null">
          <span *ngIf="!hasStatus(StatusKey.LOGIN, StatusValue.IN_PROGRESS)">
            {{'login.log_in' | translate}}
          </span>
          <span *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.IN_PROGRESS)">
            <i class="i i-sm i-spin i-load float-left"></i>
            {{'login.logging_in' | translate}}
          </span>
        </button>
      </fieldset>
    </form>

  </div>

  <div *ngIf="!isSslConnection()"
       class="login-annotation-container login-annotation-danger"
       [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_connection_insecure' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.BAD_CREDENTIALS)"
    class="login-annotation-container login-annotation-danger"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_bad_credentials' | translate}}

  </div>

  <!--<div
    *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.SUCCESSFUL)"
    class="login-annotation-container login-annotation-success"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto': !embed}">

    {{'login.status_successful' | translate}}

  </div>-->

  <div
    *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.FAILED)"
    class="login-annotation-container login-annotation-danger"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_failed' | translate}}

  </div>

  <div
    *ngIf="hasManyFailedAttempts()"
    class="login-annotation-container login-annotation-info"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    <div>
      {{'login.failed_attempts_info' | translate}}
      <div class="text-subtle text-sm">
        {{'login.failed_attempts_amount' | translate}}: {{consecutiveFailedLoginAttempts}}
      </div>
    </div>

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.FORCE_CREDENTIALS_CONFIRM && hasStatus(StatusKey.LOGIN, StatusValue.PENDING)"
    class="login-annotation-container login-annotation-warning"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_force_credentials_confirm' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.FORCE_LOGOUT_EXPIRED && hasStatus(StatusKey.LOGIN, StatusValue.PENDING)"
    class="login-annotation-container login-annotation-warning"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_expired' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.FORCE_LOGOUT && hasStatus(StatusKey.LOGIN, StatusValue.PENDING)"
    class="login-annotation-container login-annotation-info"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_force_logout' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.INSUFFICIENT_PERMISSIONS && hasStatus(StatusKey.LOGIN, StatusValue.PENDING)"
    class="login-annotation-container login-annotation-warning"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_insufficient_permissions' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.USER_LOGOUT && hasStatus(StatusKey.LOGIN, StatusValue.PENDING)"
    class="login-annotation-container login-annotation-success"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_user_logout' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.NOT_AUTHENTICATED"
    class="login-annotation-container login-annotation-info"
    [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    {{'login.status_not_authenticated' | translate}}

  </div>

  <div *ngIf="disclaimer"
       class="login-annotation-container"
       [ngClass]="{'col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto max-width': !embed}">

    <p>
      {{'login.description' | translate}}
    </p>

    <div *ngIf="showDataDisclaimer">

      <hr/>

      <div [innerHtml]="'login.disclaimer' | translate"></div>

    </div>

    <a *ngIf="!showDataDisclaimer"
       (action)="showDataDisclaimer = true"
       tabindex="0"
       class="link-btn">
      {{'login.learn_more' | translate}}
    </a>

  </div>

</div>
