<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">
      {{'privacy.title' | translate}}
    </h1>
    <div *ngIf="translateService.currentLang !== 'de-DE'"
         class="content-cat-text d-flex flex-row align-items-center text-sm text-warning">
      <i class="i i-xs i-warning-warning mr-1 flex-shrink-0"></i>
      {{'privacy.title_disclaimer' | translate}}
    </div>

    <div class="content-cat-text mt-3">
      <p>
        In dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten bei der Nutzung dieser Website.
      </p>
      <b>Verantwortlich für die Datenverarbeitung:</b>
      <p>
        Universität Salzburg<br/>
        Kapitelgasse 4-6<br/>
        5020 Salzburg<br/>
        universität@sbg.ac.at<br/>
        Tel:  0043(0) 662 8044-0<br/>
        Fax: 0043(0) 662 8044-145
      </p>
      <b>DatenschutzkoordinatorIn:</b>
      <p>
        N.N.<br/>
        Kapitelgasse 4-6<br/>
        5020 Salzburg<br/>
        datenschutz@sbg.ac.at
      </p>
      <b>Datenschutzbeauftragter:</b>
      <p>
        Paul Grünberger<br/>
        Volksgartenstraße 32<br/>
        4020 Linz<br/>
        dsb@gruenberger.org<br/>
        Tel: 05 02067-2110<br/>
        Bitte ergänzen Sie die Adresse bei der Kontaktaufnahme per Post mit dem Hinweis "Datenschutzbeauftragter".
      </p>
      <b>Personenbezogene Daten</b>
      <p>
        Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare
        natürliche Person (im Folgenden "betroffene Person") beziehen. Als identifizierbar wird eine natürliche
        Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen,
        zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen
        identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen,
        wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.
      </p>
      <b>Daten beim Websiteaufruf</b>
      <p>
        Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die
        Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind.
        Das sind insbesondere:
      </p>
      <ul>
        <li>IP-Adresse</li>
        <li>Datum und Uhrzeit der Anfrage</li>
        <li>jeweils übertragene Datenmenge</li>
        <li>die Website, von der die Anforderung kommt</li>
        <li>Browsertyp und Browserversion</li>
        <li>Betriebssystem</li>
      </ul>
      <p>
        Wobei diese Daten sofort nach der Bearbeitung der Anfrage verworfen werden.
      </p>
      <p>
        Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 UAbs. 1
        Buchstabe f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.
      </p>
      <p>
        Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene
        und nicht personenbezogene Daten verarbeitet werden.
      </p>
      <b>Ihre Rechte</b>
      <p>
        Als betroffene Person haben Sie folgende Rechte:
      </p>
      <ul>
        <li>
          Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der
          Verantwortliche verarbeitet (Art. 15 DSGVO),
        </li>
        <li>
          Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig
          gespeichert werden (Art. 16 DSGVO),
        </li>
        <li>
          Sie haben das Recht auf Löschung (Art. 17 DSGVO),
        </li>
        <li>
          Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen
          (Art. 18 DSGVO),
        </li>
        <li>
          Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),
        </li>
        <li>
          Sie haben ein Widerspruchsrecht gegen die Verarbeitung Sie betreffender personenbezogener Daten,
          (Art. 21 DSGVO)
        </li>
        <li>
          Sie haben das Recht nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich
          Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet
          oder sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),
        </li>
        <li>
          Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen
          Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen
          Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      Wie wir Ihre Daten verarbeiten
    </h1>
    
    <p>
      Beim Anmelden wird die Nutzeridentität sowohl am Server als auch im Gerät (mittels Cookie) gespeichert.
      Am Gerät bleiben diese Daten bis zu Abmelden bestehen. Am Server werden die Anmeldedaten beim Löschen des
      Kontos gelöscht. Der Cookie kann nur durch unseren Server gelesen werden und ermöglcht kein Tracking.
    </p>
    <p>
      Wird die Android-App ohne Anmeldung genutzt, stellt sie einen anonymen Token zu Verfügung, mit dem die Nutzenden
      einen Beacon auslesen und diese Daten an uns übertragen können.
      Wird die Android-App mit Anmeldung genutzt, werden die Auslesevorgänge diesem Konto serverseitig zugewiesen.
      Es ist eine explizite Zustimmung zu dieser Funktionalität während des
      Installationsprozesses notwendig.
      Die übertragenen Daten beinhalten Messdaten, die der Bluetooth-Beacon gespeichert hat, als auch Daten
      zum Kommunikationsaustausch (Fortschritt, Fehlermeldungen, Datum/Uhrzeit) mit dem Beacon.
      Da die Position des Beacons bekannt ist, die Identität der Nutzenden allerdings nicht, kann aus diesen Daten
      festgestellt werden, ob jemand einen Auslesevorgang durchgeführt hat, nicht jedoch um welche Person es sich
      handelt.
    </p>
    <p>
      Daten die direkt eingetragen werden (Phänologiebeobachtungen, Baum-Einträge, Forschungstagebuch) werden
      serverseitig mit Verweis auf das genutzte Konto gespeichert. Beim Löschen des Kontos werden diese Verweise
      gelöscht, nicht jedoch die eingetragenen Daten. Sollten diese Daten persönliche Informationen enthalten, die
      Sie löschen möchten, wenden Sie sich bitte an <a href="mailto:co2bs.ffg@plus.ac.at">co2bs.ffg@plus.ac.at</a>.
    </p>

  </div>
</div>
