<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Manage trees</h1>
    <div class="content-cat-text">
      Add new trees and modify existing ones.
    </div>

    <a class="content-cat-link" routerLink="tree">
      Manage trees
    </a>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Manage beacons</h1>
    <div class="content-cat-text">
      Add and remove beacons and modify their properties.<br/>
      <i class="feature-pointer mr-1 offset"></i>
      You can now attach and detach beacons from trees &amp; change their location
    </div>

    <a class="content-cat-link" routerLink="beacon">
      Manage  beacons
    </a>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Manage users</h1>
    <div class="content-cat-text">
      Add new users, delete existing ones, create one-time login links, disable accounts or modify user specific
      access roles.
    </div>

    <a class="content-cat-link" routerLink="user">
      Manage users
    </a>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Manage announcements</h1>
    <div class="content-cat-text">
      Show announcements to all site users if any news are important.
    </div>

    <a class="content-cat-link" routerLink="announcements">
      Manage announcements
    </a>

  </div>
</div>
