<ut-header></ut-header>

<div class="container mt-3">

  <h4 class="text-center">Admin console</h4>
  <hr />

  <div class="category tree">
    <div class="indicator"></div>

    <div class="links">
      <button class="btn btn-default" routerLink="tree">
        Manage trees &amp; beacons
      </button>
    </div>
  </div>

  <hr />

  <div class="category user">
    <div class="indicator"></div>

    <div class="links">
      <button class="btn btn-default" routerLink="user">
        Manage users
      </button>
    </div>
  </div>

</div>
