<form class="container">

  <div class="row mb-3">
    <div class="col">
      <a class="float-right" data-toggle="collapse" href="#explanationCollapse" aria-expanded="false" aria-controls="explanationCollapse">
        {{'phenology.observation.step3.help.toggle' | translate}}
      </a>

      <h5>{{'phenology.observation.step3.title' | translate}}</h5>

      <div class="collapse" id="explanationCollapse">
        <div class="card card-body">
          {{'phenology.observation.step3.help.description' | translate}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <h6>{{'phenology.observation.step3.observers_title' | translate}}</h6>

      <div class="input-group mb-3">
        <input
          [(ngModel)]="dataset.observers"
          #observersInput="ngModel"
          name="observersInput"
          (keyup)="checkContinue()"
          minlength="5"
          maxlength="200"
          required
          class="form-control"
          [placeholder]="'phenology.observation.step3.observers_placeholder' | translate" />
        <div class="input-group-append">
          <span class="input-group-text" [ngClass]="{'is-invalid': !observersInput.valid}">
            {{dataset.observers ? dataset.observers.length : 0}} / 5-200
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">

      <h6>{{'phenology.observation.step3.upload_photo_title' | translate}}</h6>

      <div class="custom-file">
        <input
          type="file"
          class="custom-file-input"
          id="userImage"
          name="userImage"
          (change)="setUserImage($event); checkContinue()"
          [ngClass]="{'is-invalid': !isUserImageValid()}"
          >
        <label *ngIf="userImageName" class="custom-file-label" for="userImage">{{userImageName}}</label>
        <label *ngIf="!userImageName" class="custom-file-label" for="userImage">{{'phenology.observation.step3.upload_photo_placeholder' | translate}}</label>
        <div class="invalid-feedback" *ngIf="getUserImageErrors().indexOf(UserImageError.INVALID_SIZE) !== -1">
            {{'phenology.observation.step3.photo_size_invalid' | translate}}
        </div>
        <div class="invalid-feedback" *ngIf="getUserImageErrors().indexOf(UserImageError.INVALID_TYPE) !== -1">
            {{'phenology.observation.step3.photo_type_invalid' | translate}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <h6>{{'phenology.observation.step3.remark_title' | translate}}</h6>

      <div class="input-group mb-3">
        <textarea
          [(ngModel)]="dataset.remark"
          name="remark"
          maxlength="350"
          class="form-control"
          rows="1"
          [placeholder]="'phenology.observation.step3.remark_placeholder' | translate"></textarea>
        <div class="input-group-append">
          <span class="input-group-text">
            {{dataset.remark ? dataset.remark.length : 0}} / 350
          </span>
        </div>
      </div>
    </div>
  </div>

</form>
