<ut-header></ut-header>

<div class="container-fluid mt-2 mt-lg-5 mb-5">

  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-container">

    <h4 class="mb-3">
      {{'login.heading' | translate}}
    </h4>

    <form (submit)="login()">
      <fieldset [attr.disabled]="!isSslConnection() ? true : null">
        <div class="form-group">
          <input type="text" class="form-control" name="username" [placeholder]="'login.username_placeholder' | translate" [(ngModel)]="this.username" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" [placeholder]="'login.password_placeholder' | translate" [(ngModel)]="this.password" required>
        </div>
        <button type="submit" class="btn btn-block btn-primary">
          <span *ngIf="!hasStatus(StatusKey.LOGIN, StatusValue.IN_PROGRESS)">
            {{'login.log_in' | translate}}
          </span>
          <span *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.IN_PROGRESS)">
            <i class="fa fa-spin load-xs fa-refresh float-left"></i>
            {{'login.logging_in' | translate}}
          </span>
        </button>
      </fieldset>
    </form>

  </div>

  <div *ngIf="!isSslConnection()" class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-danger">

    {{'login.status_connection_insecure' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.BAD_CREDENTIALS)"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-danger">

    {{'login.status_bad_credentials' | translate}}

  </div>

  <div
    *ngIf="hasStatus(StatusKey.LOGIN, StatusValue.FAILED)"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-danger">

    {{'login.status_failed' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.FORCE_LOGOUT_EXPIRED"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-warning">

    {{'login.status_expired' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.FORCE_LOGOUT"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-info">

    {{'login.status_force_logout' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.USER_LOGOUT"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-success">

    {{'login.status_user_logout' | translate}}

  </div>

  <div
    *ngIf="accessReason === LoginAccessReason.NOT_AUTHENTICATED"
    class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container login-annotation-info">

    {{'login.status_not_authenticated' | translate}}

  </div>

  <div class="col-xs-12 col-sm-8 col-md-5 col-lg-4 col-xl-3 mx-auto login-annotation-container">

    <p>
      {{'login.description' | translate}}
    </p>

    <div *ngIf="showDataDisclaimer">

      <hr/>

      <div [innerHtml]="'login.disclaimer' | translate"></div>

    </div>

    <a *ngIf="!showDataDisclaimer"
       (click)="showDataDisclaimer = true"
       (keydown)="showDataDisclaimer = true">Learn more</a>

  </div>

</div>

<ut-footer></ut-footer>
