<ut-header></ut-header>

<div class="container my-2 my-lg-5">

  <div class="text-subtle text-center mt-4">
    {{'home.choose' | translate}}
  </div>
  <hr class="mt-1"/>

  <!-- For large devices -->
  <div class="btn-img-toolbar d-none d-lg-block">
    <div class="my-3 d-flex">
      <div class="btn-img trees" tabindex="-1" routerLink="/trees">
        {{'navigation.links.tree_list' | translate}}
      </div>
      <div *auth="[envService.security.rolesPhenObs]" class="btn-img phenology" tabindex="-1" routerLink="/phenology/observation/step">
        {{'navigation.links.phen_obs' | translate}}
      </div>
      <div *auth="[envService.security.rolesUser]" class="btn-img account" tabindex="-1" routerLink="/project">
        {{'navigation.links.account' | translate}}
      </div>
      <div *noauth="true" class="btn-img login" tabindex="-1" routerLink="/login">
        {{'navigation.links.log_in' | translate}}
      </div>
      <a class="btn-img infopage" tabindex="-1" href="http://stadt-baum-klima.sbg.ac.at/" target="_blank">
        {{'navigation.links.infopage' | translate}}
      </a>
    </div>
  </div>

  <!-- For small devices -->
  <div class="btn-img-toolbar d-md-block d-lg-none">
    <div class="my-3 d-flex">
      <div class="btn-img lg trees" tabindex="-1" routerLink="/trees">
        {{'navigation.links.tree_list' | translate}}
      </div>
    </div>
    <div *auth class="my-3 d-flex">
      <div *auth="[envService.security.rolesPhenObs]" class="btn-img phenology" tabindex="-1" routerLink="/phenology/observation/step">
        {{'navigation.links.phen_obs' | translate}}
      </div>
      <div *auth="[envService.security.rolesUser]" class="btn-img account" tabindex="-1" routerLink="/project">
        {{'navigation.links.account' | translate}}
      </div>
    </div>
    <div class="my-3 d-flex">
      <div *noauth="true" class="btn-img login" tabindex="-1" routerLink="/login">
        {{'navigation.links.log_in' | translate}}
      </div>
      <a class="btn-img infopage" tabindex="-1" href="http://stadt-baum-klima.sbg.ac.at/" target="_blank">
        {{'navigation.links.infopage' | translate}}
      </a>
    </div>
  </div>

</div>

<ut-footer></ut-footer>
