<ut-header></ut-header>

<div class="container my-2 my-lg-5 text-center">

  <div class="text-subtle mt-4">
    {{'home.choose' | translate}}
  </div>
  <hr class="mt-1"/>

  <div class="btn-img-toolbar d-none d-lg-block">
    <div class="my-3 d-flex">
      <div class="btn-img trees" tabindex="-1" routerLink="/trees">
        Trees
      </div>
      <div class="btn-img phenology" tabindex="-1" routerLink="/phenology/observation/step">
        Phenology observation
      </div>
      <div class="btn-img account" tabindex="-1" routerLink="/project">
        Account
      </div>
      <a class="btn-img infopage" tabindex="-1" href="http://stadt-baum-klima.sbg.ac.at/" target="_blank">
        Info page
      </a>
    </div>
  </div>

  <div class="btn-img-toolbar d-md-block d-lg-none">
    <div class="my-3 d-flex">
      <div class="btn-img trees" tabindex="-1" routerLink="/trees">
        Trees
      </div>
      <div class="btn-img phenology" tabindex="-1" routerLink="/phenology/observation/step">
        Phenology observation
      </div>
    </div>
    <div class="my-3 d-flex">
      <div class="btn-img account" tabindex="-1" routerLink="/project">
        Account
      </div>
      <a class="btn-img infopage" tabindex="-1" href="http://stadt-baum-klima.sbg.ac.at/" target="_blank">
        Info page
      </a>
    </div>
  </div>

</div>

<ut-footer></ut-footer>
