@import (reference) "../../../theme/theme.less";

// old full-width buttons
.btn-full {
  position: relative;

  padding: 1.5rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: @primaryColor;
  background: linear-gradient(to right, rgba(0, 123, 255, 0.89), rgba(18, 196, 249, 0.82));
  transition: background 0.5s ease-in-out;

  &:not(:first-child) {

    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      height: 1px;
      width: 100%;
      background-color: @primaryColorHighlight;
      background: linear-gradient(to right, rgba(79, 169, 255, 0.89), rgba(106, 226, 255, 0.82));
    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      height: 1px;
      width: 100%;
      background-color: @primaryColorHighlight;
      background: linear-gradient(to right, rgba(79, 169, 255, 0.89), rgba(106, 226, 255, 0.82));
    }
  }

  &:first-child {
    border-top-left-radius: @borderRadiusOuterNew;
    border-top-right-radius: @borderRadiusOuterNew;
  }

  &:last-child {
    border-bottom-left-radius: @borderRadiusOuterNew;
    border-bottom-right-radius: @borderRadiusOuterNew;
  }

  &:hover {
    background-color: #000000;
  }

  .fa {
    transition: all 0.35s ease-in-out;
    margin-left: 1rem;
  }

  &:hover .fa {
    padding-left: 1rem;
  }
}

@media @xs {
  .btn-full {
    font-size: 0.65rem;
  }
}

@media @sm {
  .btn-full {
    font-size: 0.9rem;
  }
}
