<ut-header></ut-header>

<div *ngIf="hasStatus(StatusKey.APP_TRANSFER_STATUS, StatusValue.SUCCESSFUL)" class="transfer-status success round">
  <img src="../../../assets/img/alert_success.svg"/>
  <div>
    {{'tree.beacon.transfer.success' | translate}}
    <div class="note">{{'tree.beacon.transfer.success_note' | translate}}</div>
  </div>
</div>

<div *ngIf="hasStatus(StatusKey.APP_TRANSFER_STATUS, StatusValue.FAILED)" class="transfer-status danger round">
  <img src="../../../assets/img/alert_danger.svg"/>
  {{'tree.beacon.transfer.failed' | translate}}
</div>

<div *ngIf="tree" class="container mb-5">

  <div class="text-center">

    <h4 class="mt-4">
      {{'tree.species.' + tree.species | lowercase | translate}}
    </h4>
    <div class="text-subtle mb-2">
      {{'tree.species.latin.' + tree.species | lowercase | translate}}
      ({{tree.genus}})
    </div>
    <hr class="mt-1"/>

  </div>

  <div class="row mb-5">

    <div *ngIf="tree.id !== 1" class="col-sm-6 col-md-3 mb-2 mb-sm-0 image-placeholder">

      Tree image goes here

    </div>

    <div *ngIf="tree.id === 1" class="col-sm-6 col-md-3 mb-2 mb-sm-0 tree-image">

      <img src="../../../assets/content/img/tree_1.jpg"/>

    </div>

    <div class="col-sm-6 col-md-9">



    </div>

  </div>

  <div class="row mb-5">

    <div class="col-sm-4 col-lg-6 mb-2">
    </div>

    <div class="col-sm-8 col-lg-6">

      <ut-audio-img image="../../../assets/content/img/blattentfaltung_2018_10.jpeg" audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3" class="w-100"></ut-audio-img>

    </div>

  </div>

  <div class="row mb-2">

    <div class="col-12 text-center pb-2">

      <h5 class="text-center mb-0">
        {{'tree.beacon.details.heading' | translate}}
      </h5>
      <span class="text-subtle">
        {{tree.beacons?.length}} Beacon{{tree.beacons?.length > 1 ? 's' : ''}}
      </span>
      <hr class="mt-1"/>

    </div>

    <div *ngIf="!tree.beacons || tree.beacons.length === 0">
      This tree has no beacons attached to it.
    </div>

    <div *ngFor="let beacon of tree.beacons" class="col-12">

      <div class="position-relative my-2">

        <div class="beacon-status" [ngClass]="{'bg-success': beacon.status === 'OK', 'bg-danger': beacon.status !== 'OK'}">
          {{beacon.status}}
        </div>

        <div class="beacon-id">
          {{beacon.deviceId}}
        </div>

        <div *ngIf="!(beacon.chartData && beacon.datasets?.length > 0)" class="beacon-description text-subtle">
          No data for beacon.
        </div>

      </div>

      <div *ngIf="beacon.chartData && beacon.datasets?.length > 0" class="line-chart-full mb-2">
        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="beacon.chartData"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </div>

      <hr class="m-0"/>

    </div>

  </div>

</div>

<div *ngIf="hasAnyStatusKey([StatusKey.TREE_VALIDATION, StatusKey.TREE_LOADING], StatusValue.IN_PROGRESS)" class="load load-center load-md status-overlay overlay-fixed"></div>
<div *ngIf="hasStatus(StatusKey.TREE_VALIDATION, StatusValue.FAILED)"
     class="status-overlay overlay-fixed">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'tree_view.error.title' | translate}}
    </div>
    <div class="status-text">
      {{'tree_view.error.text' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light float-right" routerLink="/trees">{{'navigation.back' | translate}}</button>
    </div>
  </div>
</div>

<ut-footer></ut-footer>
