<ut-header></ut-header>

<div *ngIf="hasStatus(StatusKey.APP_TRANSFER_STATUS, StatusValue.SUCCESSFUL)" class="transfer-status success round">
  <img src="/assets/img/icon/round/success.svg"/>
  <div>
    {{'tree.beacon.transfer.success' | translate}}
    <div class="note">{{'tree.beacon.transfer.success_note' | translate}}</div>
  </div>
</div>

<div *ngIf="hasStatus(StatusKey.APP_TRANSFER_STATUS, StatusValue.FAILED)" class="transfer-status danger round">
  <img src="/assets/img/icon/round/error.svg"/>
  {{'tree.beacon.transfer.failed' | translate}}
</div>

<div *ngIf="tree" class="container mb-5">

  <div class="text-center">

    <h4 class="mt-4">
      {{'tree.species.' + tree.species | lowercase | translate}}
    </h4>
    <div class="text-subtle mb-2">
      {{'tree.species.latin.' + tree.species | lowercase | translate}}
      ({{tree.genus}})
    </div>
    <hr class="mt-1"/>

  </div>

  <div class="row mb-5">

    <div *ngIf="tree.id !== 1" class="col-sm-6 col-md-3 mb-2 mb-sm-0 image-placeholder">

      Tree image goes here

    </div>

    <div *ngIf="tree.id === 1" class="col-sm-6 col-md-3 mb-2 mb-sm-0 tree-image">

      <img src="../../../assets/content/img/tree_1.jpg"/>

    </div>

    <div class="col-sm-6 col-md-9">



    </div>

  </div>

  <div class="row mb-5">

    <div class="col-sm-4 col-lg-6 mb-2">
    </div>

    <div class="col-sm-8 col-lg-6">

      <ut-audio-img image="../../../assets/content/img/blattentfaltung_2018_10.jpeg" audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3" class="w-100"></ut-audio-img>

    </div>

  </div>

  <div class="row mb-2">

    <div class="col-12 text-center mt-5">

      <h4 class="d-flex align-items-center">
        <i class="i i-dark i-lg i-beacon mr-2"></i>
        {{'tree.beacon.details.heading' | translate}}
      </h4>

    </div>

    <div class="col-12 mt-2 text-center">

      <div *ngIf="appTransferAmount" class="transfer-message">
        {{'tree.beacon.transfer.message.title' | translate}}
        <span>
          &mdash; {{'tree.beacon.transfer.message.text' | translate:{'amount': appTransferAmount} }}
        </span>
      </div>

    </div>

    <div class="col-12 mb-2">

      <ut-beacon-list
        [tree]="tree"
        [preselectDeviceId]="beaconDeviceIdPreselect"
      ></ut-beacon-list>

    </div>

  </div>

</div>

<div *ngIf="hasAnyStatusKey([StatusKey.TREE_VALIDATION, StatusKey.TREE_LOADING], StatusValue.IN_PROGRESS)" class="load load-center load-md status-overlay overlay-fixed"></div>
<div *ngIf="hasAnyStatusKey([StatusKey.TREE_VALIDATION, StatusKey.TREE_LOADING], StatusValue.FAILED)"
     class="status-overlay overlay-fixed">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'tree_view.error.title' | translate}}
    </div>
    <div class="status-text">
      {{'tree_view.error.text' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light float-right" routerLink="/trees">{{'navigation.back' | translate}}</button>
    </div>
  </div>
</div>

<ut-footer></ut-footer>
