@import (reference) "../../../theme/variables";

.transfer-status {
  margin-top: -1.25rem;
  padding: 2.25rem 1rem 1rem 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 1rem;

  &.success {
    background-color: @successBg;
  }
  &.warning {
    background-color: @warningBg;
  }
  &.danger {
    background-color: @dangerBg;
  }

  > img {
    height: 35px;
    margin-right: 0.5rem;
  }

  .note {
    font-weight: normal;
    font-size: 0.75rem;
    color: @darkGrey;
  }
}

.image-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 16rem;
  background-color: @medLightBgColor;
  border-radius: @borderRadiusOuterNew;
}

.tree-image {
  height: 16rem;

  > img {
    max-height: 100%;
    max-width: 100%;
    border-radius: @borderRadiusOuterNew;
  }
}

.beacon-id {
  display: inline-block;
  padding: @statusPadding;
  color: @statusBg;
  font-weight: bold;
}

.beacon-description {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  height: 100%;
  padding: @statusPadding;
  border-radius: @borderRadiusNew;
}

.beacon-status {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  padding: @statusPadding;
  background-color: @bgColor;
  border-radius: @borderRadiusNew;

  &.bg-success,
  &.bg-danger {
    color: @white;
  }
}

.line-chart-full {
  display: block;
  height: 24rem;
}
