@import "../../../../../theme/variables";

.timepicker-container {
  margin-top: 0.2rem;
}

timepicker {
  display: inline-block;
}

.map-wrapper {
  height: 350px;
}

.hide-map {
  visibility: hidden;
}

#selected-tree {
  margin-bottom: -0.25rem;
  z-index: -1;

  > .list-group-item {
    padding-bottom: 1.5rem;
  }

  // map alignment only when tree is selected
  + .map-wrapper {
    margin-top: -1rem;
  }

  li {
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: -1;
    background-color: @lightBgColor;
  }

  .badge {
    background-color: @bgColor;
    padding: 0.5rem;
    margin-top: -0.1rem;
  }
}

.page-item {
  text-align: center;
  flex-grow: 1;

  &:first-child .page-link {
    padding: 0.25rem 0 0.05rem 0;
    border-top-left-radius: @borderRadius;
    border-bottom-left-radius: @borderRadius;
  }

  &:last-child .page-link {
    padding: 0.25rem 0 0.05rem 0;
    border-top-right-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
  }

  .page-link {
    padding: 0.5rem 0;

    &.active {
      background-color: @bgColor;
    }
  }
}

