<div class="container has-status-overlay">

  <h3>{{'phenology.observation.step1.title' | translate}}</h3>

  <form>
    <div class="row">

      <div class="col">
      <label for="observationDate">{{'phenology.observation.step1.observation_date_label' | translate}}</label>
        <div class="input-group">
          <input type="text"
                 id="observationDate"
                 class="form-control"
                 name="observationDate"
                 #dp="bsDatepicker"
                 bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 [(ngModel)]="dataset.uiObservationDate"
                 [maxDate]="dataset.uiMaxObservationDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="dp.toggle()">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="pr-3">
        <div class="input-group timepicker-container mb-2">
            <timepicker
              id="observationTime"
              name="observationTime"
              [(ngModel)]="dataset.uiObservationDate"
              [showMeridian]="false"
              [max]="dataset.uiMaxObservationDate">
            </timepicker>
        </div>
      </div>

    </div>
  </form>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" class="load load-md p-5"></div>

  <div [ngClass]="{'hide-map': !hasStatus(StatusKey.TREES, StatusValue.SUCCESSFUL)}" class="form-group map-container mb-0">

    <ul *ngIf="selectedTree" id="selected-tree" class="list-group">
      <li class="list-group-item"
          (click)="centerTree(selectedTree)"
          (keydown)="centerTree(selectedTree)">
        <span class="badge badge-light float-right">#{{selectedTree.id}}</span>
        <b>{{'tree.species.' + selectedTree.species | lowercase | translate}}</b>
        {{'phenology.observation.step1.tree_location' | translate:selectedTree.location}}
      </li>
    </ul>

    <div id="map" class="has-status-overlay" (click)="onMapClick($event)">
      <div *ngIf="hasStatus(StatusKey.MAP, StatusValue.IN_PROGRESS)" class="status-overlay load load-md"></div>
      <div *ngIf="hasStatus(StatusKey.MAP, StatusValue.FAILED)" class="status-overlay">
        <div class="status-content">
          <div class="status-heading heading-danger">
            {{'general.error' | translate}}
          </div>
          <div class="status-text">
            {{'phenology.observation.step1.error_map.text' | translate}}
          </div>
          <div class="status-controls">
            <button class="btn btn-light float-right" (click)="load()" (keydown)="load()">{{'general.retry' | translate}}</button>
          </div>
        </div>
      </div>
      <div id="osm-copyright">&copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
        contributors
      </div>
      <div id="activator" [ngClass]="{'disabled': isMapEnabled || hasStatus(StatusKey.MAP, StatusValue.IN_PROGRESS)}" (click)="isMapEnabled = true">
        <div class="d-has-cursor">
          {{'phenology.observation.step1.map_activator' | translate}}
        </div>
        <div class="d-has-touch">
          {{'phenology.observation.step1.map_activator_touch' | translate}}
        </div>
      </div>
    </div>

    <!--<div class="status my-3">
      <div class="status-content">
        <div class="status-heading heading-danger">
          {{'phenology.observation.step1.trees_changed_alert.title' | translate}}
        </div>
        <div class="status-text">
          {{'phenology.observation.step1.trees_changed_alert.text' | translate}}
        </div>
      </div>
    </div>-->

    <div class="form-group mt-2 mb-0">
      <input
        [ngModel]="treeSearchInput"
        (ngModelChange)="setTreeSearchInput($event)"
        name="treeSearchInput"
        class="form-control"
        [placeholder]="'phenology.observation.step1.tree_search_placeholder' | translate" />
    </div>

    <ul *ngIf="displayTrees" class="list-group mt-2">
      <li *ngFor="let tree of displayTrees[currentDisplayTreePage]"
          class="list-group-item list-group-item-action"
          [ngClass]="{'active': tree.id === selectedTree?.id}"
          (click)="selectTree(tree.id); centerTree(tree)"
          (keydown)="selectTree(tree.id); centerTree(tree)">
        <span class="badge badge-light float-right">#{{tree.id}}</span>
        <b>
          {{'tree.species.' + tree.species | lowercase | translate}}
        </b>
        <small [ngClass]="(tree.id === selectedTree?.id) ? 'text-light' : 'text-subtle'">
          {{'tree.species.latin.' + tree.species | lowercase | translate}}
        </small>
        <br/>
        {{'phenology.observation.step1.tree_location' | translate:tree.location}}
      </li>
      <li *ngIf="displayTrees?.length === 0"
          class="list-group-item disabled">
        {{'phenology.observation.step1.tree_not_found' | translate}}
      </li>
    </ul>

    <nav *ngIf="displayTreePagination">
      <ul class="pagination mt-2 mb-0">
        <li class="page-item">
          <a class="page-link"
             (click)="displayTreePage(currentDisplayTreePage-1)"
             (keydown)="displayTreePage(currentDisplayTreePage-1)">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
        </li>
        <li *ngFor="let page of displayTrees; let i = index" class="page-item">
          <a class="page-link"
            [ngClass]="{'active': currentDisplayTreePage === i}"
            (click)="currentDisplayTreePage = i"
            (keydown)="currentDisplayTreePage = i">
            {{i+1}}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link"
             (click)="displayTreePage(currentDisplayTreePage+1)"
             (keydown)="displayTreePage(currentDisplayTreePage+1)">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>

  </div>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" class="status-overlay load load-md"></div>
  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.FAILED)" class="status-overlay">
    <div class="status-content">
      <div class="status-heading heading-danger">
        {{'general.error' | translate}}
      </div>
      <div class="status-text">
        {{'phenology.observation.step1.error_loading.text' | translate}}
      </div>
      <div class="status-controls">
        <button class="btn btn-light float-right" (click)="load()" (keydown)="load()">{{'general.retry' | translate}}</button>
      </div>
    </div>
  </div>

</div>
