<div class="container has-status-overlay">

  <h3>{{'phenology.observation.step1.title' | translate}}</h3>

  <form>
    <div class="row">

      <div class="col">
      <label for="observationDate">{{'phenology.observation.step1.observation_date_label' | translate}}</label>
        <div class="input-group">
          <input type="text"
                 id="observationDate"
                 class="form-control"
                 name="observationDate"
                 #dp="bsDatepicker"
                 bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 [(ngModel)]="dataset.uiObservationDate"
                 [maxDate]="dataset.uiMaxObservationDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary d-flex" type="button" (click)="dp.toggle()">
              <i class="i i-xs i-calendar i-dark" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="pr-3">
        <div class="input-group timepicker-container mb-2">
            <timepicker
              id="observationTime"
              name="observationTime"
              [(ngModel)]="dataset.uiObservationDate"
              [showMeridian]="false"
              [max]="dataset.uiMaxObservationDate">
            </timepicker>
        </div>
      </div>

    </div>
  </form>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" class="load load-md p-5"></div>

  <div [ngClass]="{'hide-map': !hasStatus(StatusKey.TREES, StatusValue.SUCCESSFUL)}" class="form-group map-container mb-0">

    <ul *ngIf="selectedTree" id="selected-tree" class="list-group">
      <li class="list-group-item">
        <span class="badge badge-light float-right">#{{selectedTree.id}}</span>
        <b>{{'tree.species.' + selectedTree.species.name | lowercase | translate}}</b>
        {{'phenology.observation.step1.tree_location' | translate:selectedTree.location}}
      </li>
    </ul>

    <div class="map-wrapper mb-2">
      <ut-map
        [markers]="availableTrees"
        [selectedMarker]="selectedTree"
        (selectedMarkerChange)="selectTree($event)"
        errorText="phenology.observation.step1.map_error_text"></ut-map>
    </div>

    <ut-tree-select
      [selectedTree]="selectedTree"
      (selectedTreeChange)="selectTree($event)"
      [availableTrees]="availableTrees"
    ></ut-tree-select>

  </div>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" class="status-overlay load load-md"></div>
  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.FAILED)" class="status-overlay overlay-fixed">
    <div class="status-content">
      <div class="status-heading heading-danger">
        {{'general.error' | translate}}
      </div>
      <div class="status-text">
        {{'phenology.observation.step1.error_loading.text' | translate}}
      </div>
      <div class="status-controls">
        <button class="btn btn-light float-right" (click)="load()" (keydown)="load()">{{'general.retry' | translate}}</button>
      </div>
    </div>
  </div>

</div>
