<div class="container has-status-overlay">

  <h3>{{'phenology.observation.step1.title' | translate}}</h3>

  <form>
    <div class="row">

      <div class="col">
      <label for="observationDate">{{'phenology.observation.step1.observation_date_label' | translate}}</label>
        <div class="input-group">
          <input type="text"
                 id="observationDate"
                 class="form-control"
                 name="observationDate"
                 #dp="bsDatepicker"
                 bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                 [(ngModel)]="dataset.uiObservationDate"
                 [maxDate]="dataset.uiMaxObservationDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="dp.toggle()">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="input-group timepicker-container mb-2">
            <timepicker
              id="observationTime"
              name="observationTime"
              [(ngModel)]="dataset.uiObservationDate"
              [showMeridian]="false"
              [max]="dataset.uiMaxObservationDate">
            </timepicker>
        </div>
      </div>

    </div>
  </form>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" style="text-align: center; margin: 10%">
    <img class="load-md" src="/assets/tail-spin.svg" />
  </div>

  <div [ngClass]="{'hide-map': !hasStatus(StatusKey.TREES, StatusValue.SUCCESSFUL)}" class="form-group map-container mb-0">

    <div id="map" class="has-status-overlay" (click)="onMapClick($event)">
      <div *ngIf="hasStatus(StatusKey.MAP, StatusValue.IN_PROGRESS)" class="status-overlay center">
        <img class="load-md" src="/assets/tail-spin.svg" />
      </div>
      <div *ngIf="hasStatus(StatusKey.MAP, StatusValue.FAILED)" class="status-overlay">
        <div class="status-overlay-content">
          <div class="status-overlay-heading heading-danger">
            {{'general.error' | translate}}
          </div>
          <div class="status-overlay-text">
            {{'phenology.observation.step1.error_map.text' | translate}}
          </div>
          <div class="status-overlay-controls">
            <button class="btn btn-light float-right" (click)="load()" (keydown)="load()">{{'general.retry' | translate}}</button>
          </div>
        </div>
      </div>
      <div id="osm-copyright">&copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>
        contributors
      </div>
      <div id="activator" [ngClass]="{'disabled': isMapEnabled || hasStatus(StatusKey.MAP, StatusValue.IN_PROGRESS)}" (click)="isMapEnabled = true">
        {{'phenology.observation.step1.map_activator' | translate}}
      </div>
    </div>

    <div class="form-group mt-2 mb-0">
      <input
        [ngModel]="treeSearchInput"
        (ngModelChange)="setTreeSearchInput($event)"
        name="treeSearchInput"
        class="form-control"
        [placeholder]="'phenology.observation.step1.tree_search_placeholder' | translate" />
    </div>

    <ul class="list-group mt-2">
      <li *ngFor="let tree of this.displayTrees"
          class="list-group-item list-group-item-action"
          [ngClass]="{'active': tree.selected}"
          (click)="selectTree(tree.id); centerTree(tree)"
          (keydown)="selectTree(tree.id); centerTree(tree)">
        <span class="badge badge-light float-right">#{{tree.id}}</span>
        <b>{{'tree.species.' + tree.species | lowercase | translate}}</b>
        <br/>
        {{'phenology.observation.step1.tree_location' | translate:tree.location}}
      </li>
      <li *ngIf="this.displayTrees?.length === 0"
          class="list-group-item disabled">
        {{'phenology.observation.step1.tree_not_found' | translate}}
      </li>
    </ul>

  </div>

  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)" class="status-overlay center">
    <img class="load-md" src="/assets/tail-spin.svg" />
  </div>
  <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.FAILED)" class="status-overlay">
    <div class="status-overlay-content">
      <div class="status-overlay-heading heading-danger">
        {{'general.error' | translate}}
      </div>
      <div class="status-overlay-text">
        {{'phenology.observation.step1.error_loading.text' | translate}}
      </div>
      <div class="status-overlay-controls">
        <button class="btn btn-light float-right" (click)="load()" (keydown)="load()">{{'general.retry' | translate}}</button>
      </div>
    </div>
  </div>

</div>
