<div *ngIf="!selectedBeacon"
     class="d-flex flex-row align-items-center text-subtle">
  <i class="i i-sm i-dark i-info mr-2"></i>
  {{'tree.beacon.details.no_beacon_found' | translate}}
</div>
<div *ngIf="selectedBeacon"
     class="outer-container d-flex flex-row flex-wrap flex-lg-nowrap m--2">
  <div class="list-container d-flex d-lg-block flex-row">

    <!-- Content of beacon selection dropdown -->
    <ng-template #beaconSelectionContent>
      <div *ngFor="let beacon of beacons; let i = index"
           (click)="selectedBeaconIndex = i; loadBeaconData()"
           [ngClass]="{'mr-0 selected': selectedBeaconIndex === i, 'mr-2': selectedBeaconIndex !== i}"
           class="list-entry text-nowrap p-2">
        <i class="i i-beacon i-dark p-2 mr-1"></i>
        <i *ngIf="beacon.status === BeaconStatus.LOCKED || beacon.status === BeaconStatus.INVALID_SETTINGS"
           class="i i-dark i-xs mr-1"
           [ngClass]="{'i-lock-closed-sm': beacon.status === BeaconStatus.LOCKED, 'i-signal-issue-sm': beacon.status === BeaconStatus.INVALID_SETTINGS}"></i>
        <i *ngIf="beacon.status === BeaconStatus.INITIAL" class="feature-pointer mr-1"></i>
        <a class="link" [ngClass]="{'active': beacon === selectedBeacon}">
          Beacon {{beacon.deviceId}}
        </a>
      </div>
    </ng-template>

    <ng-template [ngTemplateOutlet]="beaconSelectionContent"></ng-template>
    <div dropdown class="dropdown">
      <a dropdownToggle class="link plain p-2">
        <i class="i i-xxs i-dark i-dots align-middle"></i>
      </a>
      <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <ng-template [ngTemplateOutlet]="beaconSelectionContent"></ng-template>
      </div>
    </div>

    <div *ngIf="modify"
         (click)="onAddBeaconClick()"
         class="list-entry text-nowrap p-2 mr-2">
      <i class="i i-beacon-add-info mr-1"></i>
      <a class="link primary">
        Add beacon
      </a>
    </div>

  </div>
  <div class="p-2 flex-grow-1 beacon-info-wrapper d-flex flex-column">

    <div class="d-flex flex-row justify-content-between">
      <div class="content-cat-heading">
        Beacon {{selectedBeacon.deviceId}}
        <i *ngIf="selectedBeacon.status === BeaconStatus.LOCKED || selectedBeacon.status === BeaconStatus.INVALID_SETTINGS"
           class="i i-dark i-xs ml-1"
           [ngClass]="{'i-lock-closed-sm': selectedBeacon.status === BeaconStatus.LOCKED, 'i-signal-issue-sm': selectedBeacon.status === BeaconStatus.INVALID_SETTINGS}"></i>

        <ut-loading-status
          errorDescription="tree.beacon.data.error"
          [status]="getStatusObservable(StatusKey.BEACON_DATA)"
          [error]="getStatusErrorObservable(StatusKey.BEACON_DATA)"></ut-loading-status>

      </div>
      <div *ngIf="showData">
        <div dropdown class="btn-group">
          <button dropdownToggle type="button" class="btn btn-sm btn-outline-dark dropdown-toggle">
            {{currentBeaconDataMode | translate}}
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <a *ngFor="let mode of BEACON_DATA_MODE_KEYS;" class="dropdown-item" (click)="loadBeaconData(BeaconDataMode[mode]);">{{BeaconDataMode[mode] | translate}}</a>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!modify && selectedBeacon.status === BeaconStatus.LOCKED"
         class="alert alert-dark my-2">
      <i class="i i-black i-lock-closed flex-shrink-0 mr-3"></i>
      {{'tree.beacon.details.status_locked' | translate}}
    </div>

    <div *ngIf="!modify && selectedBeacon.status === BeaconStatus.INVALID_SETTINGS"
         class="alert alert-dark my-2">
      <i class="i i-black i-signal-issue flex-shrink-0 mr-2"></i>
      {{'tree.beacon.details.status_invalid_settings' | translate}}
    </div>

    <div *ngIf="!modify && selectedBeacon.status === BeaconStatus.INITIAL"
         class="alert alert-dark my-2">
      <i class="i i-black i-beacon flex-shrink-0 mr-2"></i>
      {{'tree.beacon.details.status_initial' | translate}}
    </div>

    <div *ngIf="showData && selectedBeacon.chartData && selectedBeacon.datasets?.length > 0" class="chart-wrapper my-2">
      <div class="chart-wrapper-inner">

        <ngx-charts-line-chart
          [scheme]="colorScheme"
          [results]="selectedBeacon.chartData"
          [gradient]="true"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [legendPosition]="'below'"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="'tree.beacon.chart.xAxisLabel' | translate"
          [autoScale]="true"
          [roundDomains]="true"
          [maxYAxisTickLength]="2">
        </ngx-charts-line-chart>

      </div>
    </div>

    <div *ngIf="showData && hasStatus(StatusKey.BEACON_DATA, StatusValue.SUCCESSFUL) && !(selectedBeacon.chartData && selectedBeacon.datasets?.length > 0)" class="beacon-warning">
      <div class="i mr-2"></div>
      {{'tree.beacon.data.missing' | translate}}
    </div>

    <div *ngIf="modify" class="beacon-settings mt-3">

      <table class="table table-striped">
        <tr>
          <td>Device ID</td>
          <td>{{selectedBeacon.deviceId}}</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>{{selectedBeacon.bluetoothAddress}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            {{selectedBeacon.status}}
            <div *ngIf="selectedBeacon.status === 'LOCKED' || selectedBeacon.status === 'INVALID_SETTINGS'"
                 class="d-flex align-items-center mt-2 text-sm text-danger">
              <i class="i i-sm i-special i-warning-danger mr-2"></i>
              <div *ngIf="selectedBeacon.status === 'LOCKED'">
                This beacon has a PIN that is not equal to the one shown below and can't be accessed.
              </div>
              <div *ngIf="selectedBeacon.status === 'INVALID_SETTINGS'">
                This beacon has invalid settings that <b>prevent read-out</b>.
              </div>
            </div>
          </td>
        </tr>
      </table>

      <div class="mt-3 d-flex justify-content-end">

        <ng-template #removeBeaconConfirm>
          <div class="mb-1">
            Do you really want to remove this beacon?
          </div>
          <div *ngIf="selectedBeacon.deleteStatus === StatusValue.FAILED" class="d-flex justify-content-center text-danger mb-1">
            <i class="i i-sm i-warning-danger mr-2"></i>
            Failed to remove
          </div>
          <button *ngIf="selectedBeacon.deleteStatus === undefined || selectedBeacon.deleteStatus === StatusValue.FAILED"
                  class="btn btn-danger btn-block"
                  (click)="onRemoveBeaconClick(selectedBeacon); $event.stopPropagation()">
            Yes, remove
          </button>
          <button *ngIf="selectedBeacon.deleteStatus === StatusValue.IN_PROGRESS" class="btn btn-danger btn-block">
            <i class="i i-sm i-spin i-load float-left"></i>
            Removing
          </button>
          <div *ngIf="selectedBeacon.deleteStatus === StatusValue.SUCCESSFUL" class="d-flex justify-content-center text-success my-2">
            <i class="i i-sm i-check-success mr-2"></i>
            Successfully removed!
          </div>
        </ng-template>
        <div *ngIf="selectedBeacon.logs.length === 0 && selectedBeacon.logLoadingStatus === StatusValue.IN_PROGRESS" class="beacon-message text-sm mr-4">
          <i class="i i-sm i-spin i-dark i-load mr-2"></i>
          Loading beacon logs...
        </div>
        <div *ngIf="selectedBeacon.logs.length === 0 && selectedBeacon.logLoadingStatus === StatusValue.FAILED" class="beacon-warning text-sm mr-4">
          <i class="i i-sm mr-2"></i>
          Could not load beacon logs
        </div>
        <button *ngIf="!selectedBeacon.isLogsShown"
                (click)="selectedBeacon.isLogsShown = true; loadBeaconLogsInitial(selectedBeacon)"
                class="btn btn-sm btn-outline-dark d-flex text-center mr-2">
          <i class="i i-xs i-dark i-log mr-1"></i>
          Show logs
        </button>
        <button *ngIf="selectedBeacon.isLogsShown"
                (click)="selectedBeacon.isLogsShown = false;"
                class="btn btn-sm btn-outline-dark d-flex text-center mr-2">
          <i class="i i-xs i-dark i-log mr-1"></i>
          Hide logs
        </button>
        <div dropdown class="btn-group mr-2">
          <button dropdownToggle type="button" class="btn btn-sm btn-outline-dark dropdown-toggle">
            <i class="i i-xs i-dark i-warning mr-1 float-left"></i>
            Log Level: {{selectedMinLogSeverity}}
          </button>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
            <a *ngFor="let severity of BEACON_LOG_SEVERITY;" class="dropdown-item" (click)="setBeaconLogSeverity(BeaconLogSeverity[severity])">
              {{severity}}
            </a>
          </div>
        </div>
        <button class="btn btn-sm btn-outline-danger d-flex text-center"
                [ngClass]="{'remove-disabled': selectedBeacon.deleteStatus === StatusValue.SUCCESSFUL}"
                [popover]="removeBeaconConfirm"
                outsideClick=true>
          <i class="i i-xs i-trash-danger mr-1"></i>
          Remove beacon
        </button>

      </div>

      <div *ngIf="selectedBeacon.isLogsShown && selectedBeacon.logs.length > 0">

        <hr/>

        <table class="table table-sm table-striped logs mb-0" *ngIf="selectedBeacon.logs?.length > 0">
          <tr *ngFor="let log of selectedBeacon.logs">
            <td>
              <div class="log-severity" [ngClass]="'level-' + log.severity | lowercase">{{log.severity}}</div>
            </td>
            <td>
              {{log.message}}
            </td>
            <td>
              {{log.eventDate | date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
          </tr>
        </table>

        <div *ngIf="selectedBeacon.logLoadingStatus === StatusValue.SUCCESSFUL && selectedBeacon.canShowMoreLogs"
             (click)="loadBeaconLogs(selectedBeacon)"
             class="btn btn-sm btn-block btn-link">
          Load more
        </div>
        <div *ngIf="selectedBeacon.logLoadingStatus === StatusValue.SUCCESSFUL && !selectedBeacon.canShowMoreLogs"
             class="text-subtle text-sm text-center my-2">
          All logs loaded
        </div>
        <div *ngIf="selectedBeacon.logLoadingStatus === StatusValue.IN_PROGRESS" class="beacon-message text-sm my-2">
          <i class="i i-sm i-spin i-dark i-load mr-2"></i>
          Loading beacon logs...
        </div>
        <div *ngIf="selectedBeacon.logLoadingStatus === StatusValue.FAILED"
             class="beacon-warning text-sm my-2">
          <i class="i i-sm mr-2"></i>
          Could not load more logs
        </div>

      </div>

      <div *ngIf="selectedBeacon.logs.length === 0 && !selectedBeacon.canShowMoreLogs && selectedBeacon.isLogsShown">
        <hr/>
        <div class="beacon-warning my-2">
          <i class="i mr-2"></i>
          No logs found for given log levels
        </div>
      </div>

      <hr/>

      <div *ngIf="selectedBeacon.settingsLoadingStatus === StatusValue.IN_PROGRESS" class="beacon-message my-4">
        <i class="i i-spin i-dark i-load mr-2"></i>
        Loading beacon settings...
      </div>

      <div *ngIf="selectedBeacon.settingsLoadingStatus === StatusValue.FAILED" class="beacon-warning my-4">
        <i class="i mr-2"></i>
        Could not load beacon settings
      </div>

      <div *ngIf="selectedBeacon.settings">

        <table class="table table-striped">
          <tr>
            <td>PIN</td>
            <td class="pin">{{selectedBeacon.settings.pin}}</td>
          </tr>
          <tr>
            <td>Reference Date</td>
            <td>{{selectedBeacon.settings.refTime}} <small>(original device-local date; not UTC)</small></td>
          </tr>
          <tr>
            <td>Battery Level</td>
            <td>
              {{calcEffectiveBatteryLevel(selectedBeacon.settings.batteryLevel)}} %
              <small>(estimated capacity)</small>
              <span class="battery-popover-btn ml-2 i i-xs i-dark i-info pointer"
                    [popover]="batteryPopover"
                    outsideClick=true
                    container="body"
                    placement="top"
              ></span>
              <ng-template #batteryPopover>
                Actual percentage received from device: <b>{{selectedBeacon.settings.batteryLevel}} %</b>
                <div class="pt-1 battery-popover-warning-text d-flex justify-content-center align-items-center">
                  <div class="pr-2"><span class="i i-sm i-special i-warning-warning"></span></div>
                  <div>
                    Battery percentage from the device ({{selectedBeacon.settings.batteryLevel}} %) is
                    misleading and does not represent the capacity, but <b>voltage</b>.
                  </div>
                </div>
              </ng-template>
            </td>
          </tr>
          <tr>
            <td>Firmware version</td>
            <td>{{selectedBeacon.settings.firmwareVersionCode}}</td>
          </tr>
          <tr>
            <td>Logging interval</td>
            <td>{{selectedBeacon.settings.loggingIntervalSec}} sec</td>
          </tr>
          <tr>
            <td>Sensor interval</td>
            <td>{{selectedBeacon.settings.sensorIntervalSec}} sec</td>
          </tr>
          <tr>
            <td>Transmit power</td>
            <td>{{selectedBeacon.settings.transmitPowerDb}} db</td>
          </tr>
        </table>

        <div class="text-center text-subtle text-sm">
          <div *ngIf="selectedBeacon.status !== 'INITIAL'; else beaconSettingsNotFetched">
            Settings last fetched from device at {{selectedBeacon.settings.checkDate}}
          </div>
          <ng-template #beaconSettingsNotFetched>
            Settings are placeholder until they are fetched by the app at least once.
          </ng-template>
        </div>

      </div>

    </div>

</div>

<div *ngIf="beacons?.length === 0" class="beacon-warning">
  <div class="i mr-2"></div>
  {{'tree.beacon.details.none_attached' | translate}}
</div>
