<div class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading d-block">Citizen Science Award 2020</h1>

    <div class="d-flex flex-row align-items-start my-3">
      <span class="flex-shrink-0 badge primary mr-1 text-sm">{{'phen_obs.step' | translate}} 1</span>

      <div>
        <h1 class="content-cat-heading">
          Fill out the e-mail template and request access.
        </h1>

        <div class="d-inline-flex flex-row align-items-center">
          <i class="i i-sm i-send i-dark mr-1"></i>
          <a class="link"
             href="mailto:laurenz.fiala@sbg.ac.at?subject=Citizen Science Award User/Tree request&body=test">
            Request access now
          </a>
        </div>
      </div>
    </div>

    <hr/>

    <div class="my-3">
      <h1 class="content-cat-heading">
        <span class="badge primary mr-1">{{'phen_obs.step' | translate}} 2</span>
        We will respond to your request via e-mail within 2 business days.
      </h1>

      <div>
        This e-mail will contain a one-time login-link where you can set a password for yourself (or for your group/school class).
        Also, it will contain a link to the phenology observation page, where you can start observations as soon as you set your password.
      </div>
    </div>

    <hr/>

    <div class="my-3">
      <h1 class="content-cat-heading">
        <span class="badge primary mr-1">{{'phen_obs.step' | translate}} 3</span>
        Use your login-link to set a password.
      </h1>

      <div>
        <div class="alert alert-danger">
          <i class="i i-sm i-warning-danger mr-1"></i>
          Once you use the login-link, it doesn't work anymore. If you have problems setting your password, please request a new login-link.
        </div>
      </div>
    </div>

    <hr/>

    <div class="my-3">
      <h1 class="content-cat-heading">
        <span class="badge primary mr-1">{{'phen_obs.step' | translate}} 4</span>
        Share the credentials with your group or class. (This only applies to groups)
      </h1>

      <div>
        Start to enter phenology observations for your trees.
      </div>
    </div>

  </div>
</div>
