.card {
  border-color: @lightBorderColor;
}

.card a {
  cursor: pointer;
  color: @linkColor !important;
  text-decoration: @linkDecoration !important;

  &:hover {
    color: @linkHoverColor !important;
    text-decoration: @linkHoverDecoration !important;
  }
}

.navbar.navbar-light {
  background-color: white;
}

.navbar-toggler {
  border: 0;
}

.nav-pills .nav-link.active {
  background-color: @secondaryColorHighlight;
}

/**
  Add new breakpoint to some components which need it.
 */
@media (min-width: 400px) {
  .navbar-expand-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xs .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xs > .container,
  .navbar-expand-xs > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xs .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-xs .navbar-toggler {
    display: none;
  }
  .navbar-expand-xs .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}

.btn {
  &.btn-dark {
    background-color: @darkBgColor;
    border-color: @darkBorderColor;
  }

  &.btn-outline-secondary {
    border-color: @darkBorderColor;
  }
}

.list-group-item {
  border-color: @lightBorderColor;

  &.active {
    background-color: @secondaryColorHighlight;
    border-color: @secondaryColorHighlight;
  }
}

input.form-control {
  border-color: @lightBorderColor;
}

hr {
  border-color: @lightBorderColor;
}
