.card {
  border-color: @lightBorderColor;
}

.card a {
  cursor: pointer;
  color: @linkColor !important;
  text-decoration: @linkDecoration !important;

  &:hover {
    color: @linkHoverColor !important;
    text-decoration: @linkHoverDecoration !important;
  }
}

.navbar {
  z-index: 1;

  &.navbar-light {
    background-color: white;
  }
}

.navbar-toggler {
  border: 0;
}

.nav-pills .nav-link.active {
  background-color: @secondaryColorHighlight;
}

/**
  Add new breakpoint to some components which need it.
 */
@media screen and (min-width: 400px) {
  .navbar-expand-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xs .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xs > .container,
  .navbar-expand-xs > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xs .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-xs .navbar-toggler {
    display: none;
  }
  .navbar-expand-xs .dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
  }
}

.btn {
  &.btn-dark {
    background-color: @darkBgColor;
    border-color: @darkBorderColor;
  }

  &.btn-outline-secondary {
    border-color: @darkBorderColor;
  }
}

.list-group-item {
  border-color: @lightBorderColor;

  &.active {
    background-color: @secondaryColorHighlight;
    border-color: @secondaryColorHighlight;
  }
}

.page-link:hover {
  background-color: @medLightBgColor;
}

.input-group-append {
  line-height: 1;
}

input.form-control,
textarea.form-control,
label.custom-file-label:after,
label.custom-file-label,
.page-link,
.page-link:hover,
hr {
  border-color: @lightBorderColor;
}

.text-subtle{
  color: @darkGrey;
}

.btn,
.badge,
.card,
.form-control,
.custom-file-label,
.custom-file-label:after {
  border-radius: @borderRadiusOuterNew;
}

.custom-file {

  > .custom-file-input {

    &.is-invalid ~ .custom-file-label {
      border: solid @lightBorderColor 1px;

      &:after {
        background-color: @danger;
        color: white;
      }
    }
  }
}

.custom-file-label {
  color: @darkGrey; // change

  &.is-invalid {
    border: solid @lightBorderColor 1px;
  }

  &:after {
    border: 0;
    margin: 0.3rem;
    background-color: @bgColor;
    box-shadow: 0 1px 1px @darkBgColor;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    border-radius: @borderRadius;
  }
}

.input-group {
  > .form-control:first-child {
    border-right: 0 !important;
  }

  > .input-group-append {
    border: solid @lightBorderColor 1px;
    border-bottom-right-radius: @borderRadiusNew;
    border-top-right-radius: @borderRadiusNew;

    > .input-group-text {
      border: 0;
      margin: 0.3rem;
      background-color: @lightBgColor;
      box-shadow: 0 1px 1px @darkBgColor;
      font-size: 0.8rem;
      border-radius: @borderRadius;

      &.is-invalid {
        color: white;
        background-color: @danger;
      }
    }
  }
}

.list-group .list-group-item {

  &:first-child {
    border-top-left-radius: @borderRadius;
    border-top-right-radius: @borderRadius;
  }
  &:last-child {
    border-bottom-left-radius: @borderRadius;
    border-bottom-right-radius: @borderRadius;
  }
}

tabset .nav {

  .nav-item {
    margin-right: 0.5rem;

    .nav-link {
      border-radius: @borderRadius;
      color: black;
      background-color: @lightBgColor;

      &.active {
        background-color: @secondaryColorHighlight;
        color: @white;
      }
    }
  }
}

.table.no-top-border {

  tr:first-child {
    th,
    td {
      border-top: none;
    }
  }
}
