// custom link button theme
.link-btn,
a.link-btn,
a.link-btn:not([href]):not([tabindex]) {
  display: inline-flex;
  align-items: center;
  padding: (@gutter/2);
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  color: @linkColor;
  border: @linkBorder;
  background-color: transparent;
  transition: none;
  cursor: pointer;

  user-select: none;

  .link-container:hover &,
  .link-container:active &,
  .link-container:focus &,
  .link-container.active &,
  &:hover,
  &:active,
  &.active,
  &:focus {
    text-decoration: none;
    color: @linkHoverColor !important;
    border-color: @linkHoverColor !important;
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    pointer-events: auto;
  }

  &.link-btn-xl {
    font-size: @fontSizeExtraLarge;
  }

  &.link-btn-lg {
    font-size: @fontSizeLarge;
  }

  &.link-btn-md {
    font-size: @fontSizeMedium;
  }

  &.link-btn-sm {
    font-size: @fontSizeSmall;
  }

  &.link-btn-xs {
    font-size: @fontSizeExtraSmall;
    padding: (@gutter/4);
  }

  &.danger {
    color: lighten(@dangerDark, 15%) !important;
    border-color: lighten(@dangerDark, 15%) !important;

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:focus {
      color: @dangerDark !important;
      border-color: @dangerDark !important;
    }
  }

  &.primary {
    color: lighten(@primaryColor, 15%) !important;
    border-color: lighten(@primaryColor, 15%) !important;

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:focus {
      color: @primaryColor !important;
      border-color: @primaryColor !important;
    }
  }

  &.success {
    color: lighten(@successDark, 15%) !important;
    border-color: lighten(@successDark, 15%) !important;

    &.highlight {
      animation: -anim-btn-success @btnAnimDuration infinite ease-in;

      &.once {
        animation-iteration-count: 1;
      }
    }

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:focus {
      color: @successDark !important;
      border-color: @successDark !important;
    }
  }

  &.warning {
    color: lighten(@warningDark, 15%) !important;
    border-color: lighten(@warningDark, 15%) !important;

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:focus {
      color: @warningDark !important;
      border-color: @warningDark !important;
    }
  }
}

@keyframes -anim-btn-success {
  0% {
    box-shadow: 0 0 0 0px fade(lighten(@successDark, 5%), 60%);
  }
  75% {
    box-shadow: 0 0 0 3px fade(lighten(@successDark, 5%), 25%);
  }
  100% {
    box-shadow: 0 0 0 6px fade(lighten(@successDark, 5%), 0%);
  }
}
