// all fonts used in the project

@font-face {
  font-family: 'Source Code Pro';
  src: url("/assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Bellota';
  src: url("/assets/fonts/Bellota-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Bellota Light';
  src: url("/assets/fonts/Bellota-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'CrimsonText Regular';
  src: url("/assets/fonts/CrimsonText-Regular.ttf") format("truetype");
}
