
@spinAnimationDuration: 1.25s;
@iconPath: ~"/assets/img/icon/";
@iconDirLight: ~"light/";
@iconDirDark: ~"dark/";
@iconDirBlack: ~"black/";
@iconDirSpecial: ~"special/";
@iconSuffix: ~".svg";

// icons in standard color scheme light/dark/black
@icons:
  ~"admin",
  ~"announce",
  ~"arrow-down",
  ~"arrow-left",
  ~"arrow-right",
  ~"arrow-up",
  ~"beacon",
  ~"calendar",
  ~"check",
  ~"check-boxed",
  ~"clipboard",
  ~"clock",
  ~"clock-from",
  ~"clock-to",
  ~"cog",
  ~"cross",
  ~"cross-circle",
  ~"display",
  ~"no-display",
  ~"document-protect",
  ~"dots",
  ~"infopage",
  ~"key",
  ~"leaf",
  ~"link",
  ~"load",
  ~"lock-closed",
  ~"lock-open",
  ~"login",
  ~"login-failed",
  ~"logout",
  ~"pause",
  ~"password-reset",
  ~"play",
  ~"plus",
  ~"search",
  ~"stop",
  ~"trash",
  ~"tree",
  ~"user",
  ~"username",
  ~"volume-low",
  ~"volume-med",
  ~"volume-high"
;

// icons in special folder (e.g. not adhering to std. color scheme)
@iconsSpecial:
  ~"beacon-info",
  ~"check-success",
  ~"cross-danger",
  ~"display-success",
  ~"no-display-danger",
  ~"info-info",
  ~"new-badge",
  ~"trash-danger",
  ~"warning-danger",
  ~"warning-warning"
;

// --------------------

.i {
  display: inline-block;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  .i-md();
}

// --------------------

.i-spin {
  animation: i-spin-keyframes @spinAnimationDuration infinite linear;
}

.i-spin-clockwise {
  animation: i-spin-keyframes @spinAnimationDuration infinite reverse;
}

@keyframes i-spin-keyframes
{
  0%   {transform: rotate(360deg); transform-origin: 50% 50%;}
  100% {transform: rotate(0deg); transform-origin: 50% 50%;}
}

// --------------------

.i-xxs {
  width: 1rem;
  height: 1rem;
}

.i-xs {
  width: 1.25rem;
  height: 1.25rem;
}

.i-sm {
  width: 1.5rem;
  height: 1.5rem;
}

.i-md {
  width: 1.75rem;
  height: 1.75rem;
}

.i-lg {
  width: 2.5rem;
  height: 2.5rem;
}

.i-xl {
  width: 3.5rem;
  height: 3.5rem;
}

// --------------------

.i-width-only {
  height: auto;
}

// --------------------

.loop(@i) when (@i <= length(@icons)) {
  @name: extract(@icons, @i);

  .i-@{name} {
    background-image: url("@{iconPath}@{iconDirLight}@{name}@{iconSuffix}");

    &.i-dark {
      background-image: url("@{iconPath}@{iconDirDark}@{name}@{iconSuffix}");
    }
    &.i-black {
      background-image: url("@{iconPath}@{iconDirBlack}@{name}@{iconSuffix}");
    }
  }

  .loop((@i + 1));
}

.loop(1);


// --------------------

.loopSpecial(@i) when (@i <= length(@iconsSpecial)) {
  @name: extract(@iconsSpecial, @i);

  .i-@{name} {
    background-image: url("@{iconPath}@{iconDirSpecial}@{name}@{iconSuffix}");
  }

  .loopSpecial((@i + 1));
}

.loopSpecial(1);
