.hidden {
  display: none !important;
}

.no-gutter,
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

@keyframes loading-spin {
  0% {
    border-top-color: @primaryColorHighlight;
  }
  25% {
    border-top-color: @secondaryColorHighlight;
  }
  50% {
    border-top-color: @primaryColorHighlight;
  }
  75% {
    border-top-color: @secondaryColorHighlight;
  }
  100% {
    border-top-color: @primaryColorHighlight;
    transform: rotate(1080deg);
  }
}

.load {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;

    border-radius: 50%;
    border: solid @lightBorderColor 6px;
    border-top-color: @primaryColorHighlight;
    width: 80px;
    height: 80px;
    animation: loading-spin 3s linear infinite;
  }

}

.load-xs {
  padding: 2px;
}

.load-sm {
  padding: 2rem;
}

.load-md {
  padding: 6rem;
}

.load-lg {
  padding: 10rem;
}

.text-sm {
  font-size: 0.9em;
}

.text-xs {
  font-size: 0.7em;
}

.text-info {
  color: @info !important;
}

.text-success {
  color: @success !important;
}

.text-warning {
  color: @warning !important;
}

.text-danger {
  color: @danger !important;
}

.pointer {
  cursor: pointer;
}

#typeTabs {
  > ul {
    margin-bottom: 0.5rem;
  }
}

.btn > .btn-icon {
  padding-left: @btnIconPadding;
}

.round {
  .round-left();
  .round-right();
}

.round-top {
  border-top-left-radius: @borderRadiusNew;
  border-top-right-radius: @borderRadiusNew;
}

.round-left {
  border-bottom-left-radius: @borderRadiusNew;
}

.round-right {
  border-bottom-right-radius: @borderRadiusNew;
}

.round-children {

  > *:first-child {
    .round-left();
  }

  > *:last-child {
    .round-right();
  }
}

// overwrite focus outline & border
textarea:focus,
textarea.form-control:focus,
.form-control:focus,
.btn:focus {
  box-shadow: 0 0 0 @focusOutlineWidth @focusOutlineColor;
  border-color: @focusBorderColor;
}

// utilities
.word-break-all {
  word-break: break-all;
}

// default content elements
.content-cat {
  padding: @gutter2x 0;

  &:nth-child(even) {
    background-color: @lightBgColor;
  }
}

.content-cat-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: @fontSizeLarge;
  color: @darkerGrey;
  margin-top: -(@fontSizeLarge/3);
  margin-bottom: (@gutter - (@fontSizeLarge/3));

  .i:first-child {
    margin-right: (@gutter/2);
  }
}

.content-cat-subheading {
  font-size: @fontSizeMedium;
  color: @darkerGrey;
  margin-bottom: @gutter;
}

.content-cat-separator {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: @gutter 0;

  .separator {
    flex-grow: 1;
    height: 0;
    border-bottom: solid @medGrey 1px;
  }
  .separator-content {
    padding: 0 @gutter;
    color: @subtleTextColor;
  }
}

.badge {
  display: inline-block;
  padding: (@gutter/2);
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  color: @linkColor;
  background-color: lighten(@linkColor, 40%);

  &.badge-xl {
    font-size: @fontSizeExtraLarge;
  }

  &.badge-lg {
    font-size: @fontSizeLarge;
  }

  &.badge-md {
    font-size: @fontSizeBase;
  }

  &.badge-sm {
    font-size: @fontSizeSmall;
  }

  &.badge-xs {
    font-size: @fontSizeExtraSmall;
  }

  &.danger {
    color: @dangerDark;
    background-color: @dangerBg;
  }

  &.primary {
    color: @primaryColor;
    background-color: lighten(@primaryColor, 45%);
  }

  &.success {
    color: @successDark;
    background-color: @successBg;
  }

  &.warning {
    color: @warningDark;
    background-color: @warningBg;
  }

  &.info {
    color: @infoDark;
    background-color: @infoBg;
  }
}

.content-cat-link,
.link {
  display: inline-block;
  cursor: pointer;
  border-bottom: @linkBorder;
  padding-bottom: 1px;
  text-decoration: none;
  color: @linkColor;

  .link-container[target="_blank"] &:after,
  &[target="_blank"]:after {
    content: " >";
  }

  .link-container:hover &,
  .link-container:active &,
  .link-container:focus &,
  .link-container.active &,
  &:hover,
  &:active,
  &.active,
  &:focus {
    text-decoration: none;
    color: @linkHoverColor !important;
    border-bottom-color: @linkHoverColor !important;
  }

  &.danger {
    color: lighten(@dangerDark, 15%) !important;
    border-bottom-color: lighten(@dangerDark, 15%) !important;

    &:hover,
    &:active,
    &.active,
    &:focus {
      text-decoration: none;
      color: @dangerDark !important;
      border-bottom-color: @dangerDark !important;
    }
  }

  &.primary {
    color: lighten(@primaryColor, 15%) !important;
    border-bottom-color: lighten(@primaryColor, 15%) !important;

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:active,
    &.active,
    &:focus {
      text-decoration: none;
      color: @primaryColor !important;
      border-bottom-color: @primaryColor !important;
    }
  }

  &.success {
    color: lighten(@successDark, 15%) !important;
    border-bottom-color: lighten(@successDark, 15%) !important;

    .link-container:hover &,
    .link-container:active &,
    &:hover,
    &:active,
    &.active,
    &:focus {
      text-decoration: none;
      color: @successDark !important;
      border-bottom-color: @successDark !important;
    }
  }

  &.plain {
    border: 0;
  }
}

.link-container {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.text-link {
  color: @linkColor;
}

// remove bootstrap default style
.content-cat-link,
.link,
a.link {
  &:not([href]):not([tabindex]) {
    color: @linkColor;
  }
}

.content-cat-link {
  margin-top: @gutter;
}

.content-cat-highlight-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  margin: -10px;

  > .item,
  > .item-v,
  > .item-h {
    margin: 10px;
  }

  .item,
  .item-v,
  .item-h {
    flex-basis: 0;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    &:last-child {
      flex-grow: 0;
    }

    &.item-h {
      flex-direction: row;
    }

    .icon {
      margin-right: @gutter;
    }
    .desc {
      color: @subtleTextColor;
      word-break: keep-all;
      white-space: nowrap;
    }
    .big {
      font-size: @fontSizeExtraLarge;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

.content-cat-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -@gutter;

  > * {
    margin: @gutter;
  }
}

.content-cat-text {
  //min-width: 400px;
}

.content-cat-img {
  min-height: 8rem;
  min-width: 8rem;
  max-height: 16rem;
  max-width: 16rem;
}

.content-cat-img-lg {
  min-height: 16rem;
  min-width: 16rem;
  max-height: 32rem;
  max-width: 32rem;
}

.content-status {
  position: relative;
  z-index: (@navZIndex - 1);

  padding: @gutter2x 0;
  background-color: @navBgColor;
  color: @navLinkColor;

  &.success {
    background-color: @successBg;
    color: @successDark;

    > .container:before {
      background-image: url("/assets/img/icon/round/success.svg");
    }
  }
  &.danger {
    background-color: @dangerBg;
    color: @dangerDark;

    > .container:before {
      background-image: url("/assets/img/icon/round/error.svg");
    }
  }

  > .container:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    margin-right: (@gutter + 0.5rem);

    background-size: contain;
  }
}

// feature pointers
.feature-pointer {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: @warning;
  border-radius: (@fontSizeBase/2);

  animation-name: feature-pointer-anim;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 2s;
  animation-timing-function: ease-in;

  &.offset {
    margin-bottom: 0.15rem;
  }

  &.badge {
    width: auto;
    height: auto;

    font-size: @fontSizeExtraSmall;
    font-style: normal;
  }
}

@keyframes feature-pointer-anim {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 191, 43, 0.65);
  }
  100% {
    box-shadow: 0 0 0 7px rgba(255, 191, 43, 0);
  }
}

// map
.map-wrapper {
  height: @mapHeightDefault;
}

// nav path
.nav-path {
  background-color: @medLightBgColor;
  border-top: solid @lightBorderColor 1px;
  font-size: @fontSizeSmall;
}

// status gb
.status-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #C6C6C6;
  font-weight: bold;
  font-size: @fontSizeExtraSmall;

  > img {
    height: 125px;
  }

  &.middle {
    height: 100%;
    max-height: 100vh;
  }
}

// lists
ul.list {
  list-style-type: none;
  padding-left: (@gutter*3);

  li:before {
    content: "–";
    width: @gutter;
    display: inline-block;
    margin-left: -@gutter2x;
    padding-right: @gutter2x;
    color: @subtleTextColor;
  }
}
