.hidden {
  display: none !important;
}

.no-gutter,
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.load-xs {
  font-size: 1.2em;
  padding: 2px;
}

.load-sm {
  width: 1.5rem;
  height: 1.5rem;
}

.load-md {
  width: 3.5rem;
  height: 3.5rem;
}

.load-lg {
  width: 5rem;
  height: 5rem;
}

.text-sm {
  font-size: 0.9em;
}

.pointer {
  cursor: pointer;
}

#typeTabs {
  > ul {
    margin-bottom: 0.5rem;
  }
}

.btn > .btn-icon {
  padding-left: @btnIconPadding;
}
