// color and dimension variables
@primaryColor:                #007bff;
@primaryColorHighlight:       lighten(@primaryColor, 10%);
@secondaryColor:              #008000;
@secondaryColorHighlight:     lighten(@secondaryColor, 10%);
@textColorHighlight:          #474747;

@focusBorderColor:            darken(@secondaryColor, 5%);
@focusOutlineWidth:           0.2rem;
@focusOutlineOpacity:         0.25;
@focusOutlineColor:           rgba(@secondaryColor, @focusOutlineOpacity);

@white:                       #ffffff;
@lightGrey:                   #fbfbfb;
@medLight:                    #f8f9fa;
@grey:                        #eef1f4;
@medLightGrey:                #e4e5e6;
@medGrey:                     #ADAEAF;
@darkGrey:                    #818283;
@darkerGrey:                  #555555;
@darkestGrey:                 #3b3b3b;
@black:                       #000000;

@lightBgColor:                @medLight;
@medLightBgColor:             @grey;
@bgColor:                     @grey;
@darkBgColor:                 @darkGrey;

@lightBorderColor:            @medLightGrey;
@borderColor:                 @medGrey;
@darkBorderColor:             @darkGrey;

@linkColor:                   @darkBorderColor;
@linkHoverColor:              @darkestGrey;
@linkBorder:                  solid @linkColor 1.5px;

@subtleTextColor:             @darkGrey;

@danger:                      #dc3545;
@warning:                     #ffc107;
@info:                        #004085;
@success:                     #28a745;

@dangerOutline:               rgba(@danger, @focusOutlineOpacity);
@warningOutline:              rgba(@warning, @focusOutlineOpacity);
@infoOutline:                 rgba(@info, @focusOutlineOpacity);
@successOutline:              rgba(@success, @focusOutlineOpacity);

@dangerBg:                    lighten(@danger, 40%);
@warningBg:                   lighten(@warning, 40%);
@infoBg:                      lighten(@info, 65%);
@successBg:                   lighten(@success, 40%);

@dangerColor:                 @danger;
@warningColor:                darken(@warning, 20%);
@infoColor:                   @info;
@successColor:                darken(@success, 10%);

@borderRadius:                0;
@borderRadiusNew:             0;
@borderRadiusOuterNew:        0;

@btnPadding:                  1rem 2rem;
@btnIconPadding:              2rem;
@btnAnimDuration:             0.35s;

@gutter:                      0.75rem;
@gutter2x:                    1.5rem;

@fontSizeBase:                1rem;
@fontSizeExtraSmall:          0.75rem;
@fontSizeSmall:               0.875rem;
@fontSizeMedium:              1.15rem;
@fontSizeLarge:               1.35rem;
@fontSizeExtraLarge:          1.5rem;

@navLinkColor:                @linkColor;
@navLinkColorActive:          @linkHoverColor;
@navFontSize:                 @fontSizeBase;
@navBgColor:                  @bgColor;
@navDropwdownBgColor:         @darkBgColor;

@boxShadowHighlight:          0 3px 6px -3px rgba(0, 0, 0, 0.75);
@boxShadowHighlightHover:     0 6px 9px -4px rgba(0, 0, 0, 0.75);
@boxShadowZoom:               0 6px 12px -6px rgba(0, 0, 0, 0.85);

@statusOverlayZIndex:         30;
@navZIndex:                   40;
@dropdownZIndex:              50;
@zoomZIndex:                  45;
@notificationsZIndex:         60;

@dropdownBorder:              0;

@statusPadding:               0.5rem 1.25rem;
@statusBg:                    darken(@primaryColor, 10%);
@statusColor:                 @white;

@mapHeightDefault:            350px;

// when these are changed, also change LAYOUT_MEDIA_* in app.component.ts
@xs:                          ~"only screen and (max-width: 575px)";
@sm:                          ~"only screen and (min-width: 576px) and (max-width: 767px)";
@md:                          ~"only screen and (min-width: 768px) and (max-width: 991px)";
@lg:                          ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@xl:                          ~"only screen and (min-width: 1200px)";
