// color and dimension variables
@primaryColor:                #007bff;
@primaryColorHighlight:       brighten(@primaryColor, 20%);
@secondaryColor:              #008000;
@secondaryColorHighlight:     lighten(@secondaryColor, 5%);
@textColorHighlight:          #474747;

@white:                       #ffffff;
@lightGrey:                   #fdfdfd;
@medLight:                    #f8f9fa;
@grey:                        #E9ECEF;
@darkGrey:                    #818283;
@darkerGrey:                  #555555;
@darkestGrey:                 #434343;
@black:                       #000000;

@lightBgColor:                @lightGrey;
@medLightBgColor:             @medLight;
@bgColor:                     @grey;
@darkBgColor:                 @darkGrey;

@lightBorderColor:            @grey;
@darkBorderColor:             @darkGrey;

@linkColor:                   #007bff;
@linkDecoration:              none;
@linkHoverColor:              darken(@linkColor, 15%);
@linkHoverDecoration:         underline;

@danger:                      #dc3545;
@warning:                     #ffc107;
@info:                        #004085;
@success:                     #28a745;

@dangerBg:                    lighten(@danger, 40%);
@warningBg:                   lighten(@warning, 40%);
@infoBg:                      lighten(@info, 65%);
@successBg:                   lighten(@success, 40%);

@dangerColor:                 @danger;
@warningColor:                darken(@warning, 20%);
@infoColor:                   @info;
@successColor:                darken(@success, 10%);

@borderRadius:                1.25rem;
@borderRadiusNew:             1.25rem;
@borderRadiusOuterNew:        1.5rem;

@btnPadding:                  1rem 2rem;
@btnIconPadding:              2rem;
@gutter:                      0.5rem;
@gutter2x:                    1rem;

@fontSizeBase:                1rem;
@fontSizeSmall:               0.9rem;
@fontSizeMedium:              1.25rem;
@fontSizeLarge:               1.35rem;
@fontSizeExtraLarge:          2rem;

@xs:                          ~"only screen and (max-width: 575px)";
@sm:                          ~"only screen and (max-width: 767px)";
