// color and dimension variables
@primaryColor:                #007bff;
@primaryColorHighlight:       lighten(@primaryColor, 10%);
@secondaryColor:              #008000;
@secondaryColorHighlight:     lighten(@secondaryColor, 5%);
@textColorHighlight:          #474747;

@focusBorderColor:            darken(@secondaryColor, 5%);
@focusOutlineWidth:           0.2rem;
@focusOutlineOpacity:         0.25;
@focusOutlineColor:           rgba(@secondaryColor, @focusOutlineOpacity);

@white:                       #ffffff;
@lightGrey:                   #fdfdfd;
@medLight:                    #f8f9fa;
@grey:                        #E9ECEF;
@medGrey:                     #ADAEAF;
@darkGrey:                    #818283;
@darkerGrey:                  #555555;
@darkestGrey:                 #434343;
@black:                       #000000;

@lightBgColor:                @lightGrey;
@medLightBgColor:             @medLight;
@bgColor:                     @grey;
@darkBgColor:                 @darkGrey;

@lightBorderColor:            @grey;
@darkBorderColor:             @darkGrey;

@linkColor:                   #007bff;
@linkDecoration:              none;
@linkHoverColor:              darken(@linkColor, 15%);
@linkHoverDecoration:         underline;

@subtleTextColor:             @darkGrey;

@danger:                      #dc3545;
@warning:                     #ffc107;
@info:                        #004085;
@success:                     #28a745;

@dangerOutline:               rgba(@danger, @focusOutlineOpacity);
@warningOutline:              rgba(@warning, @focusOutlineOpacity);
@infoOutline:                 rgba(@info, @focusOutlineOpacity);
@successOutline:              rgba(@success, @focusOutlineOpacity);

@dangerBg:                    lighten(@danger, 40%);
@warningBg:                   lighten(@warning, 40%);
@infoBg:                      lighten(@info, 65%);
@successBg:                   lighten(@success, 40%);

@dangerColor:                 @danger;
@warningColor:                darken(@warning, 20%);
@infoColor:                   @info;
@successColor:                darken(@success, 10%);

@borderRadius:                1.25rem;
@borderRadiusNew:             1.25rem;
@borderRadiusOuterNew:        1.5rem;

@btnPadding:                  1rem 2rem;
@btnIconPadding:              2rem;
@gutter:                      0.5rem;
@gutter2x:                    1rem;

@fontSizeBase:                1rem;
@fontSizeExtraSmall:          0.75rem;
@fontSizeSmall:               0.875rem;
@fontSizeMedium:              1.25rem;
@fontSizeLarge:               1.35rem;
@fontSizeExtraLarge:          1.5rem;

@statusOverlayZIndex:         30;
@navZIndex:                   40;
@dropdownZIndex:              50;

@dropdownBorder:              0;

@statusPadding:               0.5rem 1.25rem;
@statusBg:                    darken(@primaryColor, 10%);
@statusColor:                 @white;

@xs:                          ~"only screen and (max-width: 575px)";
@sm:                          ~"only screen and (max-width: 767px)";
