@import (reference) "../../../theme/variables";
@import (reference) "landing-page.component";

button,
input[type="button"],
.link-btn {
  padding: @gutter;

  color: @white;
  background-color: @primaryColor;
  border-color: darken(@primaryColor, 5%);

  &:hover,
  &:focus {
    color: @white !important;
    background-color: lighten(@primaryColor, 5%);
    border-color: @primaryColor !important;
  }
}
