<div class="d-flex flex-column min-vh-100">

  <div id="content" class="background-main flex-grow-1 pb-4">
    <div class="py-5 px-2 title">
      <img src="/assets/img/urbantrees_icon.png" />
      Urban Trees as climate messengers
    </div>

    <div class="container">
      <div class="m--2 py-2 d-flex flex-row justify-content-between summary">
        <div class="p-2 summary-col">
          <h1>Sensor2Data</h1>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
        <div class="summary-separator"></div>
        <div class="p-2 summary-col">
          <h1>Data2Analyze</h1>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
        <div class="summary-separator"></div>
        <div class="p-2 summary-col">
          <h1>Data2App</h1>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </div>
      </div>
      <div class="mt-2">
        <a routerLink="/home" class="lp-link">
          <span class="i i-sm i-light i-arrow-right mr-3"></span>
          <div class="lp-link-text">Visit our web-app</div>
        </a>
      </div>
    </div>

  </div>

</div>
