<div class="lp-root d-flex flex-column min-vh-100">

  <div id="content" class="flex-grow-1">

    <div class="intro-screen-container">

      <nav class="header">
        <div>
          <a routerLink="/home" (action)="loadPage($event)">
            <img class="header-icon" src="/assets/landing-page/logo.svg" />
          </a>
        </div>
        <div class="header-links">
          <a class="lp-link" routerLink="/trees" (action)="loadPage($event)">Webapp</a>
          <a *noauth class="lp-link" routerLink="/login" (action)="loadPage($event)">Login</a>
          <a *auth class="lp-link" routerLink="/project/phenology" (action)="loadPage($event)">Phänologie</a>
        </div>
      </nav>

      <div class="title-container">
        <img class="title-banner" src="/assets/landing-page/banner_2.svg" />
      </div>

      <div class="flex-grow-1"></div>

      <div #introTabsContentWrapper
           class="intro-tabs-wrapper"
           (mouseover)="runSlideCycle = false"
           (mouseout)="runSlideCycle = true">

        <div class="intro-tabs-content lp-container">
          <div *ngFor="let slide of modules"
               class="intro-tab"
               [ngClass]="{'active': slide.isShown}"
               [ngStyle]="{'background-color': slide.bgColor}"
               [cssvar]="{name: '--bg-color', value: slide.bgColor}"
               role="button"
               tabindex="0"
               (action)="showSlide(slide, true)">
            <img class="intro-tab-icon" [src]="slide.iconUrl" />
            {{slide.title}}
          </div>
        </div>

      </div>

    </div>

    <div class="intro-slideshow-wrapper mb-3"
         (mouseover)="runSlideCycle = false"
         (mouseout)="runSlideCycle = true">
      <div class="intro-slide invisible position-relative">
        <img [src]="selectedSlide?.imageUrl" />
        <div class="intro-slide-description">{{selectedSlide?.imgDesc}}</div>
      </div>
      <div *ngFor="let slide of modules"
           class="intro-slide"
           [ngClass]="{'show': slide.isShown, 'previously-shown': slide.wasPreviouslyShown}"
           [ngStyle]="{'background-color': slide.bgColor}">
        <div class="img-container">
          <img [src]="slide.imageUrl" />
        </div>
        <div class="intro-slide-description">{{slide?.imgDesc}}</div>
      </div>
    </div>



    <section class="lp-text-container timeline-container">
      <h1 class="mb-3">Projektablauf</h1>
      <h2 class="timeline-highlight"><div>Kick-Off Treffen</div></h2>
      <div class="timeline">
        <div class="img-flex">
          <div>
            <h1>Experimentiertage</h1>
            Wir begrüßen euch als Jungforscher*innen im Projekt und laden euch zum Experimentieren ein. Ihr
            lernt, wie Bäume kühlen, ihr programmiert einen Messsensor und erfährt, wie dieser misst und wie man die Daten
            analysiert.
          </div>
          <ut-zoom [content]="timelineExperimentImg"
                   [fullscreenContent]="timelineExperimentImgFull"
                   [mode]="Mode.IMAGE">
          </ut-zoom>
          <ng-template #timelineExperimentImg>
            <img src="/assets/landing-page/timeline/experimentieren.jpg" class="img-sm" />
          </ng-template>
          <ng-template #timelineExperimentImgFull>
            <img class="fullscreen-content" src="/assets/landing-page/timeline/experimentieren.jpg"/>
          </ng-template>
        </div>
      </div>
      <div class="timeline">
        <h1>Innovative Berufe kennenlernen</h1>
        Bei Betriebsexkursionen erhältst du Einblicke in unsere
        Projektpertnerunternehmen und die Universität, dabei lernst du interessante Persönlichkeiten, Role Models und
        deren beruflichen Werdegang in Natur und Technik kennen.
      </div>
      <div class="timeline">
        <h1>Data2Sensor</h1>

        Sensoren sind heute die Grundlage für das Messen von Temperaturen und CO₂. Im Workshop "Data2Sensor" lernst
        du, einfache Sensoren in einen Stromkreis einzubauen und zu programmieren, damit du Daten aufnehmen kannst.
      </div>
      <div class="timeline">
        <div class="img-flex">
          <div>
            <h1>Sensor2App</h1>
            Bäume beeinflussen das Klima und kühlen unsere Umwelt. Wie sie das machen und wie du diese Prozesse
            untersuchen und dazu Daten erheben kannst, lernst du im Sensor2App Workshop.
          </div>
          <ut-zoom [content]="timelineMeasureImg"
                   [fullscreenContent]="timelineMeasureImgFull"
                   [mode]="Mode.IMAGE">
          </ut-zoom>
          <ng-template #timelineMeasureImg>
            <img src="/assets/landing-page/timeline/messen.jpg" class="img-sm" />
          </ng-template>
          <ng-template #timelineMeasureImgFull>
            <img class="fullscreen-content" src="/assets/landing-page/timeline/messen.jpg"/>
          </ng-template>
        </div>
      </div>
      <div class="timeline">
        <h1>App2Analyse</h1>
        Im Anschluss jeder Datenerhebung steht ein wichtiger Schritt: die Auswertung und grafische Darstellung der
        Daten. Im Workshop "App2Analyse" lernst du, wie du die aufgenommenen Daten weiterverarbeiten kannst.
      </div>
      <div class="timeline">
        <h1>Mint &amp; Greet-Karrieretag</h1>
        Bei dem Mint &amp; Greet-Karrieretag erhältst du Einblicke in unsere
        Projektpertnerunternehmen und die Universität, dabei lernst du interessante Persönlichkeiten, Role Models und
        deren beruflichen Werdegang in Natur und Technik kennen.
      </div>
      <div class="timeline">
        <h1>Kooperationszuschüsse für nicht am Projekt beteiligte Schulen</h1>
        <p>
          Im Projekt werden Arbeits- und Begleitmaterialien für eine digitale Methodenbox sowie einen
          Experimentierkoffer „Tool Kits für CO₂l Kids“ erstellt. Jede Kooperationszuschuss-Schule kann diese für den
          individuellen Einsatz im Unterricht erhalten und zum Beispiel als Basis für eigene innovative Ideen rund um
          die Thematik „Baum als Klimaregulator“ und „Sensorik” verwenden.
        </p>
        Weitere Informationen zu Projektzuschüssen können beim Projektleiter oder per E-Mail angefragt werden:
        <table class="mt-2 table table-sm table-responsive-sm">
          <tr>
            <td>Projektleitung</td>
            <td>Alexander Strahl</td>
          </tr>
          <tr>
            <td>Telefonnummer</td>
            <td>+43 (0) 662 / 8044-7314 oder +43 (0) 662 / 8044-7324</td>
          </tr>
          <tr>
            <td>E-Mail</td>
            <td><a href="mailto:co2bs.ffg@sbg.ac.at">co2bs.ffg@sbg.ac.at</a></td>
          </tr>
        </table>
      </div>
      <h2 class="timeline-highlight end"><div>Projektende</div></h2>
    </section>

    <section class="lp-container-sm">
      <h1 class="text-center mb-3">Das Projekt bietet:</h1>
      <div class="mt-3">
        <div class="container-highlight">
          <h1>Schüler*innen</h1>
          Schüler*innen können selbstständig forschend tätig werden und erste Einblicke in Natur und Technik erhalten.
        </div>
      </div>
      <div class="mt-3">
        <div class="container-highlight">
          <h1>Lehrpersonen</h1>
          Für beteiligte Projektschulen und Kooperationszuschüsse bietet das Projekt:

          <hr class="mt-2 mx--3"/>

          <p class="mt-2">
            Diese Unterlagen werden im Laufe des Projekts zur Verfügung gestellt. Sie können sie dann hier finden.
          </p>

          <ul class="feature-list mt-2 mx--3 mb--3">
            <li>
              <img src="/assets/landing-page/icons/mappe.svg" />
              Forscher*innen Mappe
            </li>
            <li>
              <img src="/assets/landing-page/icons/box.svg" />
              Digitale Methodenbox
            </li>
            <li>
              <img src="/assets/landing-page/icons/experiment.svg" />
              Experimentierkoffer
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-3">
        <div class="container-highlight">
          <h1>Unternehmenspartner*innen</h1>
          Unternehmenspartner*innen wird die Möglickeit geboten, im Rahmen von Betriebsexkursionen und
          einem MINT &amp; Greet-Karrieretag innovative Berufe vorzustellen.
        </div>
      </div>
    </section>

    <hr/>

    <section class="mt-5">
      <div class="lp-text-container">
        <h1 class="mb-3">Das Projektteam</h1>
      </div>

      <div class="bg-light">
        <div class="lp-text-container">
          <div class="text-center">
            <ut-zoom [content]="teamImg"
                     [fullscreenContent]="teamImgFull"
                     [mode]="Mode.IMAGE">
            </ut-zoom>
            <ng-template #teamImg>
              <img src="/assets/landing-page/content/projektteam.JPG" class="project-team" />
            </ng-template>
            <ng-template #teamImgFull>
              <img class="fullscreen-content" src="/assets/landing-page/content/projektteam.JPG"/>
            </ng-template>
          </div>
        </div>
      </div>

    </section>

    <section class="lp-text-container mt-5">
      <h1 class="mb-3">Projektpartner*innen</h1>

      <h2>Wissenschaftliche Partner*innen</h2>
      <ul class="list">
        <li>Universität Salzburg, Didaktik der Physik und Fachbereiche Mathematik, Geographie &amp; Geologie</li>
        <li>Pädagogische Hochschule Salzburg Stefan Zweig, Institut für Didaktik, Unterrichts- &amp; Schulentwicklung</li>
      </ul>

      <h2>Schulische Bildungseinrichtungen</h2>
      <ul class="list">
        <li>Naturpark Volksschule Zederhaus</li>
        <li>Praxisvolksschule der PH Salzburg</li>
        <li>Volksschule Bergheim</li>
        <li>Neue Mittelschule Bergheim</li>
        <li>NMS Praxisschule der PH Salzburg</li>
        <li>Volksschule Salzburg der Franziskanerinnen von Vöklabruck</li>
      </ul>

      <h2>Unternehmensparter*innen</h2>
      <ul class="list">
        <li>SIGMATEK - Komplette Automatisierungssysteme</li>
        <li>Sony DADC Europe Limited</li>
        <li>ZAMG - Zentralanstalt für Meteorologie &amp; Geodynamik</li>
      </ul>
    </section>

    <hr/>

    <section class="lp-text-container mt-5">
      <div class="d-flex flex-row flex-wrap-reverse flex-sm-nowrap align-items-center justify-content-center justify-content-sm-start">
        <div>
          <h1 class="mb-3">Projektrückblick &ndash; Stadtbäume als Klimabotschafter</h1>

          <p>
            Das Vorgängerprojekt zu CO₂BS hieß "Stadtbäume als Klimabotschafter". In diesem PDF-Dokument können Sie einen
            Projektrückblick finden.
          </p>

          <a class="link link-btn" href="/assets/landing-page/content/Stadtbaeume als Klimabotschafter_Rueckbl_WEB.PDF">
            Projektrückblick ansehen <small class="ml-2">.PDF</small>
          </a>
        </div>
        <img class="urbantrees-retrospective-icon mb-2"
             src="/assets/landing-page/content/urbantrees_icon_small.png"
             alt="Stadtbäume als Klimabotschafter - Logo"/>
      </div>

    </section>

  </div>

  <div class="footer">
    <div class="lp-text-container">

      <div class="footer-content my--2 mx--4">
        <div class="d-flex flex-column my-1 mx-4">
          <div class="my-1">&copy; Universität Salzburg {{currentYear()}}</div>
          <div class="d-flex flex-row align-items-center flex-wrap mx--1">
            <a href="https://www.uni-salzburg.at"
               target="_blank"
               class="m-1">
              <img
                class="logo"
                src="/assets/img/logos/PLUS_logo.svg"
                alt="Paris Lodron Universität Salzburg" />
            </a>
            <a href="https://www.ffg.at/"
               target="_blank"
               class="m-1">
              <img
                class="logo"
                src="/assets/img/logos/FFG_logo.svg"
                alt="Österreichische Forschungsförderungsgesellschaft - Forschung wirkt" />
            </a>
            <a href="https://www.bmk.gv.at/"
               target="_blank"
               class="m-1">
              <img
                class="logo"
                src="/assets/img/logos/BMK_logo.svg"
                alt="Bundesministerium für Klimaschutz, Umwelt, Energie, Mobilität, Innovation und Technologie" />
            </a>
          </div>
        </div>
        <div class="my-2 mx-4">
          <a class="link" routerLink="/imprint">Imprint</a><br/>
          <a class="link" href="mailto:co2bs.ffg@sbg.ac.at">Hast du eine Frage?</a>
          <div class="mt-2">
            Made with &#x2764; by the project team &amp; Laurenz Fiala.
          </div>

          <div class="footer-attribution">
            <div>
              Icons im Abschnitt "Lehrpersonen" erstellt von
              <a href="https://www.flaticon.com/de/autoren/freepik"
                 title="Freepik"
                 class="link"
                 target="_blank">Freepik</a>
              von
              <a href="https://www.flaticon.com/de/"
                 title="Flaticon"
                 class="link"
                 target="_blank">www.flaticon.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
