<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">
      {{'imprint.title' | translate}}
    </h1>
    <div *ngIf="translateService.currentLang !== 'de-DE'"
      class="content-cat-text d-flex flex-row align-items-center text-sm text-warning">
      <i class="i i-xs i-warning-warning mr-1 flex-shrink-0"></i>
      {{'imprint.title_disclaimer' | translate}}
    </div>
  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Medieninhaber, Herausgeber, inhaltliche und redaktionelle Verantwortung</h1>

    <div class="content-cat-text">
      Univ.-Prof. Dr. Andreas Lang<br/>
      Universität Salzburg<br/>
      Fachbereich Geographie und Geologie<br/>
      Hellbrunnerstraße 34<br/>
      5020 Salzburg<br/>
      Österreich<br/>
    </div>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Kontakt</h1>

    <div class="content-cat-text">
      Rosemarie Probst<br/>
      Telefon: <a href="tel:+4366280447310">+43 (0) 662 / 8044-7310</a><br/>
      E-Mail: <a href="mailto:rosemarie.probst@plus.ac.at">rosemarie.probst@plus.ac.at</a>
    </div>

    <table class="table mt-2">
      <tbody>
      <tr>
        <th scope="row">Umsatzsteuer-Identifikationsnummer (UID) der Universität Salzburg</th>
        <td>ATU 57532824</td>
      </tr>
      <tr>
        <th scope="row">Datenverarbeitungsregister-Nummer</th>
        <td>0079481</td>
      </tr>
      <tr>
        <th scope="row">Aufsichtsbehörde der Universität Salzburg</th>
        <td>Bundesministerium für Wissenschaft, Forschung und Wirtschaft</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Urheberrecht</h1>

    <div class="content-cat-text">
      Die Inhalte sind im World-Wide-Web für den Online-Zugriff veröffentlicht. Das Urheberrecht und die Nutzungsrechte für Texte, Graphiken, Design, Quellcode und Bildmaterial – sofern nicht im Metatext des Bildes (Rolloverfunktion) mit der Kennung zum Beispiel „© Name bzw. Künstlername des Fotografen/der Fotografin / Fotolia.com" oder „© Name bzw. Künstlername des Fotografen/der Fotografin / Pixelio.de“ gekennzeichnet – liegen bei der Universität Salzburg.<br/>
      Die Erstellung, die Verwendung und die nicht kommerzielle Weitergabe von Kopien in elektronischer oder ausgedruckter Form sind erlaubt, wenn der Inhalt unverändert bleibt und die Quelle angeben wird (Quelle: Universität Salzburg).<br/>
      Die inhaltliche, textliche Betreuung der Seite www.uni-salzburg.at obliegt dem BdR Büro für Public Relation & Kommunikation. Die technische Betreuung des WWW-Servers www.uni-salzburg.at erfolgt durch die IT-Services der Universität Salzburg.<br/>
      Grafisches Konzept, Informationsstruktur und die technische Realisierung sind Eigenentwicklungen der Universität Salzburg, BdR Büro für Public Relation & Kommunikation sowie der Abteilung ITS auf Basis von Typo3. Die Informationen der einzelnen Institute und sonstigen Einrichtungen der Universität Salzburg sowie der anderen InformationsanbieterInnen werden von diesen eigenverantwortlich erarbeitet und in das System eingebracht.<br/>
      Die Unterrichtsmaterialien auf der Startseite sind mit freundlicher Genehmigung von BEAGLE (http://www.beagleproject.org/de/) bereitgestellt worden.
    </div>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Subdomain</h1>

    <div class="content-cat-text">
      Organisationseinheiten und akademische Einheiten laut Organisationsplan können eigene Subdomains der URL www.uni-salzburg.at betreiben, für deren Inhalt sie auch verantwortlich sind. Anfragen sind daher direkt an den Webmaster / Webmistress der jeweiligen Einheit zu richten.
    </div>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">Haftung</h1>

    <div class="content-cat-text">
      Die Texte auf der Homepage wurden vor der Veröffentlichung einer sorgfältigen Prüfung unterzogen. Dessen ungeachtet kann keine Garantie für die Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen werden. Eine Haftung der Universität Salzburg wird daher ausgeschlossen. Die Links zu anderen Seiten wurden gewissenhaft ausgewählt.
      Da die Universität Salzburg auf deren Inhalte keinen Einfluss hat, übernimmt die Universität Salzburg dafür auch keine Verantwortung. Weder die IT-Services noch die Universität Salzburg können für fehlende oder irrtümliche Informationen haftbar gemacht werden. Irrtümer vorbehalten.
    </div>

  </div>
</div>

<div class="content-cat">
  <div class="container">

    <img class="logo" src="/assets/img/logos/PLUS_logo.svg" />

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'imprint.partners' | translate}}</h1>

    <div class="card-columns no-link-style">

      <a href="https://uni-salzburg.at/" target="_blank">
        <div class="card">
          <img class="card-img-top px-2" src="/assets/img/logos/PLUS_logo.svg" alt="University of Salzburg">
          <div class="card-body">
            <p class="card-text">University of Salzburg</p>
          </div>
        </div>
      </a>

    </div>

    <div class="text-subtle mt-2">
      {{'imprint.partners_coming_soon' | translate}}
    </div>

  </div>
</div>

<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'imprint.os_projects' | translate}}</h1>

    <div class="content-cat-text">
      {{'imprint.os_projects_text' | translate}}
    </div>

    <ul class="list-group pt-2">
      <li class="list-group-item"><a href="https://openlayers.org/" target="_blank">OpenLayers</a> For the tree location map</li>
      <li class="list-group-item"><a href="https://www.openstreetmap.org/copyright" target="_blank">OpenSteetMap</a> For the tree location map resources</li>
      <li class="list-group-item"><a href="https://angular.io/" target="_blank">Angular</a> Application Framework</li>
      <li class="list-group-item"><a href="https://angular.io/" target="_blank">Bootstrap</a> Design framework</li>
      <li class="list-group-item"><a href="https://valor-software.com/ngx-bootstrap" target="_blank">ngx-bootstrap</a> For awesome Angular Bootstrap components</li>
      <li class="list-group-item"><a href="https://github.com/ngx-translate/core" target="_blank">ngx-translate</a> For translation</li>
      <li class="list-group-item"><a href="http://jquery.com/" target="_blank">jQuery</a> Easy-to-use JavaScript API</li>
      <li class="list-group-item"><a href="https://github.com/zloirock/core-js" target="_blank">core-js</a> Modular standard library for JavaScript</li>
      <li class="list-group-item"><a href="https://momentjs.com/" target="_blank">Moment.js</a> Date and time library</li>
      <li class="list-group-item"><a href="https://github.com/ReactiveX/rxjs" target="_blank">RxJS</a> Reactive JS extensions</li>
      <li class="list-group-item"><a href="https://github.com/angular/zone.js/" target="_blank">Zone.js</a> Javascript zones</li>
      <li class="list-group-item"><a href="https://github.com/swimlane/ngx-charts" target="_blank">ngx-charts</a> Clientside angular D3.js charts</li>
      <li class="list-group-item"><a href="https://material.angular.io/cdk/categories" target="_blank">Angular CDK</a> Angular Component Dev Kit</li>
      <li class="list-group-item"><a href="https://github.com/adobe-fonts/source-code-pro" target="_blank">Source Code Pro</a> monospaced font</li>
      <li class="list-group-item"><a href="https://github.com/andrew-paglinawan/QuicksandFamily" target="_blank">Quicksand</a> modern sans-serif font used on the landing page</li>
    </ul>

  </div>
</div>
