<div class="image-container" (action)="openOverlay();" [tabindex]="this.showOverlay ? -1 : 0">

  <div class="overlay" [ngClass]="{'hide': !this.showOverlay}" (action)="$event.stopPropagation();">

    <div class="close" (action)="closeOverlay();" role="button" tabindex="0"></div>

    <div>
      <div class="audio-control playpause"
           [ngClass]="{'play': !this.isPlaying, 'stop': this.isPlaying}"
           (action)="onClickPlayPause()"
           role="button"
           tabindex="0">
        <span [ngClass]="{'hidden': this.isPlaying}" class="sr-only">{{'tree.audioimg.play' | translate}}</span>
        <span [ngClass]="{'hidden': !this.isPlaying}" class="sr-only">{{'tree.audioimg.stop' | translate}}</span>
      </div>
      <div class="audio-control volume"
           [ngClass]="'vol-' + volumeLevel"
           (action)="toggleVolume();"
           tabindex="0">
        <span class="sr-only">{{'tree.audioimg.vol_' + volumeLevel | translate}}</span>
      </div>
    </div>

  </div>

  <img [src]="image" [alt]="imageAltText" class="w-100"/>

  <div class="d-flex align-items-center">
    <div class="audio-control progress" [ngStyle]="{'width': progress + '%'}"></div>
  </div>
  <div class="text-subtle text-center text-xs pointer" *ngIf="!showOverlay">
    {{'tree.audioimg.help.controls' | translate}}
  </div>

  <audio #player [src]="audio" (timeupdate)="onAudioTimeUpdate();" (ended)="stop(); closeOverlay();">
    {{'tree.audioimg.incompatible' | translate}}
  </audio>

</div>
