<ut-header></ut-header>

<div class="container pt-2 mb-4">

  <h2>Imprint</h2>
  Angela Hof<br/>
  <a href="https://uni-salzburg.at/index.php?id=37&MP=200409-200745%2C37-200725" target="_blank">Branch Geology</a><br/>
  <a href="https://uni-salzburg.at">University of Salzburg</a><br/>
  Hellbrunner Str. 34<br/>
  5020 Salzburg

  <p>
    <img class="logo" src="/assets/img/logos/Uni_Salzburg.JPG" />
  </p>

  <hr/>

  <h2>Partners</h2>

  <div class="card-columns no-link-style">

    <a href="https://uni-salzburg.at/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Uni_Salzburg.JPG" alt="University of Salzburg">
        <div class="card-body">
          <p class="card-text">University of Salzburg</p>
        </div>
      </div>
    </a>

    <a href="http://www.sparklingscience.at/en" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/SparklingScienceENGLISH.jpg" alt="Sparkling Science">
        <div class="card-body">
          <p class="card-text">Sparkling Science</p>
        </div>
      </div>
    </a>

    <a href="http://www.bernoulligymnasium.at/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Bernoulli_Gymnasium.jpg" alt="Bernoulli Gymnasium">
        <div class="card-body">
          <p class="card-text">Bernoulli Gymnasium</p>
        </div>
      </div>
    </a>

    <a href="http://manos-dresden.de/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Gymnasium_Dresden.gif" alt="Martin-Andersen-Nexö-Gymnasium Dresden">
        <div class="card-body">
          <p class="card-text">Martin-Andersen-Nexö-Gymnasium Dresden</p>
        </div>
      </div>
    </a>

    <a href="http://hbla.ursprung.at/web/" target="_blank">
      <div class="card">
          <img class="card-img-top" src="/assets/img/logos/HBLA_Ursprung.jpg" alt="HBLA Ursprung">
        <div class="card-body">
          <p class="card-text">HBLA Ursprung</p>
        </div>
      </div>
    </a>

    <a href="https://www.holztechnikum.at/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Holztechnikum_Kuchl.jpg" alt="Bernoulli Gymnasium">
        <div class="card-body">
          <p class="card-text">Holztechnikum Kuchl</p>
        </div>
      </div>
    </a>

    <a href="http://www.lwg.bayern.de/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/LWG.png" alt="LWG">
        <div class="card-body">
          <p class="card-text">Bayerische Landesanstalt für Weinbau und Gartenbau</p>
        </div>
      </div>
    </a>

    <a href="http://www.hsweer.at/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/NMS_Weer.png" alt="NMS Weer">
        <div class="card-body">
          <p class="card-text">Neue Mittelschule Weer</p>
        </div>
      </div>
    </a>

    <a href="http://otto-pankok-schule.de/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Otto-Pankok_Schule.jpg" alt="Otto-Pankok-Schule">
        <div class="card-body">
          <p class="card-text">Otto-Pankok-Schule</p>
        </div>
      </div>
    </a>

    <a href="https://www.stadt-salzburg.at/internet/wirtschaft_umwelt/natur.htm" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Stadtgärten.png" alt="Stadt:Salzburg Stadt:Gärten">
        <div class="card-body">
          <p class="card-text">Stadtgärten Salzburg</p>
        </div>
      </div>
    </a>

    <div class="card">
      <img class="card-img-top" src="/assets/img/logos/Szegedi_Gymnasium.jpg" alt="Szeged Gymnasium">
      <div class="card-body">
        <p class="card-text">Szeged Gymnasium</p>
      </div>
    </div>

    <a href="https://tu-dresden.de/" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/TU_Dresden.png" alt="TU Desden">
        <div class="card-body">
          <p class="card-text">Technische Universität Dresden</p>
        </div>
      </div>
    </a>

    <a href="https://www.u-szeged.hu/english" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Uni_Szeged.png" alt="University of Szeged">
        <div class="card-body">
          <p class="card-text">University of Szeged</p>
        </div>
      </div>
    </a>

    <a href="https://www.stadt-salzburg.at/internet/websites/wissen.htm" target="_blank">
      <div class="card">
        <img class="card-img-top" src="/assets/img/logos/Wissenstadt_Salzburg.png" alt="Wissen:Stadt Salzburg">
        <div class="card-body">
          <p class="card-text">Wissen:Stadt Salzburg</p>
        </div>
      </div>
    </a>

  </div>

  <hr/>

  <h2>License</h2>
  Not currently defined.

  <hr/>

  <h2>Open Source Projects</h2>

  Following is a list of open source projects used to create this website.

  <ul class="list-group pt-2">
    <li class="list-group-item"><a href="https://openlayers.org/" target="_blank">OpenLayers</a> For the tree location map</li>
    <li class="list-group-item"><a href="https://www.openstreetmap.org/copyright" target="_blank">OpenSteetMap</a> For the tree location map resources</li>
    <li class="list-group-item"><a href="https://angular.io/" target="_blank">Angular</a> Application Framework</li>
    <li class="list-group-item"><a href="https://angular.io/" target="_blank">Bootstrap</a> Design framework</li>
    <li class="list-group-item"><a href="https://valor-software.com/ngx-bootstrap" target="_blank">ngx-bootstrap</a> For awesome Angular Bootstrap components</li>
    <li class="list-group-item"><a href="https://github.com/ngx-translate/core" target="_blank">ngx-translate</a> For translation</li>
    <li class="list-group-item"><a href="http://jquery.com/" target="_blank">jQuery</a> Easy-to-use JavaScript API</li>
    <li class="list-group-item"><a href="https://github.com/zloirock/core-js" target="_blank">core-js</a> Modular standard library for JavaScript</li>
    <li class="list-group-item"><a href="https://fontawesome.com/license" target="_blank">Font Awesome</a> Scalable vector icons and font</li>
    <li class="list-group-item"><a href="https://momentjs.com/" target="_blank">Moment.js</a> Date and time library</li>
    <li class="list-group-item"><a href="https://www.primefaces.org/primeng/" target="_blank">PrimeNG</a> Components for Angular</li>
    <li class="list-group-item"><a href="https://github.com/ReactiveX/rxjs" target="_blank">RxJS</a> Reactive JS extensions</li>
    <li class="list-group-item"><a href="https://github.com/angular/zone.js/" target="_blank">Zone.js</a> Javascript zones</li>
  </ul>
</div>
