<ut-header></ut-header>

<div class="container pt-2 mb-4">

  <h2>Imprint</h2>
  Angela Hof<br/>
  <a href="https://uni-salzburg.at/index.php?id=37&MP=200409-200745%2C37-200725" target="_blank">Branch Geology</a><br/>
  <a href="https://uni-salzburg.at">University of Salzburg</a><br/>
  Hellbrunner Str. 34<br/>
  5020 Salzburg

  <p>
    <img class="logo" src="/assets/img/logos/Uni_Salzburg.JPG" />
  </p>

  <hr/>

  <h2>License</h2>
  Not currently defined.

  <hr/>

  <h2>Open Source Projects</h2>
  <ul class="list-group pt-2">
    <li class="list-group-item"><a href="https://openlayers.org/" target="_blank">OpenLayers</a> For the tree location map</li>
    <li class="list-group-item"><a href="https://www.openstreetmap.org/copyright" target="_blank">OpenSteetMap</a> For the tree location map resources</li>
    <li class="list-group-item"><a href="https://angular.io/" target="_blank">Angular</a> Application Framework</li>
    <li class="list-group-item"><a href="https://angular.io/" target="_blank">Bootstrap</a> Design framework</li>
    <li class="list-group-item"><a href="https://valor-software.com/ngx-bootstrap" target="_blank">ngx-bootstrap</a> For awesome Angular Bootstrap components</li>
    <li class="list-group-item"><a href="https://github.com/ngx-translate/core" target="_blank">ngx-translate</a> For translation</li>
    <li class="list-group-item"><a href="http://jquery.com/" target="_blank">jQuery</a> Easy-to-use JavaScript API</li>
    <li class="list-group-item"><a href="https://github.com/zloirock/core-js" target="_blank">core-js</a> Modular standard library for JavaScript</li>
    <li class="list-group-item"><a href="https://fontawesome.com/license" target="_blank">Font Awesome</a> Scalable vector icons and font</li>
    <li class="list-group-item"><a href="https://momentjs.com/" target="_blank">Moment.js</a> Date and time library</li>
    <li class="list-group-item"><a href="https://www.primefaces.org/primeng/" target="_blank">PrimeNG</a> Components for Angular</li>
    <li class="list-group-item"><a href="https://github.com/ReactiveX/rxjs" target="_blank">RxJS</a> Reactive JS extensions</li>
    <li class="list-group-item"><a href="https://github.com/angular/zone.js/" target="_blank">Zone.js</a> Javascript zones</li>
  </ul>
</div>
