<div class="nav-path">
  <div class="container py-2">
    <a class="link" routerLink="/admin">{{'navigation.admin' | translate}}</a>
    /
    Trees
  </div>
</div>

<div>
  <div class="content-cat">
    <div class="container">
      <h1 class="content-cat-heading">
        Manage trees
      </h1>
      <div class="content-cat-text">
        Create or modify a tree below.
      </div>
    </div>
  </div>

  <div class="content-cat">
    <div class="container">
      <h1 class="content-cat-heading">
        Which Tree?
      </h1>
      <div class="content-cat-text">

        <div *ngIf="!showTreeSelect"
             class="d-flex flex-row align-items-center flex-wrap m--1">
          <div class="text-link m-1">
            Creating a new tree
          </div>
          <div class="m-1">
            <div class="link-btn d-flex flex-row align-items-center"
                 (click)="showTreeSelect = true">
              <i class="i i-xs i-dark i-edit mr-1"></i>
              Modify an existing tree
            </div>
          </div>
        </div>

        <ng-container *ngIf="showTreeSelect">
          <div class="d-flex flex-row align-items-center flex-wrap m--1">

            <div *ngIf="tree?.id === 0" class="text-link m-1">
              Modifying an existing tree
            </div>
            <div *ngIf="tree?.id !== 0" class="text-link m-1">
              Modifying existing tree #{{tree.id}}
            </div>

            <div class="m-1">
              <div class="link-btn d-flex flex-row align-items-center"
                   (click)="showTreeSelect = false; onSelectedTreeChange(null)">
                <i class="i i-xs i-dark i-plus mr-1"></i>
                Create a new tree
              </div>
            </div>

          </div>

          <hr/>

          <div class="mt-2">
            <ut-tree-select
              *ngIf="availableTrees"
              [availableTrees]="availableTrees"
              [selectedTree]="tree"
              [preselectFirstTree]="true"
              (selectedTreeChange)="onSelectedTreeChange($event)"
            ></ut-tree-select>
          </div>
        </ng-container>

      </div>
    </div>
  </div>

  <div class="content-cat">
    <div class="container">
      <h1 class="content-cat-heading">
        Location
      </h1>
      <div *ngIf="isNewTree()" class="content-cat-text mb-2">
        Select on map
      </div>
      <div class="map-wrapper">
        <ut-map
          [userSetPin]="!showTreeSelect || tree !== undefined"
          [(selectedMarker)]="marker">
        </ut-map>
      </div>
      <div *ngIf="tree && marker"
           class="adm-tree-map-annotation d-flex align-items-center flex-row flex-wrap text-subtle p-1">
        <i class="i i-sm i-black i-location m-1"></i>
        <span class="m-1">X</span>
        <span class="badge coords m-1">{{marker.getCoordsX()}}</span>
        <span class="m-1">Y</span>
        <span class="badge coords m-1">{{marker.getCoordsY()}}</span>
        <span class="m-1">{{tree.location.coordinates.projection}}</span>
      </div>
    </div>
  </div>

  <div class="content-cat">
    <div class="container">
      <h1 class="content-cat-heading">
        Properties
      </h1>
      <form class="mt-2">

        <div class="row">

          <!-- LOCATION - CITY -->
          <div class="col-sm-12 col-md-6 form-group">

            <label for="city">City</label>

            <div *ngIf="cities" class="form-row mb-2">
              <div class="col">
                <select id="city" name="citySelect" [(ngModel)]="tree.location.city" [compareWith]="compareCities" class="form-control">
                  <option *ngFor="let c of cities" [ngValue]="c">{{c.name}}</option>
                </select>
              </div>
              <div class="col-auto">
                <div class="add-btn" (click)="showNewCityModal(newCityModal)"></div>
              </div>
            </div>

          </div>

          <!-- LOCATION - STREET -->
          <div class="col-sm-12 col-md-6 form-group">

            <label for="location">Street &amp; house number</label>

            <div class="form-row mb-2">
              <div class="col">
                <input id="location" class="form-control" type="text" name="street" [(ngModel)]="tree.location.street" />
              </div>
            </div>

          </div>

          <!-- SPECIES -->
          <div class="col-sm-12 col-md-6 form-group">

            <label for="species">Species</label>

            <div *ngIf="species" class="form-row mb-2">
              <div class="col">
                <select id="species" name="speciesSelect" [(ngModel)]="tree.species" [compareWith]="compareTreeSpecies" class="form-control">
                  <option *ngFor="let s of species" [ngValue]="s">
                    {{'tree.species.latin.' + s.name | lowercase | translate}}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

  <div *ngIf="savedTree || !isNewTree()"
       class="content-cat">
    <div class="container">
      <h1 class="content-cat-heading">
        Tree-Beacons
      </h1>
      <div [routerLink]="['/admin/beacon/manage']"
           [queryParams]="{'assocTree': savedTree ? savedTree.id : tree.id}"
           class="d-inline-flex flex-row align-items-center link-container mx--2 p-2">
        <i class="i i-beacon-add-info mr-1"></i>
        <a class="link primary">Add new beacon to this tree</a>
      </div>
      <div class="mt-3">
        <ut-beacon-list
          [beacons]="tree.beacons"
          [showData]="false"
          [showStatus]="true"
          [openStatus]="true"
        ></ut-beacon-list>
      </div>
    </div>
  </div>

  <div class="content-cat">
    <div class="container">
      <div class="d-flex flex-row flex-wrap align-items-center justify-content-end justify-content-md-start m--2">
        <div class="link-container d-flex flex-row align-items-center m-2"
             (click)="onDiscard()">
          <i class="i i-sm i-dark i-cross-circle mr-1"></i>
          <a class="link">Discard</a>
        </div>
        <div (click)="saveTree()"
             class="link-container d-flex flex-row align-items-center m-2">
          <i class="i i-sm i-send-primary mr-1"></i>
          <a *ngIf="isNewTree()" class="link primary">Create Tree</a>
          <a *ngIf="!isNewTree()" class="link primary">Modify Tree</a>
        </div>
        <div *ngIf="hasStatus(StatusKey.SAVE_TREE, StatusValue.IN_PROGRESS)"
             class="d-flex flex-row align-items-center justify-content-center m-2">
          <i class="i i-sm i-black i-save mr-1"></i>
          Saving tree...
        </div>
        <div *ngIf="hasStatus(StatusKey.SAVE_TREE, StatusValue.FAILED)"
             class="d-flex flex-row align-items-center justify-content-center text-danger m-2">
          <i class="i i-sm i-warning-danger mr-2"></i>
          Tree could not be saved.
        </div>
        <div *ngIf="hasStatus(StatusKey.SAVE_TREE, StatusValue.SUCCESSFUL)"
             class="d-flex flex-row align-items-center justify-content-center text-success m-2">
          <i class="i i-sm i-check-success mr-2"></i>
          Tree #{{savedTree.id}} successfully saved.
        </div>
        <div *ngIf="hasStatus(StatusKey.SAVE_TREE, StatusValue.TREE_MARKER_NOT_SET)"
             class="d-flex flex-row align-items-center justify-content-center text-warning m-2">
          <i class="i i-sm i-warning-warning mr-2"></i>
          No tree marker was set. Not creating tree.
        </div>
      </div>
    </div>
  </div>

  <!-- NEW CITY MODAL -->
  <ng-template #newCityModal>
    <div class="modal-header">
      <h1 class="modal-title pull-left my-0">Add new city</h1>
    </div>
    <div class="modal-body">
      Name of new city:
      <input [(ngModel)]="newCity.name" type="text" class="form-control" />
    </div>
    <div class="modal-footer">
      <div class="float-left mx-4">
        <span *ngIf="hasStatus(StatusKey.NEW_CITY, StatusValue.IN_PROGRESS)">Adding city...</span>
        <span *ngIf="hasStatus(StatusKey.NEW_CITY, StatusValue.FAILED)">City could not be added.</span>
      </div>
      <button type="button" class="btn btn-secondary" (click)="hideNewCityModal()">Close</button>
      <button type="button" class="btn btn-primary" (click)="addCity()">Add city &amp; select</button>
    </div>
  </ng-template>
</div>
