<div class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'phen_obs.title' | translate}}</h1>
    <div class="content-cat-text" [innerHTML]="'phen_obs.desc' | translate"></div>
  </div>
</div>

<div class="content-cat"
     [ngClass]="{'disabled': hasStatus(StatusKey.STEP_TREE, StatusValue.HIDE)}">
  <div class="container">
    <h1 class="content-cat-heading">
      <span class="badge primary mr-1">{{'phen_obs.step' | translate}} 1</span>
      {{'phen_obs.step_1.title' | translate}}
    </h1>

    <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.IN_PROGRESS)"
         class="d-flex flex-row align-items-center mt-2">
        <i class="i i-sm i-black i-load i-spin mr-1"></i>
      {{'phen_obs.step_1.loading' | translate}}
    </div>

    <div *ngIf="hasStatus(StatusKey.TREES, StatusValue.FAILED)"
         class="d-flex flex-row align-items-center text-danger mt-2">
        <i class="i i-sm i-warning-danger mr-1"></i>
      {{'phen_obs.step_1.error' | translate}}
    </div>

    <ng-container *ngIf="hasStatus(StatusKey.TREES, StatusValue.SUCCESSFUL)">

      <div class="map-wrapper mb-2">
        <ut-map
          [markers]="availableTrees"
          [selectedMarker]="selectedTree"
          (selectedMarkerChange)="selectTree($event)"
          errorText="phen_obs.tree.map.error"></ut-map>
      </div>

      <ut-tree-select [selectedTree]="selectedTree"
                      (selectedTreeChange)="selectTree($event)"
                      [availableTrees]="availableTrees"
                      [showList]="false">
      </ut-tree-select>

    </ng-container>

  </div>
</div>

<div class="content-cat"
     [ngClass]="{'disabled': hasStatus(StatusKey.STEP_TIME, StatusValue.HIDE)}">
  <div class="container">
    <h1 class="content-cat-heading">
      <span class="badge primary mr-1">{{'phen_obs.step' | translate}} 2</span>
      {{'phen_obs.step_2.title' | translate}}
    </h1>

    <div class="content-cat-text">
      <div *ngIf="isObserveNow"
           class="d-flex flex-row align-items-center flex-wrap m--1">

        <div class="text-link m-1">
          {{'phen_obs.step_2.obs_now' | translate}}
        </div>

        <div class="m-1">
          <button *ngIf="isObserveNow"
             class="btn btn-default d-flex flex-row align-items-center"
             (action)="observationInPast()"
             tabindex="0">
              <i class="i i-xs i-black i-calendar mr-1"></i>
              {{'phen_obs.step_2.obs_past' | translate}}
          </button>
        </div>

      </div>

      <div *ngIf="!isObserveNow"
           class="d-flex flex-row align-items-center m--2">

        <div class="input-group m-2">
          <input type="text"
                 id="observationDate"
                 class="form-control"
                 name="observationDate"
                 #dp="bsDatepicker"
                 bsDatepicker
                 [bsConfig]="{ dateInputFormat: 'app.date_format_day_full' | translate }"
                 [(ngModel)]="dataset.uiObservationDate"
                 [maxDate]="dataset.uiMaxObservationDate">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary d-flex" type="button" (click)="dp.toggle()">
              <i class="i i-xs i-calendar i-dark" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="m-2">
          <div class="input-group timepicker-container">
            <timepicker
              id="observationTime"
              name="observationTime"
              [(ngModel)]="dataset.uiObservationDate"
              [showMeridian]="false"
              [max]="dataset.uiMaxObservationDate"
              [minuteStep]="5">
            </timepicker>
          </div>
        </div>

      </div>

     </div>

  </div>
</div>

<div class="content-cat"
     [ngClass]="{'disabled': hasStatus(StatusKey.STEP_OBS, StatusValue.HIDE)}">
  <div class="container">
    <h1 class="content-cat-heading">
      <span class="badge mr-1"
            [ngClass]="{'primary': isObservationsDone(), 'danger': !isObservationsDone()}">{{'phen_obs.step' | translate}} 3</span>
      {{'phen_obs.step_3.title' | translate}}
    </h1>

    <div *ngIf="hasStatus(StatusKey.STEP_OBS, StatusValue.HIDE)"
         class="obs-insufficient-progress">
      {{'phen_obs.finish_prev_steps_first' | translate}}
    </div>

    <ng-container *ngIf="hasStatus(StatusKey.STEP_OBS, StatusValue.SHOW) && observationSpec"
                  class="mt-2">

      <div class="my-3 py-2 text-danger text-center" *ngIf="hasStatus(StatusKey.SPEC, StatusValue.SUCCESSFUL) && observationSpec.length === 0">
        {{'phen_obs.step_3.no_obs_assoc' | translate}}
      </div>

      <div *ngIf="hasStatus(StatusKey.SPEC, StatusValue.IN_PROGRESS)"
           class="d-flex flex-row align-items-center mt-2">
        <i class="i i-sm i-black i-load i-spin mr-1"></i>
        {{'phen_obs.step_3.loading' | translate}}
      </div>

      <div *ngIf="observationSpec.length > 0">

        <div *ngFor="let type of observationSpec; let i = index"
             [ngClass]="{'mt-3': i > 0}">

          <div class="content-cat-text text-subtle mb-2">
            <span *ngIf="type.optional" class="badge badge-dark mr-1">{{'phen_obs.step_3.obs_type_optional' | translate}}</span>
            <span [innerHTML]="
              'phen_obs.step_3.type.' + type.name + '.desc' | translate:
              {
                'type': type,
                'type_name': 'phenology.observation.type.' + type.name + '.name' | translate,
                'type_name_plural': 'phenology.observation.type.' + type.name + '.name_plural' | translate,
                'type_name_lc': 'phenology.observation.type.' + type.name + '.name' | translate | lowercase,
                'type_name_plural_lc': 'phenology.observation.type.' + type.name + '.name_plural' | translate | lowercase
              }
            "></span>
          </div>

          <div class="obs-container"
               [ngClass]="{'done': type.done}">
            <div class="obs-header"
                 (action)="collapse.toggle()"
                 role="button"
                 tabindex="0">
              <div class="flex-shrink-0 flex-grow-1">{{'phen_obs.step_3.type.' + type.name + '.name_plural' | translate | capitalize}}</div>
              <div class="flex-shrink-0">{{type.userObservations.length}} / {{type.objects.length}}</div>
            </div>
            <div #collapse="bs-collapse"
                 [collapse]="type.containerCollapsed"
                 class="obs-content">

              <div class="d-flex flex-row flex-wrap justify-content-sm-end justify-content-md-start pl-1 pb-1">

                <!-- for observations with multiple objects -->
                <ng-container *ngIf="type.objects.length > 1">

                  <div *ngFor="let result of type.results"
                       class="obs-res-container pt-1 pr-1"
                       [cssvar]="{name: '--result-amount', value: type.results.length}">

                    <div class="obs-res"
                         (action)="onObservationResultAction($event, collapse, type, result)"
                         (contextmenu)="onObservationResultContextMenu($event, type, result); $event.preventDefault()"
                         role="button"
                         tabindex="0">
                      <div class="obs-res-counter mx--1">
                        <div class="mx-1">{{getObservationAmount(type, result)}}</div>
                        <div class="text mx-1">
                          {{'phen_obs.step_3.type.' + type.name + '.result.' + (getObservationAmount(type, result) == 1 ? '' : 'plural.') + result.description | translate}}
                        </div>
                      </div>
                      <img *ngIf="images[result.id]?.encodedImage"
                           [src]="images[result.id]?.encodedImage"
                           [alt]="images[result.id]?.alternativeText"
                           class="obs-res-img w-100" />
                      <div *ngIf="images[result.id] && !images[result.id].encodedImage"
                           class="d-flex flex-row align-items-center justify-content-center my-2">
                        <i class="i i-lg i-dark i-load i-spin"></i>
                      </div>
                      <div *ngIf="!images[result.id]"
                           class="obs-res-img obs-res-img-placeholder w-100">
                        {{'phen_obs.step_3.no_result_img' | translate}}
                      </div>
                    </div>

                  </div>

                </ng-container>

                <!-- for observations with only one object -->
                <ng-container *ngIf="type.objects.length === 1">

                  <div *ngFor="let result of type.results"
                       class="obs-res-container pt-1 pr-1"
                       [cssvar]="{name: '--result-amount', value: type.results.length}">

                    <div class="obs-res"
                         (action)="type.userObservations = []; onObservationResultAction($event, collapse, type, result)"
                         role="button"
                         tabindex="0">
                      <div class="obs-res-counter mx--1">
                        <div class="mx-1 d-flex flex-row align-items-center">
                          <i class="i i-dark i-check"
                             [ngClass]="{'invisible': getObservationAmount(type, result) === 0}"></i>
                        </div>
                        <div class="text mx-1">
                          {{'phen_obs.step_3.type.' + type.name + '.result.' + result.description | translate}}
                        </div>
                      </div>
                      <img *ngIf="images[result.id]?.encodedImage"
                           [src]="images[result.id]?.encodedImage"
                           [alt]="images[result.id]?.alternativeText"
                           class="obs-res-img w-100" />
                      <div *ngIf="images[result.id] && !images[result.id].encodedImage"
                           class="d-flex flex-row align-items-center justify-content-center my-2">
                        <i class="i i-lg i-dark i-load i-spin"></i>
                      </div>
                      <div *ngIf="!images[result.id]"
                           class="obs-res-img obs-res-img-placeholder w-100">
                        {{'phen_obs.step_3.no_result_img' | translate}}
                      </div>
                    </div>

                  </div>

                </ng-container>

              </div>

              <div *ngIf="type.userObservations.length > 0 && type.objects.length > 1"
                   class="d-flex flex-row flex-wrap justify-content-end justify-content-md-start">

                <button class="btn btn-sm btn-default d-flex align-items-center m-1"
                      (action)="undoObservationResult(type, undefined, true)">
                  <i class="i i-black i-undo-dashed i-sm mr-1"></i>
                  {{'phen_obs.step_3.reset' | translate}}
                </button>

                <div class="btn btn-sm btn-default d-flex align-items-center m-1"
                      (action)="undoObservationResult(type)">
                  <i class="i i-black i-undo i-sm mr-1"></i>
                  {{'phen_obs.step_3.undo' | translate}}
                </div>

                <div class="d-flex align-items-center text-sm text-subtle m-1">
                  <i class="i i-xs i-dark i-info mr-1"></i>
                  <span class="d-has-cursor">{{'phen_obs.step_3.undo_info_cursor' | translate}}</span>
                  <span class="d-has-touch">{{'phen_obs.step_3.undo_info_touch' | translate}}</span>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>

    </ng-container>

  </div>
</div>

<div class="content-cat"
     [ngClass]="{'disabled': hasStatus(StatusKey.STEP_IMG, StatusValue.HIDE)}">
  <div class="container">
    <h1 class="content-cat-heading">
      <span class="badge mr-1"
            [ngClass]="{'primary': isImgOk(), 'danger': !isImgOk()}">
        {{'phen_obs.step' | translate}} 4
      </span>
      {{'phen_obs.step_4.title' | translate}}
    </h1>

    <div *ngIf="hasStatus(StatusKey.STEP_IMG, StatusValue.HIDE)"
         class="obs-insufficient-progress">
      {{'phen_obs.finish_prev_steps_first' | translate}}
    </div>

    <ng-container *ngIf="hasStatus(StatusKey.STEP_IMG, StatusValue.SHOW)">

      <div class="content-cat-text mb-1">
        {{'phen_obs.step_4.desc' | translate}}
      </div>

      <div class="custom-file d-flex flex-row">
        <div class="flex-grow-1 position-relative">
          <input
            type="file"
            class="custom-file-input"
            id="userImage"
            name="userImage"
            (change)="setUserImage($event);"
            [ngClass]="{'is-invalid': !isUserImageValid()}"
          >
          <label *ngIf="userImageName" class="custom-file-label" for="userImage">
            {{userImageName}}
          </label>
          <label *ngIf="!userImageName"
                 class="custom-file-label"
                 for="userImage">
            {{'phenology.observation.step3.upload_photo_placeholder' | translate}}
          </label>
        </div>
        <button *ngIf="userImageName"
             class="btn btn-sm btn-default ml-1 flex-shrink-0 d-flex flex-row align-items-center"
             (click)="observationService.userImage = null; checkProgress();">
          <i class="i i-xs i-black i-trash flex-shrink-0 mr-1"></i>
          {{'phen_obs.step_4.remove_image' | translate}}
        </button>
      </div>
      <div class="invalid-feedback d-block" *ngIf="getUserImageErrors().indexOf(UserImageError.INVALID_SIZE) !== -1">
        {{'phenology.observation.step3.photo_size_invalid' | translate}}
      </div>
      <div class="invalid-feedback d-block" *ngIf="getUserImageErrors().indexOf(UserImageError.INVALID_TYPE) !== -1">
        {{'phenology.observation.step3.photo_type_invalid' | translate}}
      </div>

    </ng-container>

  </div>
</div>

<div class="content-cat"
     [ngClass]="{'disabled': hasStatus(StatusKey.STEP_USERS, StatusValue.HIDE)}">
  <div class="container">
    <h1 class="content-cat-heading">
      <span class="badge primary mr-1"
            [ngClass]="{'primary': isUsersOk(), 'danger': !isUsersOk()}">
        {{'phen_obs.step' | translate}} 5
      </span>
      {{'phen_obs.step_5.title' | translate}}
    </h1>

    <div *ngIf="hasStatus(StatusKey.STEP_USERS, StatusValue.HIDE)"
         class="obs-insufficient-progress">
      {{'phen_obs.finish_prev_steps_first' | translate}}
    </div>

    <ng-container *ngIf="hasStatus(StatusKey.STEP_USERS, StatusValue.SHOW)">

      <div *ngIf="!authService.isUserAnonymous()"
           class="d-flex flex-row align-items-center flex-wrap m--1">

        <div *ngIf="dataset.observersUserIdentities.size === 0" class="text-link m-1">
          {{'phen_obs.step_5.alone' | translate}}
        </div>

        <div *ngIf="dataset.observersUserIdentities.size > 0" class="text-link m-1">
          {{'phen_obs.step_5.together' | translate}}
          <span *ngFor="let observer of dataset.observersUserIdentities; let i = index">
            <ng-container *ngIf="observer.id !== authService.getUserId()"><span *ngIf="i > 0">, </span>{{observer.username}}</ng-container>
          </span>
        </div>

        <div *ngIf="!addMoreObservers"
              class="m-1">
          <div class="btn btn-default d-flex flex-row align-items-center"
               (action)="addMoreObservers = true"
               role="button"
               tabindex="0">
            <i class="i i-xs i-black i-user-add mr-1"></i>
            {{'phen_obs.step_5.add_more' | translate}}
          </div>
        </div>

      </div>

      <div *ngIf="addMoreObservers"
           class="user-permission-container mt-2">
        <ut-user-permission [permission]="'PHENOLOGY_OBSERVATION'"
                            (selectedUser)="dataset.observersUserIdentities.add($event)"
                            (deselectedUsers)="dataset.observersUserIdentities.delete($event)"
                            (newlyGrantedUsers)="dataset.observersUserIdentities.add($event)">
        </ut-user-permission>
      </div>

      <ng-container *ngIf="authService.isUserAnonymous()">

        <div class="content-cat-text mb-1">
          {{'phen_obs.step_5.manual' | translate}}
        </div>

        <div class="d-flex flex-row align-items-center">

          <div class="input-group">
            <input
              [(ngModel)]="dataset.observers"
              #observersInput="ngModel"
              name="observersInput"
              (keyup)="checkProgress()"
              minlength="5"
              maxlength="200"
              required
              class="form-control"
              [placeholder]="'phen_obs.step_5.manual_placeholder' | translate" />
            <div class="input-group-append">
              <span class="input-group-text" [ngClass]="{'is-invalid': !observersInput.valid}">
                {{dataset.observers ? dataset.observers.length : 0}} / 5-200
              </span>
            </div>
          </div>

        </div>

      </ng-container>

    </ng-container>


  </div>
</div>

<div class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      {{'phen_obs.send.title' | translate}}
    </h1>

    <div class="content-cat-text">
      {{'phen_obs.send.desc' | translate}}
    </div>
    <div *ngIf="!authService.isUserAnonymous() && dataset.observersUserIdentities?.size === 0" class="mt-1">
      <span class="badge warning mr-1">{{'phen_obs.send.reward' | translate}}</span> <span [innerHTML]="'phen_obs.send.reward_text' | translate:{'xp': calcObsXp()}"></span>
    </div>
    <div *ngIf="!authService.isUserAnonymous() && dataset.observersUserIdentities?.size > 0" class="mt-1">
      <span class="badge warning mr-1">{{'phen_obs.send.reward' | translate}}</span> <span [innerHTML]="'phen_obs.send.reward_text_multiple_users' | translate:{'xp': calcObsXp()}"></span>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-end justify-content-md-start mx--2">

      <div class="d-flex flex-row align-items-center justify-content-center mx-2"
           (action)="onDiscard()"
           role="button"
           tabindex="0">
        <i class="i i-sm i-dark i-cross-circle mr-1" aria-hidden="true"></i>
        <div class="link">
          {{'phen_obs.send.discard' | translate}}
        </div>
      </div>
      <div class="d-flex flex-row align-items-center justify-content-center m-2"
           [ngClass]="{'send-disabled': !canSend || hasStatus(StatusKey.SEND_DATA, StatusValue.IN_PROGRESS) || hasAnyStatus(StatusKey.SEND_IMAGE, StatusValue.IN_PROGRESS, StatusValue.FAILED)}"
           (action)="onSubmit()"
           role="button"
           tabindex="0">
        <i class="i i-sm i-dark i-send-primary mr-1" aria-hidden="true"></i>
        <div class="link primary">
          {{'phen_obs.send.send' | translate}}
        </div>
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_DATA, StatusValue.IN_PROGRESS)"
           class="d-flex flex-row align-items-center justify-content-center m-2">
        <i class="i i-sm i-black i-load i-spin mr-1"></i>
        {{'phen_obs.send.in_progress' | translate}}
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_IMAGE, StatusValue.IN_PROGRESS)"
           class="d-flex flex-row align-items-center justify-content-center m-2">
        <i class="i i-sm i-black i-upload mr-1"></i>
        {{'phen_obs.send.in_progress_img' | translate}}
      </div>
      <div *ngIf="!hasStatusKey(StatusKey.SEND_DATA_ERROR) && hasStatus(StatusKey.SEND_DATA, StatusValue.FAILED)"
           class="d-flex flex-row align-items-center justify-content-center text-danger m-2">
        <i class="i i-sm i-cross-danger mr-1"></i>
        {{'phen_obs.send.error' | translate}}
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_DATA_ERROR, StatusValue.DUPLICATE)"
           class="d-flex flex-row align-items-center justify-content-center text-danger m-2">
        <i class="i i-sm i-clock-danger mr-1"></i>
        {{'phen_obs.send.error_duplicate' | translate}}
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_IMAGE, StatusValue.FAILED)"
           class="d-flex flex-row align-items-center justify-content-center text-danger m-2">
        <i class="i i-sm i-upload-error-danger mr-1"></i>
        {{'phen_obs.send.error_img' | translate}}
        <div class="link-btn link-btn-sm danger ml-1"
             (action)="sendUserImage()"
             role="button"
             tabindex="0">{{'general.retry' | translate}}</div>
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_DATA, StatusValue.SUCCESSFUL) && hasStatus(StatusKey.SEND_IMAGE, StatusValue.SUCCESSFUL)"
           class="d-flex flex-row align-items-center justify-content-center text-success m-2">
        <i class="i i-sm i-check-success mr-1"></i>
        {{'phen_obs.send.success_img' | translate}}
      </div>
      <div *ngIf="hasStatus(StatusKey.SEND_DATA, StatusValue.SUCCESSFUL) && !hasStatusKey(StatusKey.SEND_IMAGE)"
           class="d-flex flex-row align-items-center justify-content-center text-success m-2">
        <i class="i i-sm i-check-success mr-1"></i>
        {{'phen_obs.send.success' | translate}}
      </div>

    </div>

    <div *ngIf="!canSend && !hasStatus(StatusKey.SEND_DATA, StatusValue.SUCCESSFUL)" class="d-flex flex-row flex-wrap align-items-center mx--1">

      <!-- STEP 1 -->
      <div *ngIf="selectedTree" class="d-flex flex-row align-items-center badge success m-1">
        <i class="i i-xs i-check-success mr-1"></i>
        {{'phen_obs.step' | translate}} 1
        <span class="sr-only">&nbsp;{{'phen_obs.step_done' | translate}}</span>
      </div>
      <div *ngIf="!selectedTree" class="d-flex flex-row align-items-center badge danger m-1">
        <i class="i i-xs i-cross-danger mr-1"></i>
        {{'phen_obs.step' | translate}} 1
        <span class="sr-only">&nbsp;{{'phen_obs.step_error' | translate}}</span>
      </div>

      <!-- STEP 2 -->
      <div class="d-flex flex-row align-items-center badge success m-1">
        <i class="i i-xs i-check-success mr-1"></i>
        {{'phen_obs.step' | translate}} 2
        <span class="sr-only">&nbsp;{{'phen_obs.step_done' | translate}}</span>
      </div>

      <!-- STEP 3 -->
      <div *ngIf="hasStatus(StatusKey.STEP_OBS, StatusValue.HIDE); else statusStepObs"
           class="d-flex flex-row align-items-center badge m-1">
        <i class="i i-xs i-dark i-arrow-right mr-1"></i>
        {{'phen_obs.step' | translate}} 3
        <span class="sr-only">&nbsp;{{'phen_obs.step_dependent' | translate}}</span>
      </div>
      <ng-template #statusStepObs>
        <div *ngIf="isObservationsDone()" class="d-flex flex-row align-items-center badge success m-1">
          <i class="i i-xs i-check-success mr-1"></i>
          {{'phen_obs.step' | translate}} 3
          <span class="sr-only">&nbsp;{{'phen_obs.step_done' | translate}}</span>
        </div>
        <div *ngIf="!isObservationsDone()" class="d-flex flex-row align-items-center badge danger m-1">
          <i class="i i-xs i-cross-danger mr-1"></i>
          {{'phen_obs.step' | translate}} 3
          <span class="sr-only">&nbsp;{{'phen_obs.step_error' | translate}}</span>
        </div>
      </ng-template>

      <!-- STEP 4 -->
      <div *ngIf="hasStatus(StatusKey.STEP_IMG, StatusValue.HIDE); else statusStepImg"
           class="d-flex flex-row align-items-center badge m-1">
        <i class="i i-xs i-dark i-arrow-right mr-1"></i>
        {{'phen_obs.step' | translate}} 4
        <span class="sr-only">&nbsp;{{'phen_obs.step_dependent' | translate}}</span>
      </div>
      <ng-template #statusStepImg>
        <div *ngIf="isImgOk()" class="d-flex flex-row align-items-center badge success m-1">
          <i class="i i-xs i-check-success mr-1"></i>
          {{'phen_obs.step' | translate}} 4
          <span class="sr-only">&nbsp;{{'phen_obs.step_done' | translate}}</span>
        </div>
        <div *ngIf="!isImgOk()" class="d-flex flex-row align-items-center badge danger m-1">
          <i class="i i-xs i-cross-danger mr-1"></i>
          {{'phen_obs.step' | translate}} 4
          <span class="sr-only">&nbsp;{{'phen_obs.step_error' | translate}}</span>
        </div>
      </ng-template>

      <!-- STEP 5 -->
      <div *ngIf="hasStatus(StatusKey.STEP_USERS, StatusValue.HIDE); else statusStepUsers"
           class="d-flex flex-row align-items-center badge m-1">
        <i class="i i-xs i-dark i-arrow-right mr-1"></i>
        {{'phen_obs.step' | translate}} 5
        <span class="sr-only">&nbsp;{{'phen_obs.step_dependent' | translate}}</span>
      </div>
      <ng-template #statusStepUsers>
        <div *ngIf="isUsersOk()" class="d-flex flex-row align-items-center badge success m-1">
          <i class="i i-xs i-check-success mr-1"></i>
          {{'phen_obs.step' | translate}} 5
          <span class="sr-only">&nbsp;{{'phen_obs.step_done' | translate}}</span>
        </div>
        <div *ngIf="!isUsersOk()" class="d-flex flex-row align-items-center badge danger m-1">
          <i class="i i-xs i-cross-danger mr-1"></i>
          {{'phen_obs.step' | translate}} 5
          <span class="sr-only">&nbsp;{{'phen_obs.step_error' | translate}}</span>
        </div>
      </ng-template>

    </div>

  </div>
</div>

<div *ngIf="hasAnyStatusKey([StatusKey.TREES, StatusKey.SPEC], StatusValue.FAILED)" class="status-overlay overlay-fixed">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'general.error' | translate}}
    </div>
    <div class="status-text">
      {{'phen_obs.error' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light float-right"
              (action)="load()"
              role="button"
              tabindex="0">{{'general.retry' | translate}}</button>
    </div>
  </div>
</div>
