<form class="container has-status-overlay" (submit)="onSubmit()">

  <h4>{{'phenology.observation.step4.title' | translate}}</h4>

  <h5>{{'phenology.observation.step4.section.tree' | translate}}</h5>

  <table class="table no-top-border">
    <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>{{selectedTree?.id}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.location' | translate}}</th>
      <td>{{selectedTree?.location?.street}}<br/>{{selectedTree?.location?.city}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.species' | translate}}</th>
      <td>{{selectedTree?.species}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.observation_time' | translate}}</th>
      <td *ngIf="translateService.currentLang.startsWith('de')">{{dataset?.uiObservationDate | date:'dd.MM.yyyy HH:mm'}}</td>
      <td *ngIf="translateService.currentLang.startsWith('en')">{{dataset?.uiObservationDate | date:'yyyy-MM-dd HH:mm'}}</td>
    </tr>
    </tbody>
  </table>

  <h5>{{'phenology.observation.step4.section.observations' | translate}}</h5>

  <tabset id="typeTabs" type="pills">
    <tab *ngFor="let type of observationService.observationSpec">
      <ng-template tabHeading>
        {{'phenology.observation.type.' + type.name + '.name_plural' | translate}}
        <span class="badge badge-pill badge-light">{{type.objects.length}}</span>
      </ng-template>
      <table class="table no-top-border">
        <tbody>
        <tr *ngFor="let r of type.results">
          <th scope="row">{{'phenology.observation.type.' + type.name + '.result.' + r.description | translate}}</th>
          <td>{{ getObservationResultAmount(r) }}</td>
        </tr>
        </tbody>
      </table>
    </tab>
  </tabset>

  <button class="btn btn-block btn-light"
          [disabled]="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL)"
          [routerLink]="['..', '3']">
    {{'phenology.observation.step4.back_btn' | translate}}
  </button>
  <button class="btn btn-block btn-dark" type="submit"
    [disabled]="hasAnyStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS, StatusValue.SUCCESSFUL) ||
                hasAnyStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS, StatusValue.SUCCESSFUL)">
    <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS) ||
              hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS)"
      class="fa fa-spin load-xs fa-refresh float-left"></i>
    {{'phenology.observation.step4.submit_btn' | translate}}
  </button>

  <div class="text-center text-subtle mt-4">
    {{'phenology.observation.step4.submit_progress' | translate}}
  </div>
  <hr class="my-1"/>

  <div class="progress-vertical">

    <div class="progress-entry">
      <div class="progress-indicator">
        <div class="progress-indicator-content" [ngClass]="{ 'success': hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL),
                                                             'inprogress': hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS),
                                                             'error': hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.FAILED)}">
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.PENDING)"
             class="fa fa-chevron-right"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS)"
             class="fa fa-spin fa-refresh"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL)"
             class="fa fa-check"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.FAILED)"
             class="fa fa-times"
             aria-hidden="true"></i>
        </div>
      </div>
      <div class="progress-content">
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.PENDING)">
          {{'phenology.observation.step4.submit_data' | translate}}
        </span>
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS)">
          {{'phenology.observation.step4.submitting_data' | translate}}
        </span>
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL)">
          {{'phenology.observation.step4.submitted_data' | translate}}
        </span>
        <div class="flex-inline-col-center" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.FAILED)">
          {{'phenology.observation.step4.submit_data' | translate}}
          <p class="text-danger" *ngIf="!hasStatusKey(StatusKey.SUBMISSION_DATA_DETAIL)">
            {{'phenology.observation.step4.status.generic' | translate}}
          </p>
          <p class="text-danger" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA_DETAIL, ClientError.PHENOLOGY_DUPLICATE)">
            {{'phenology.observation.step4.status.duplicate' | translate}}
          </p>
        </div>
      </div>

    </div>

    <div class="progress-entry" *ngIf="hasStatusKey(StatusKey.SUBMISSION_FILE)">
      <div class="progress-indicator">
        <div class="progress-indicator-content" [ngClass]="{ 'success': hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL),
                                                             'inprogress': hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS),
                                                             'error': hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.FAILED)}">
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.PENDING)"
             class="fa fa-chevron-right"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS)"
             class="fa fa-spin fa-refresh"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL)"
             class="fa fa-check"
             aria-hidden="true"></i>
          <i *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.FAILED)"
             class="fa fa-times"
             aria-hidden="true"></i>
        </div>
      </div>
      <div class="progress-content">
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.PENDING)">
            {{'phenology.observation.step4.submit_file' | translate}}
          </span>
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS)">
          {{'phenology.observation.step4.submitting_file' | translate}}
        </span>
        <span *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL)">
          {{'phenology.observation.step4.submitted_file' | translate}}
        </span>
        <div class="progress-content-between" *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.FAILED)">
          <span class="flex-inline-col-center">{{'phenology.observation.step4.submit_failed_file' | translate}}</span>
          <button class="btn btn-light" (click)="submitFile()">{{'general.retry' | translate}}</button>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL) &&
              (!hasStatusKey(StatusKey.SUBMISSION_FILE) ||
              hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL))"
       class="status-overlay overlay-fixed">
    <div class="status-content">
      <div class="status-heading heading-success">
        {{'phenology.observation.step4.success.title' | translate}}
      </div>
      <div class="status-text">
        {{'phenology.observation.step4.success.text' | translate}}
      </div>
      <div class="status-controls">
          <button class="btn btn-light float-right" routerLink="/project">{{'phenology.observation.step4.success.btn' | translate}}</button>
      </div>
    </div>
  </div>

</form>
