<form class="container p-0 mt-3 has-status-overlay" (submit)="onSubmit()">

  <h4>{{'phenology.observation.step4.title' | translate}}</h4>

  <h5>{{'phenology.observation.step4.section.tree' | translate}}</h5>

  <table class="table">
    <tbody>
    <tr>
      <th scope="row">ID</th>
      <td>{{selectedTree?.id}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.location' | translate}}</th>
      <td>{{selectedTree?.location?.street}}<br/>{{selectedTree?.location?.city}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.species' | translate}}</th>
      <td>{{selectedTree?.species}}</td>
    </tr>
    <tr>
      <th scope="row">{{'phenology.observation.step4.observation_time' | translate}}</th>
      <td>{{dataset?.observationDate}}</td>
    </tr>
    </tbody>
  </table>

  <h5>{{'phenology.observation.step4.section.observations' | translate}}</h5>

  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li *ngFor="let type of observationService.observationSpec" class="nav-item">
      <a class="nav-link active" id="{{type.name}}-tab" data-toggle="pill" href="#{{type.name}}-tab-content" role="tab" aria-controls="pills-home" aria-selected="true">
        {{'phenology.observation.type.' + type.name + '.name_plural' | translate}} <span class="badge badge-pill badge-light">{{type.objects.length}}</span>
      </a>
    </li>
  </ul>
  <div *ngFor="let type of observationService.observationSpec" class="tab-content" id="{{type.name}}-tab-content">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <table class="table">
        <tbody>
        <tr *ngFor="let r of type.results">
          <th scope="row">{{'phenology.observation.type.' + type.name + '.result.' + r.description | translate}}</th>
          <td>{{ getObservationResultAmount(r) }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button class="btn btn-block btn-light"
          [disabled]="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL)"
          [routerLink]="['..', observationService.previousStep?.path]">
    {{'phenology.observation.step4.back_btn' | translate}}
  </button>
  <button class="btn btn-block btn-dark" type="submit"
    [disabled]="hasAnyStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS, StatusValue.SUCCESSFUL) ||
                hasAnyStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS, StatusValue.SUCCESSFUL)">
    <i *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS) ||
              hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS)"
      class="fa fa-spin load-xs fa-refresh float-left"></i>
    {{'phenology.observation.step4.submit_btn' | translate}}
  </button>

  <ul class="list-group mt-2">
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.PENDING)">
      <i class="fa fa-arrow-right text-info" aria-hidden="true"></i>
      {{'phenology.observation.step4.submit_data' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.IN_PROGRESS)">
      <i class="fa fa-spin fa-refresh"></i>
      {{'phenology.observation.step4.submitting_data' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL)">
      <i class="fa fa-check text-success" aria-hidden="true"></i>
      {{'phenology.observation.step4.submitted_data' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.FAILED)">
      <i class="fa fa-times text-danger" aria-hidden="true"></i>
      {{'phenology.observation.step4.submit_failed_data' | translate}}
      <p class="text-danger" *ngIf="!hasStatusKey(StatusKey.SUBMISSION_DATA_DETAIL)">
        {{'phenology.observation.step4.status.generic' | translate}}
      </p>
      <p class="text-danger" *ngIf="hasStatus(StatusKey.SUBMISSION_DATA_DETAIL, ClientError.PHENOLOGY_DUPLICATE)">
        {{'phenology.observation.step4.status.duplicate' | translate}}
      </p>
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.PENDING)">
      <i class="fa fa-arrow-right text-info" aria-hidden="true"></i>
      {{'phenology.observation.step4.submit_file' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.IN_PROGRESS)">
      <i class="fa fa-spin fa-refresh"></i>
      {{'phenology.observation.step4.submitting_file' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL)">
      <i class="fa fa-check text-success" aria-hidden="true"></i>
      {{'phenology.observation.step4.submitted_file' | translate}}
    </li>
    <li class="list-group-item" *ngIf="hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.FAILED)">
      <button class="btn btn-light float-right" (click)="submitFile()">Retry</button>
      <i class="fa fa-times text-danger" aria-hidden="true"></i>
      {{'phenology.observation.step4.submit_failed_file' | translate}}
    </li>
  </ul>

  <div *ngIf="hasStatus(StatusKey.SUBMISSION_DATA, StatusValue.SUCCESSFUL) &&
              (!hasStatusKey(StatusKey.SUBMISSION_FILE) ||
              hasStatus(StatusKey.SUBMISSION_FILE, StatusValue.SUCCESSFUL))"
       class="status-overlay overlay-fixed">
    <div class="status-overlay-content">
      <div class="status-overlay-heading heading-success">
        {{'phenology.observation.step4.success.title' | translate}}
      </div>
      <div class="status-overlay-text">
        {{'phenology.observation.step4.success.text' | translate}}
      </div>
      <div class="status-overlay-controls">
          <button class="btn btn-light float-right" routerLink="/phenology">{{'phenology.observation.step4.success.btn' | translate}}</button>
      </div>
    </div>
  </div>

</form>
