<div class="form-group mb-0">
  <input
    [ngModel]="treeSearchInput"
    (ngModelChange)="setTreeSearchInput($event)"
    name="treeSearchInput"
    class="form-control form-control-lg search-input"
    [placeholder]="'phenology.observation.step1.tree_search_placeholder' | translate" />
</div>

<div *ngIf="displayTrees"
     class="m--1 pt-2">

  <div *ngFor="let tree of displayTrees[currentDisplayTreePage]"
       class="tree-container link-container"
       [ngClass]="{'active': selectedTree?.id === tree.id}">
    <div class="inner link-container d-flex flex-column pointer m-1"
         (action)="toggleTree(tree.id)"
         tabindex="0">

      <div class="title p-2">
        <i class="i i-md i-dark i-tree mr-2"></i>
        <div class="flex-grow-1">{{'tree.species.' + tree.species.name | lowercase | translate}}</div>
        <div class="badge badge-sm">#{{tree.id}}</div>
      </div>
      <div class="info p-2">
        <div class="d-flex flex-row align-items-center mt-1">
          <i class="i i-xs i-black i-id mr-2"></i>
          {{'tree.species.latin.' + tree.species.name | lowercase | translate}}
        </div>
        <div class="d-flex flex-row align-items-center mt-1">
          <i class="i i-xs i-black i-location mr-2"></i>
          {{'tree_list.tree.location' | translate:tree.location}}
        </div>
        <div *ngIf="selectedTree?.id === tree.id" class="d-flex flex-row align-items-center justify-content-end mt-1">
          <i class="i i-sm i-dark i-check-success mr-1"></i>
          <div [ngClass]="{'text-success': !allowDeselect, 'link success': allowDeselect}">
            Selected
          </div>
        </div>
        <div *ngIf="selectedTree?.id !== tree.id" class="d-flex flex-row align-items-center justify-content-end mt-1">
          <div class="link">
            Select
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<nav *ngIf="displayTreePagination">
  <ul class="pagination mt-2 mb-0">
    <li class="page-item">
      <a class="page-link"
         (action)="displayTreePage(0)"
         tabindex="0">
        <i class="i i-arrow-left-double i-dark"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (action)="displayTreePage(currentDisplayTreePage-1)"
         tabindex="0">
        <i class="i i-arrow-left i-dark" aria-hidden="true"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link disabled">
        {{currentDisplayTreePage + 1}}
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (action)="displayTreePage(currentDisplayTreePage+1)"
         tabindex="0">
        <i class="i i-arrow-right i-dark"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link"
         (action)="displayTreePage(currentDisplayTreePages-1)"
         tabindex="0">
        <i class="i i-arrow-right-double i-dark"></i>
      </a>
    </li>
  </ul>
</nav>
