<div class="mb-3 d-flex flex-row flex-wrap">
  <img class="test" src="/assets/img/journal/sensor2app/ue_baum-wiese-schatten.png" />
  <div class="">
    Warum ist die Temperatur beim Bild Baum, Wiese, Schatten niedrig?
    Kreuze die richtige Antwort an:
    <li style="list-style-type: none">
      <ul>☐ Weil der Baum transpiriert und Schatten spendet.</ul>
      <ul>☐ Weil das Eis die Luft kühlt.</ul>
      <ul>☐ Weil die Sonne hinter dem Baum steht.</ul>
    </li>
  </div>
</div>
<div class="mb-3">
  <img src="/assets/img/journal/sensor2app/ue_haus-beton-schatten.png" />
</div>
