<ut-header></ut-header>

<div class="container-fluid mt-3" *ngIf="router.url.indexOf('/observation/') === -1">

  <div class="card col-md-6">
    <div class="card-body">
      <h5 class="card-title">{{'phenology.observation_note.title' | translate}}</h5>
      <p class="card-text">{{'phenology.observation_note.text' | translate}}</p>
      <button routerLink="observation/step" class="btn btn-primary btn-block">{{'phenology.observation_note.start_btn' | translate}}</button>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<ut-footer></ut-footer>
