<div class="user-overview-container" [ngClass]="'level-' + level">
  <div class="info">
    <div class="stats-wrapper" [ngClass]="{'no-level-up': !levelUp}">

      <div *ngIf="hasStatus(StatusKey.ACHIEVEMENTS_LOADING, StatusValue.SUCCESSFUL)"
           class="level-progress">
        <div class="level-info">
          <div class="d-flex flex-row align-items-center">
            Level {{level}} / {{maxLevel}}
          </div>
        </div>
        <div class="bar">
          <div class="bar-inner" [cssvar]="{name: '--target-width', value: (achievements.xp > maxLevelXp ? 100 : ((achievements.xp / maxLevelXp) * 100)) + '%'}"></div>
        </div>
      </div>

    </div>

    <div *ngIf="hasStatus(StatusKey.ACHIEVEMENTS_LOADING, StatusValue.SUCCESSFUL)"
         class="description">
      <div *ngIf="level >= 5" [innerHTML]="'user_overview.desc_level_5+' | translate:{'xp': achievements.xp}"></div>
      <div *ngIf="achievements.xp > 0 && level < 5" [innerHTML]="'user_overview.desc_level_1-5' | translate:{'xp': achievements.xp}"></div>
      <div *ngIf="achievements.xp === 0" [innerHTML]="'user_overview.desc_level_0' | translate"></div>
    </div>

    <div *ngIf="!hasStatus(StatusKey.DETAILS, StatusValue.SHOW) && hasStatus(StatusKey.ACHIEVEMENTS_LOADING, StatusValue.SUCCESSFUL)"
         class="more">
      <a (click)="setStatus(StatusKey.DETAILS, StatusValue.SHOW)"
            class="link-btn">
        {{'user_overview.view_details' | translate}}
      </a>
    </div>

    <div *ngIf="hasStatus(StatusKey.DETAILS, StatusValue.SHOW)"
         class="details">

      <hr/>

      <div class="content-cat-subheading">
        {{'user_overview.details.title' | translate}}
      </div>


      <div class="level-progress">
        <div class="level-info">
          <div class="d-flex flex-row align-items-center justify-content-between">
            <div>Level {{level}} </div>
            <div>Level {{nextLevel}}</div>
          </div>
        </div>
        <div class="bar">
          <div class="bar-inner" [cssvar]="{name: '--target-width', value: (achievements.xp > maxLevelXp ? 100 : ((achievements.xp - levelXp) / (nextLevelXp - levelXp) * 100)) + '%'}"></div>
        </div>
      </div>
      <div class="mt-2 d-flex flex-row justify-content-between">
        <div>
          <span *ngIf="levelUp" class="font-weight-bold" [innerHTML]="'user_overview.details.desc_new_level' | translate:{'level': level}"></span>
          <span *ngIf="!levelUp" [innerHTML]="'user_overview.details.desc_level' | translate:{'level': level}"></span>
          <div *ngIf="!levelUp" [innerHTML]="'user_overview.details.desc_xp_needed' | translate:{'nextLevelRemainingXp': nextLevelRemainingXp, 'nextLevel': nextLevel}"></div>
        </div>
        <div>
          {{'user_overview.details.contributions' | translate}}

          <div *ngIf="hasStatus(StatusKey.ACHIEVEMENTS_LOADING, StatusValue.SUCCESSFUL)"
               class="d-flex flex-row align-items-stretch justify-content-between">

            <div class="d-flex flex-row align-items-end">
              <table class="table-xp">
                <tr *ngFor="let l of achievements.xpHistory.slice(0, 3); let i = index">
                  <td class="text-nowrap">
                    + {{l.xp - (i < achievements.xpHistory.length-1 ? achievements.xpHistory[i+1].xp : 0)}} {{'user_overview.xp' | translate}}
                  </td>
                  <td>
                    {{'user.level_action.' + l.action | translate}}
                  </td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>


    </div>

  </div>
</div>
