@import (reference) "../../../theme/variables";

.user-overview-container {
  border-radius: @borderRadiusNew;
  position: relative;
  z-index: 1;

  .info {
    overflow: hidden;
    border-bottom-left-radius: @borderRadiusNew;
    border-bottom-right-radius: @borderRadiusNew;

    .stats-wrapper {
      border-radius: @borderRadiusNew;
      color: @black;
      text-shadow: 0 0.5px 0.5px @grey;
    }

    .level {
      margin-right: @gutter2x;

      > img {
        width: 65px;
        filter: drop-shadow( 0 1px 1px @black);
      }
    }

    .description,
    .more,
    .details {
      margin-top: @gutter;
    }
  }

  .table-xp {

    tr:nth-child(2) {
      opacity: 0.5;
    }

    tr:nth-child(3) {
      opacity: 0.25;
    }

    td:first-child {
      padding-right: @gutter2x;
      color: @subtleTextColor;
    }
  }
}

// --- LEVELS ---

@levelDropShadow:   0 0 10px;
@level1Color:       rgb(170, 170, 170);
@level2Color:       rgb(196, 68, 149);
@level3Color:       rgb(154, 103, 208);
@level4Color:       rgb(111, 101, 208);
@level5Color:       rgb(75, 97, 208);
@level6Color:       rgb(81, 196, 208);
@level7Color:       rgb(71, 208, 156);
@level8Color:       rgb(70, 208, 90);
@level9Color:       rgb(148, 208, 82);
@level10Color:      rgb(171, 214, 45);
@level11Color:      rgb(240, 240, 96);
@level12Color:      rgb(240, 207, 83);
@level13Color:      rgb(240, 184, 78);
@level14Color:      rgb(240, 159, 102);
@level15Color:      rgb(240, 118, 98);

.user-overview-container {
  .level-container {
    position: relative;
    margin-top: 100px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: @white;
      z-index: -2;
      border-radius: @borderRadiusNew;
    }

    .level {
      width: 100px;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
      z-index: 9999;
      animation: i-level 2s;
    }

    .level-highlight {
      width: 180px;
      position: absolute;
      top: -90px;
      left: calc(50% - 90px);
      animation: i-spin-keyframes 6s infinite linear;
      opacity: 0.85;
      z-index: -3;
    }

    .level-text {
      text-align: center;
      padding-top: 55px;
      font-size: @fontSizeExtraLarge;
      padding-bottom: @gutter2x;
      text-shadow: 0px 0.5px 0.5px @black;
    }
  }

  .level-progress {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom-right-radius: @borderRadiusNew;
    border-bottom-left-radius: @borderRadiusNew;

    .bar {
      height: @fontSizeExtraLarge;
      background: linear-gradient(to right, darken(@bgColor, 15%), darken(@bgColor, 20%));
      width: 100%;
      box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.1) inset;
      //margin-bottom: -1px;
      position: relative;
      border-radius: @borderRadiusNew;
      overflow: hidden;

      > .bar-inner {
        height: 100%;
        width: 0;
        border-top-left-radius: @borderRadiusNew;
        border-bottom-left-radius: @borderRadiusNew;
        animation: 1.5s i-level-progress 0.75s forwards;
      }
    }

    .level-info {
      position: absolute;
      left: @gutter;
      top: 0;
      right: @gutter;
      bottom: 0;
      z-index: 1;

      display: flex;
      flex-direction: row;
      align-items: center;

      font-size: @fontSizeSmall;
      color: @white;
      text-shadow: 0px 0.5px 0.5px @black;
    }
  }

  &.level-1 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level1Color, darken(@level1Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level1Color);
      }

      .level-text {
        color: lighten(@level1Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to top right, @level1Color, darken(@level1Color, 15%));
    }
  }

  .level-progress .bar-inner {
    background: linear-gradient(to right, @level1Color, lighten(@level1Color, 10%));
    border: solid darken(@level1Color, 15%) 1px;
  }

  &.level-2 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level2Color, darken(@level2Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level2Color);
      }

      .level-text {
        color: lighten(@level2Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level2Color, lighten(@level2Color, 10%));
      border: solid darken(@level2Color, 15%) 1px;
    }
  }

  &.level-3 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level3Color, darken(@level3Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level3Color);
      }

      .level-text {
        color: lighten(@level3Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level3Color, lighten(@level3Color, 10%));
      border: solid darken(@level3Color, 15%) 1px;
    }
  }

  &.level-4 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level4Color, darken(@level4Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level4Color);
      }

      .level-text {
        color: lighten(@level4Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level4Color, lighten(@level4Color, 10%));
      border: solid darken(@level4Color, 15%) 1px;
    }
  }

  &.level-5 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level5Color, darken(@level5Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level5Color);
      }

      .level-text {
        color: lighten(@level5Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level5Color, lighten(@level5Color, 10%));
      border: solid darken(@level5Color, 15%) 1px;
    }
  }

  &.level-6 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level6Color, darken(@level6Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level6Color);
      }

      .level-text {
        color: lighten(@level6Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level6Color, lighten(@level6Color, 10%));
      border: solid darken(@level6Color, 15%) 1px;
    }
  }

  &.level-7 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level7Color, darken(@level7Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level7Color);
      }

      .level-text {
        color: lighten(@level7Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level7Color, lighten(@level7Color, 10%));
      border: solid darken(@level7Color, 15%) 1px;
    }
  }

  &.level-8 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level8Color, darken(@level8Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level8Color);
      }

      .level-text {
        color: lighten(@level8Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level8Color, lighten(@level8Color, 10%));
      border: solid darken(@level8Color, 15%) 1px;
    }
  }

  &.level-9 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level9Color, darken(@level9Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level9Color);
      }

      .level-text {
        color: lighten(@level9Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level9Color, lighten(@level9Color, 10%));
      border: solid darken(@level9Color, 15%) 1px;
    }
  }

  &.level-10 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level10Color, darken(@level10Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level10Color);
      }

      .level-text {
        color: lighten(@level10Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level10Color, lighten(@level10Color, 10%));
      border: solid darken(@level10Color, 15%) 1px;
    }
  }

  &.level-11 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level11Color, darken(@level11Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level11Color);
      }

      .level-text {
        color: darken(@level11Color, 45%);
        text-shadow: 0px 0.5px 0.5px @white;
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level11Color, lighten(@level11Color, 10%));
      border: solid darken(@level11Color, 15%) 1px;
    }
  }

  &.level-12 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level12Color, darken(@level12Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level12Color);
      }

      .level-text {
        color: lighten(@level12Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level12Color, lighten(@level12Color, 10%));
      border: solid darken(@level12Color, 15%) 1px;
    }
  }

  &.level-13 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level13Color, darken(@level13Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level13Color);
      }

      .level-text {
        color: lighten(@level13Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level13Color, lighten(@level13Color, 10%));
      border: solid darken(@level13Color, 15%) 1px;
    }
  }

  &.level-14 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level14Color, darken(@level14Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level14Color);
      }

      .level-text {
        color: lighten(@level14Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level14Color, lighten(@level14Color, 10%));
      border: solid darken(@level14Color, 15%) 1px;
    }
  }

  &.level-15 {
    .level-container {
      &:before {
        background: linear-gradient(to top right, @level15Color, darken(@level15Color, 15%));
      }

      .level {
        filter: drop-shadow(@levelDropShadow @level15Color);
      }

      .level-text {
        color: lighten(@level15Color, 35%);
      }
    }

    .level-progress .bar-inner {
      background: linear-gradient(to right, @level15Color, lighten(@level15Color, 10%));
      border: solid darken(@level15Color, 15%) 1px;
    }
  }
}

@keyframes i-level
{
  0%   {transform: translate(0, 25px); opacity: 0}
  100% {transform: translate(0, 0); opacity: 1;}
}

@keyframes i-spin-keyframes
{
  0%   {transform: rotate(360deg) scale(1, 1); transform-origin: 50% 50%;}
  50% {transform: rotate(180deg) scale(1.1, 1.1); transform-origin: 50% 50%;}
  100% {transform: rotate(0deg) scale(1, 1); transform-origin: 50% 50%;}
}

@keyframes i-pulse-keyframes
{
  0%   {transform: scale(1, 1); transform-origin: 50% 50%;}
  100% {transform: scale(1.1, 1.1); transform-origin: 50% 50%;}
}

@keyframes i-level-progress
{
  0%   {width: 0}
  100% {width: var(--target-width)}
}
