@import (reference) "../../../theme/variables";

.user-overview-container {
  background-color: @bgColor;
  border-radius: @borderRadiusNew;
  position: relative;
  z-index: -4;

  .info {
    padding: @gutter2x;

    .greeting {
      font-size: @fontSizeLarge;
      text-shadow: 0px 0.5px 0.5px @darkGrey;
    }
    .stats-wrapper {
      border-radius: @borderRadiusNew;
      color: @black;
      text-shadow: 0 0.5px 0.5px @grey;

      &.no-level-up {
        padding: @gutter2x;
        margin-left: -@gutter2x;
        margin-right: -@gutter2x;
        margin-bottom: -@gutter2x;
        background: linear-gradient(to top right, @bgColor, darken(@bgColor, 15%));
      }
    }

    .level {
      margin-right: @gutter2x;

      > img {
        width: 55px;
        filter: drop-shadow( 0 1px 1px @black);
      }
    }
  }
}

// --- LEVELS ---

@levelDropShadow:   0 0 10px;
@level1Color:       rgb(170, 170, 170);
@level2Color:       rgb(196, 68, 149);
@level3Color:       rgb(154, 103, 208);
@level4Color:       rgb(111, 101, 208);
@level5Color:       rgb(75, 97, 208);
@level6Color:       rgb(81, 196, 208);
@level7Color:       rgb(71, 208, 156);
@level8Color:       rgb(70, 208, 90);
@level9Color:       rgb(148, 208, 82);
@level10Color:      rgb(171, 214, 45);
@level11Color:      rgb(240, 240, 96);
@level12Color:      rgb(240, 207, 83);
@level13Color:      rgb(240, 184, 78);
@level14Color:      rgb(240, 159, 102);
@level15Color:      rgb(240, 118, 98);

.level-container {
  position: relative;
  margin-top: 100px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: @white;
    z-index: -2;
    border-radius: @borderRadiusNew;
  }

  .level {
    width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    z-index: 9999;
    animation: i-level 2s;
  }

  .level-highlight {
    width: 180px;
    position: absolute;
    top: -90px;
    left: calc(50% - 90px);
    animation: i-spin-keyframes 6s infinite linear;
    opacity: 0.85;
    z-index: -3;
  }

  .level-text {
    text-align: center;
    padding-top: 55px;
    font-size: @fontSizeExtraLarge;
    padding-bottom: @gutter2x;
    text-shadow: 0px 0.5px 0.5px @black;
  }

  &.level-1 {
    &:before {
      background: linear-gradient(to top right, @level1Color, darken(@level1Color, 15%));
    }
    .level {
      filter: drop-shadow( @levelDropShadow @level1Color);
    }
    .level-text {
      color: lighten(@level1Color, 35%);
    }
  }

  &.level-2 {
    &:before {
      background: linear-gradient(to top right, @level2Color, darken(@level2Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level2Color);
    }
    .level-text {
      color: lighten(@level2Color, 35%);
    }
  }

  &.level-3 {
    &:before {
      background: linear-gradient(to top right, @level3Color, darken(@level3Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level3Color);
    }
    .level-text {
      color: lighten(@level3Color, 35%);
    }
  }

  &.level-4 {
    &:before {
      background: linear-gradient(to top right, @level4Color, darken(@level4Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level4Color);
    }
    .level-text {
      color: lighten(@level4Color, 35%);
    }
  }

  &.level-5 {
    &:before {
      background: linear-gradient(to top right, @level5Color, darken(@level5Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level5Color);
    }
    .level-text {
      color: lighten(@level5Color, 35%);
    }
  }

  &.level-6 {
    &:before {
      background: linear-gradient(to top right, @level6Color, darken(@level6Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level6Color);
    }
    .level-text {
      color: lighten(@level6Color, 35%);
    }
  }

  &.level-7 {
    &:before {
      background: linear-gradient(to top right, @level7Color, darken(@level7Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level7Color);
    }
    .level-text {
      color: lighten(@level7Color, 35%);
    }
  }

  &.level-8 {
    &:before {
      background: linear-gradient(to top right, @level8Color, darken(@level8Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level8Color);
    }
    .level-text {
      color: lighten(@level8Color, 35%);
    }
  }

  &.level-9 {
    &:before {
      background: linear-gradient(to top right, @level9Color, darken(@level9Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level9Color);
    }
    .level-text {
      color: lighten(@level9Color, 35%);
    }
  }

  &.level-10 {
    &:before {
      background: linear-gradient(to top right, @level10Color, darken(@level10Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level10Color);
    }
    .level-text {
      color: lighten(@level10Color, 35%);
    }
  }

  &.level-11 {
    &:before {
      background: linear-gradient(to top right, @level11Color, darken(@level11Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level11Color);
    }
    .level-text {
      color: darken(@level11Color, 45%);
      text-shadow: 0px 0.5px 0.5px @white;
    }
  }

  &.level-12 {
    &:before {
      background: linear-gradient(to top right, @level12Color, darken(@level12Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level12Color);
    }
    .level-text {
      color: lighten(@level12Color, 35%);
    }
  }

  &.level-13 {
    &:before {
      background: linear-gradient(to top right, @level13Color, darken(@level13Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level13Color);
    }
    .level-text {
      color: lighten(@level13Color, 35%);
    }
  }

  &.level-14 {
    &:before {
      background: linear-gradient(to top right, @level14Color, darken(@level14Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level14Color);
    }
    .level-text {
      color: lighten(@level14Color, 35%);
    }
  }

  &.level-15 {
    &:before {
      background: linear-gradient(to top right, @level15Color, darken(@level15Color, 15%));

    }
    .level {
      filter: drop-shadow( @levelDropShadow @level15Color);
    }
    .level-text {
      color: lighten(@level15Color, 35%);
    }
  }
}

@keyframes i-level-progress
{
  0%   {width: 0;}
  100% {width: 87%;}
}

@keyframes i-level
{
  0%   {transform: translate(0, 25px); opacity: 0}
  100% {transform: translate(0, 0); opacity: 1;}
}

@keyframes i-spin-keyframes
{
  0%   {transform: rotate(360deg) scale(1, 1); transform-origin: 50% 50%;}
  50% {transform: rotate(180deg) scale(1.1, 1.1); transform-origin: 50% 50%;}
  100% {transform: rotate(0deg) scale(1, 1); transform-origin: 50% 50%;}
}

@keyframes i-pulse-keyframes
{
  0%   {transform: scale(1, 1); transform-origin: 50% 50%;}
  100% {transform: scale(1.1, 1.1); transform-origin: 50% 50%;}
}
