<div class="wrapper"
     (click)="open()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
  <div class="expand"></div>
</div>

<div class="fullscreen-wrapper"
     [ngClass]="{'show': isShown, 'closing': isClosing, 'controls': showControls}"
     (click)="close()">
  <div class="fullscreen-close close"
       (click)="close()"></div>
  <div class="fullscreen-content-wrapper"
       (click)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="fullscreenContent"></ng-container>
  </div>
  <div *ngIf="showControls"
       class="slide-previous"
       (click)="onPrevious(); $event.stopPropagation()"></div>
  <div *ngIf="showControls"
       class="slide-next"
       (click)="onNext(); $event.stopPropagation()"></div>
</div>
