@import (reference) "../../../theme/variables";

.password-strength {
  position: relative;
  z-index: -1;

  overflow: hidden;
  margin-top: -@borderRadiusNew;
  height: (@borderRadiusNew + 0.15rem);
  background-color: @bgColor;
  border-bottom-left-radius: @borderRadiusNew;
  border-bottom-right-radius: @borderRadiusNew;

  &.is-weak .indicator {
    background-color: @danger;
  }

  &.is-strong .indicator {
    background-color: @success;
  }

  .indicator {
    height: 100%;
    width: 0;
  }
}

.info {
  color: @darkGrey;
  font-size: @fontSizeExtraSmall;
  border-bottom-left-radius: @borderRadiusOuterNew;
  border-bottom-right-radius: @borderRadiusOuterNew;

  ::ng-deep ul {
    padding: 0.2rem 0 0 0.75rem;
    margin: 0;
    list-style: "– ";
  }
}
