<form (submit)="changePassword()">
  <fieldset>
    <div class="form-group">
      <input type="password"
             class="form-control"
             name="oldPassword"
             [ngClass]="{'is-invalid': !this.passwordReset.oldPassword}"
             [placeholder]="'login.password_old_placeholder' | translate"
             [(ngModel)]="this.passwordReset.oldPassword"
             required>
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control"
             [ngClass]="{'is-invalid': this.passwordStrength < 100}"
             name="newPassword"
             [placeholder]="'login.password_new_placeholder' | translate"
             [(ngModel)]="this.passwordReset.newPassword"
             (ngModelChange)="checkPasswordStrength()"
             required>
      <div class="password-strength" [ngClass]="this.passwordStrengthClass">
        <div class="indicator" [style.width.%]="this.passwordStrength"></div>
      </div>
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control"
             name="newPasswordConfirm"
             [ngClass]="{'is-invalid': !isNewPasswordsMatching()}"
             [placeholder]="'login.password_new_confirm_placeholder' | translate"
             [(ngModel)]="this.newPasswordConfirm"
             required>
    </div>
    <button type="submit" class="btn btn-block btn-primary" [attr.disabled]="!isValid() || status === PasswordResetStatus.UPDATING_PASSWORD ? true : null">
      <span *ngIf="status !== PasswordResetStatus.UPDATING_PASSWORD">
        {{'login.change_password' | translate}}
      </span>
      <span *ngIf="status === PasswordResetStatus.UPDATING_PASSWORD">
        <i class="fa fa-spin load-xs fa-refresh float-left"></i>
        {{'login.changing_password' | translate}}
      </span>
    </button>
  </fieldset>
</form>
