<div *ngIf="hasStatus(StatusKey.TREE_LOADING, StatusValue.IN_PROGRESS)"
     class="d-flex flex-row justify-content-center my-4">
  <i class="i i-sm i-black i-spin i-load mr-1"></i>
  {{'tree.loading' | translate}}
</div>

<ng-container *ngIf="tree">

<section class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">{{'tree.species.' + tree.species.name | lowercase | translate}}</h1>
    <div class="content-cat-text">
      <i>{{'tree.species.latin.' + tree.species.name | lowercase | translate}}</i>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="container tree-image">
    <h1 class="content-cat-heading">{{'tree.summary.title' | translate}}</h1>
    <div class="content-cat-flex flex-md-nowrap">
      <div class="content-cat-text flex-grow-1" [innerHTML]="'tree.summary.text' | translate">
      </div>
      <ut-zoom *ngIf="tree.id === 1"
               [content]="treeImg"
               [fullscreenContent]="treeImgFull"
               [mode]="Mode.IMAGE">
      </ut-zoom>
      <ng-template #treeImg>
        <img class="content-cat-img" src="../../../../../assets/content/img/tree_1.jpg"/>
      </ng-template>
      <ng-template #treeImgFull>
        <img class="fullscreen-content" src="../../../../../assets/content/img/tree_1.jpg"/>
      </ng-template>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="container tree-image">
    <h1 class="content-cat-heading">{{'tree.through_year.title' | translate}}</h1>
    <div class="content-cat-flex flex-md-nowrap">
      <div class="content-cat-text flex-grow-1">
        <div [innerHTML]="'tree.through_year.text' | translate"></div>
        <div class="text-subtle text-xs mt-2">
          {{'tree.through_year.update_month' | translate}}
        </div>
      </div>
      <ut-slideshow #throughYearSlideshow [slides]="[
                              {'url': '../../../assets/content/img/phenology_seasons/1.JPG', 'alt': 'tree.through_year.pictures_alt.1' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/2.JPG', 'alt': 'tree.through_year.pictures_alt.2' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/3.JPG', 'alt': 'tree.through_year.pictures_alt.3' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/4.JPG', 'alt': 'tree.through_year.pictures_alt.4' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/5.JPG', 'alt': 'tree.through_year.pictures_alt.5' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/6.JPG', 'alt': 'tree.through_year.pictures_alt.6' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/7.JPG', 'alt': 'tree.through_year.pictures_alt.7' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/8.JPG', 'alt': 'tree.through_year.pictures_alt.8' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/9.JPG', 'alt': 'tree.through_year.pictures_alt.9' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/10.JPG', 'alt': 'tree.through_year.pictures_alt.10' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/11.JPG', 'alt': 'tree.through_year.pictures_alt.11' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/12.JPG', 'alt': 'tree.through_year.pictures_alt.12' | translate}
                              ]"
                    [slideTemplate]="treeSlide"
                    [intervalMs]="2500">
      </ut-slideshow>
      <ng-template #treeSlide let-url="url" let-alt="alt">
        <ut-zoom [content]="img"
                 [fullscreenContent]="imgFull"
                 [showViewControls]="true"
                 [mode]="Mode.IMAGE"
                 (previous)="throughYearSlideshow.previousSlide()"
                 (next)="throughYearSlideshow.nextSlide()"
                 (opening)="throughYearSlideshow.pause = true"
                 (closed)="throughYearSlideshow.pause = false">
        </ut-zoom>
        <ng-template #img>
          <img class="content-cat-img" [src]="url" [alt]="alt"/>
        </ng-template>
        <ng-template #imgFull>
          <img class="fullscreen-content" [src]="url" [alt]="alt"/>
        </ng-template>
      </ng-template>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="container tree-image">
    <h1 class="content-cat-heading">{{'tree.cooling_power.title' | translate}}</h1>
    <div class="content-cat-flex flex-md-nowrap">
      <div class="content-cat-text flex-grow-1">
        <div [innerHTML]="'tree.cooling_power.text' | translate"></div>
        <div class="text-subtle text-xs">
          {{'tree.cooling_power.update_month' | translate}}
        </div>
      </div>
      <img class="content-cat-img" src="../../../../../assets/content/img/tree-temp.svg"/>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="container tree-image">
    <h1 class="content-cat-heading">{{'tree.leaf_development.title' | translate}}</h1>
    <div class="content-cat-flex flex-lg-nowrap">
      <div class="content-cat-text flex-grow-1">
        {{'tree.leaf_development.text' | translate}}
        <div class="text-subtle text-xs mt-2">
          {{'tree.leaf_development.update_month' | translate}}
        </div>
      </div>
      <ut-audio-img
        *lang="'de-DE'"
        image="../../../assets/content/img/blattentfaltung_2018_10.jpeg"
        audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3"
        class="content-cat-img-lg">
      </ut-audio-img>
      <ut-audio-img
        *lang="'en-GB'"
        image="../../../assets/content/img/blattentfaltung_2018_10_en.jpeg"
        audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3"
        class="content-cat-img-lg">
      </ut-audio-img>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="container">
    <div *ngIf="tree.beacons && tree.beacons.length > 0">
      <ut-beacon-list
        [beacons]="tree.beacons"
      ></ut-beacon-list>
    </div>
    <div *ngIf="!tree.beacons || tree.beacons.length === 0"
         class="status-img my-4">
      <img src="/assets/img/icon/beacon_none_grey.svg" />
      <div>
        {{'tree.beacon.details.none_attached' | translate}}
      </div>
    </div>
  </div>
</section>

<section *auth="envService.security.rolesAdmin" class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading">
      {{'tree.admin.title' | translate}}
    </h1>
    <div class="content-cat-text">
      {{'tree.admin.desc' | translate}}
    </div>
    <a class="content-cat-link"
       [routerLink]="['/admin/tree']"
       [queryParams]="{'tree': tree.id}">
      {{'tree.admin.edit_link' | translate}}
    </a>
  </div>
</section>



</ng-container>

<div *ngIf="hasAnyStatusKey([StatusKey.TREE_VALIDATION, StatusKey.TREE_LOADING], StatusValue.FAILED)"
     class="status-overlay position-relative d-block h-auto my-4">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'tree_view.error.title' | translate}}
    </div>
    <div class="status-text">
      {{'tree_view.error.text' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light"
              (click)="ngOnInit()">{{'general.retry' | translate}}</button>
    </div>
  </div>
</div>
