<div *ngIf="hasStatus(StatusKey.TREE_LOADING, StatusValue.IN_PROGRESS)"
     class="d-flex flex-row justify-content-center my-4">
  <i class="i i-sm i-black i-spin i-load mr-1"></i>
  {{'tree.loading' | translate}}
</div>

<ng-container *ngIf="tree">

<section class="content-cat">
  <div class="container">
    <h1 class="content-cat-heading d-block">
      {{'tree.species.' + tree.species.name | lowercase | translate}}
      <div><small class="text-subtle"><em>{{'tree.species.latin.' + tree.species.name | lowercase | translate}}</em></small></div>
    </h1>

    <div class="tree-bar d-flex flex-row align-items-center text-sm">
      <i class="i i-md i-dark i-location mr-2"></i>
      <div>
        {{tree.location.street}}<br/>
        {{tree.location.city.name}}<br/>
      </div>
      <div class="flex-grow-1"></div>
      <button class="btn btn-default link-btn-sm d-inline-flex flex-row align-items-center"
         (action)="showMap = !showMap">
        <i class="i i-xs i-black my--1 mr-1"
           [ngClass]="{'i-chevron-up': showMap, 'i-chevron-down': !showMap}"></i>
        <div class="flex-shrink-0 d-sm-none">
          {{('tree.summary.location.map_btn_sm') | translate}}
        </div>
        <div class="flex-shrink-0 d-none d-sm-inline">
          {{('tree.summary.location.' + (showMap ? 'map_close_btn' : 'map_open_btn')) | translate}}
        </div>
      </button>
    </div>

    <div *ngIf="showMap" class="map-wrapper mt-2">
      <ut-map
        [enabled]="false"
        [useActivator]="false"
        [markers]="[tree]"
        [selectedMarker]="tree">
      </ut-map>
    </div>

    <ng-container *auth="envService.security.rolesAdmin">
      <hr/>
      <div class="tree-bar d-flex flex-column flex-sm-row m--1">
        <div class="d-flex flex-row">
          <i class="i i-md i-dark i-admin m-1 mr-2"></i>
          <div class="m-1">
            {{'tree.admin.title' | translate}}
          </div>
        </div>
        <div class="flex-grow-1"></div>
        <div class="d-flex flex-row">
          <button class="btn btn-default link-btn-sm text-center flex-grow-1 flex-basis-0 flex-shrink-0 nowrap m-1"
                  [routerLink]="['/admin/beacon/manage']"
                  [queryParams]="{'assocTree': tree.id}">
            {{'tree.admin.add_new_beacon' | translate}}
          </button>
          <button class="btn btn-default link-btn-sm text-center flex-grow-1 flex-basis-0 flex-shrink-0 nowrap m-1"
                  [routerLink]="['/admin/tree']"
                  [queryParams]="{'tree': tree.id}">
            {{'tree.admin.edit_link' | translate}}
          </button>
        </div>
      </div>
    </ng-container>

  </div>
</section>

<section class="content-cat">
  <div class="container">

    <h1 class="content-cat-heading">
      Baum-Steckbrief

      <div *auth="envService.security.rolesTreeEditor">
        <button *ngIf="content && contentViewMode === ViewMode.CONTENT"
                (action)="contentViewMode = ViewMode.EDIT_CONTENT"
                class="btn btn-outline-primary btn-sm btn-flex ml-2">
          {{'tree.edit_tree.edit_btn' | translate}}
        </button>
      </div>
    </h1>

    <ut-cms-content *ngIf="tree && content"
                    [content]="content"
                    [(viewMode)]="contentViewMode"
                    (contentSave)="content = $event"
                    (reloadContent)="loadTreeContent()"></ut-cms-content>

  </div>
</section>

<section class="content-cat">
  <div class="container">
    <div *ngIf="tree.beacons && tree.beacons.length > 0">
      <ut-beacon-list
        [beacons]="tree.beacons"
      ></ut-beacon-list>
    </div>
    <div *ngIf="!tree.beacons || tree.beacons.length === 0"
         class="status-img my-4">
      <img src="/assets/img/icon/beacon_none_grey.svg" />
      <div>
        {{'tree.beacon.details.none_attached' | translate}}
      </div>
    </div>
  </div>
</section>

<section class="content-cat">
  <div class="text-center">
    <button *ngIf="!showMore"
            (action)="showMore = true"
            class="btn btn-default d-inline-flex flex-row align-items-center">
      <i class="i i-xs i-chevron-down i-dark mr-1"></i>
      {{'tree.more_info.btn_label' | translate}}
    </button>
    <div *ngIf="showMore"
         class="status-img">
      <div>
        {{'tree.more_info.scroll' | translate}}
      </div>
      <img src="/assets/img/icon/scroll_down.svg" />
    </div>
  </div>
</section>

<ng-container *ngIf="showMore">

  <section class="content-cat">
    <div class="container tree-image">
      <h1 class="content-cat-heading">{{'tree.summary.title' | translate}}</h1>
      <div class="content-cat-flex flex-md-nowrap">
        <div class="content-cat-text flex-grow-1" [innerHTML]="'tree.summary.text' | translate">
        </div>
        <ut-zoom *ngIf="tree.id === 1"
                 [content]="treeImg"
                 [fullscreenContent]="treeImgFull"
                 [mode]="Mode.IMAGE">
        </ut-zoom>
        <ng-template #treeImg>
          <img class="content-cat-img" src="../../../../../assets/content/img/tree_1.jpg"/>
        </ng-template>
        <ng-template #treeImgFull>
          <img class="fullscreen-content" src="../../../../../assets/content/img/tree_1.jpg"/>
        </ng-template>
      </div>
    </div>
  </section>

  <section class="content-cat">
    <div class="container tree-image">
      <h1 class="content-cat-heading">{{'tree.through_year.title' | translate}}</h1>
      <div class="content-cat-flex flex-md-nowrap">
        <div class="content-cat-text flex-grow-1">
          <div [innerHTML]="'tree.through_year.text' | translate"></div>
          <div class="text-subtle text-xs mt-2">
            {{'tree.through_year.update_month' | translate}}
          </div>
        </div>
        <ut-slideshow #throughYearSlideshow [slides]="[
                              {'url': '../../../assets/content/img/phenology_seasons/1.JPG', 'alt': 'tree.through_year.pictures_alt.1' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/2.JPG', 'alt': 'tree.through_year.pictures_alt.2' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/3.JPG', 'alt': 'tree.through_year.pictures_alt.3' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/4.JPG', 'alt': 'tree.through_year.pictures_alt.4' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/5.JPG', 'alt': 'tree.through_year.pictures_alt.5' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/6.JPG', 'alt': 'tree.through_year.pictures_alt.6' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/7.JPG', 'alt': 'tree.through_year.pictures_alt.7' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/8.JPG', 'alt': 'tree.through_year.pictures_alt.8' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/9.JPG', 'alt': 'tree.through_year.pictures_alt.9' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/10.JPG', 'alt': 'tree.through_year.pictures_alt.10' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/11.JPG', 'alt': 'tree.through_year.pictures_alt.11' | translate},
                              {'url': '../../../assets/content/img/phenology_seasons/12.JPG', 'alt': 'tree.through_year.pictures_alt.12' | translate}
                              ]"
                      [slideTemplate]="treeSlide"
                      [intervalMs]="2500">
        </ut-slideshow>
        <ng-template #treeSlide let-url="url" let-alt="alt">
          <ut-zoom [content]="img"
                   [fullscreenContent]="imgFull"
                   [showViewControls]="true"
                   [mode]="Mode.IMAGE"
                   (previous)="throughYearSlideshow.previousSlide()"
                   (next)="throughYearSlideshow.nextSlide()"
                   (opening)="throughYearSlideshow.pause = true"
                   (closed)="throughYearSlideshow.pause = false">
          </ut-zoom>
          <ng-template #img>
            <img class="content-cat-img" [src]="url" [alt]="alt"/>
          </ng-template>
          <ng-template #imgFull>
            <img class="fullscreen-content" [src]="url" [alt]="alt"/>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </section>

  <section class="content-cat">
    <div class="container tree-image">
      <h1 class="content-cat-heading">{{'tree.cooling_power.title' | translate}}</h1>
      <div class="content-cat-flex flex-md-nowrap">
        <div class="content-cat-text flex-grow-1">
          <div [innerHTML]="'tree.cooling_power.text' | translate"></div>
          <div class="text-subtle text-xs">
            {{'tree.cooling_power.update_month' | translate}}
          </div>
        </div>
        <img class="content-cat-img" src="../../../../../assets/content/img/tree-temp.svg"/>
      </div>
    </div>
  </section>

  <section class="content-cat">
    <div class="container tree-image">
      <h1 class="content-cat-heading">{{'tree.leaf_development.title' | translate}}</h1>
      <div class="content-cat-flex flex-lg-nowrap">
        <div class="content-cat-text flex-grow-1">
          {{'tree.leaf_development.text' | translate}}
          <div class="text-subtle text-xs mt-2">
            {{'tree.leaf_development.update_month' | translate}}
          </div>
        </div>
        <ut-audio-img
          *lang="'de-DE'"
          image="../../../assets/content/img/blattentfaltung_2018_10.jpeg"
          audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3"
          class="content-cat-img-lg">
        </ut-audio-img>
        <ut-audio-img
          *lang="'en-GB'"
          image="../../../assets/content/img/blattentfaltung_2018_10_en.jpeg"
          audio="../../../assets/content/audio/blattentfaltung_2018_10.mp3"
          class="content-cat-img-lg">
        </ut-audio-img>
      </div>
    </div>
  </section>

</ng-container>

</ng-container>

<div *ngIf="hasAnyStatusKey([StatusKey.TREE_VALIDATION, StatusKey.TREE_LOADING], StatusValue.FAILED)"
     class="status-overlay position-relative d-block h-auto my-4">
  <div class="status-content">
    <div class="status-heading heading-danger">
      {{'tree_view.error.title' | translate}}
    </div>
    <div class="status-text">
      {{'tree_view.error.text' | translate}}
    </div>
    <div class="status-controls">
      <button class="btn btn-light"
              (click)="ngOnInit()">{{'general.retry' | translate}}</button>
    </div>
  </div>
</div>
