<div class="accessibility-menu navbar-bg">
  <div class="container">
    <span class="text-sm text-subtle mr-2">
      {{'navigation.accessibility.title' | translate}}
    </span>

    <a class="link sr-only sr-only-focusable my-2"
       (action)="focusHeader()"
       tabindex="0">
      {{'navigation.accessibility.go_to.header' | translate}}
    </a>
    <a class="link sr-only sr-only-focusable my-2"
       (action)="focusContent()"
       tabindex="0">
      {{'navigation.accessibility.go_to.content' | translate}}
    </a>
    <a class="link sr-only sr-only-focusable my-2"
       (action)="focusFooter()"
       tabindex="0">
      {{'navigation.accessibility.go_to.footer' | translate}}
    </a>
  </div>
</div>

<div *ngFor="let a of announcements" class="announcement" [ngClass]="{'severity-high': a.severity > 10}">
  <div class="announcement-content">
    <div class="announcement-title">{{a.title}}</div>
    <div class="announcement-description">{{a.description}}</div>
  </div>
  <div class="announcement-close" (action)="hideAnnoucement(a)" tabindex="0" [attr.aria-label]="'announcements.close' | translate"></div>
</div>

<div class="navbar-bg">
  <div class="container">
    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <a id="firstHeaderLink"
           class="navbar-brand"
           routerLink="/"
           routerLinkActive="active">
          <div class="d-inline-block align-top nav-brand-icon">
            <span class="sr-only">{{'navigation.landing_page' | translate}}</span>
          </div>
        </a>

        <ul class="navbar-nav flex-grow-1">
          <ng-template *ngIf="!small" [ngTemplateOutlet]="navContent"></ng-template>
          <ng-template *ngIf="small" [ngTemplateOutlet]="navContentSm"></ng-template>

          <div class="flex-grow-1"></div>

          <li *auth="envService.security.rolesAdmin.concat(envService.security.rolesAdminLocked)"
              routerLinkActive="active"
              class="nav-item nav-reports pointer nav-item-admin">
            <a routerLink="/admin"
               class="nav-link d-flex align-items-center"
               [title]="'navigation.admin' | translate">
              <div *ngIf="userdata && (userdata?.unresolvedReportsAmount + userdata?.unapprovedContentAmount > 0)"
                   class="nav-badge mr-1"
                   aria-hidden="true">
                {{userdata?.unresolvedReportsAmount + userdata?.unapprovedContentAmount}}
                <span class="sr-only">{{'navigation.reports' | translate}}</span>
              </div>
              <i class="i i-text i-admin i-dark" aria-hidden="true"></i>
              <span class="sr-only">{{'navigation.admin' | translate}}</span>
            </a>
          </li>
          <li class="nav-item nav-settings pointer nav-item-settings"
              [ngClass]="{'hide-if-not-active': !isLoggedIn()}"
              routerLinkActive="active">
            <a routerLink="/settings"
               class="nav-link d-flex align-items-center"
               [title]="'navigation.settings' | translate">
              <i class="i i-text i-cog i-dark" aria-hidden="true"></i>
              <span class="sr-only">{{'navigation.settings' | translate}}</span>
            </a>
          </li>
          <li *ngIf="!authService.isUserAnonymous()"
              class="nav-item pointer nav-item-logout">
            <a (action)="logout()"
               class="nav-link d-flex align-items-center"
               tabindex="0"
               [title]="'navigation.logout' | translate">
              <i class="i i-text i-logout i-dark" aria-hidden="true"></i>
              <span class="sr-only">{{'navigation.logout' | translate}}</span>
            </a>
          </li>
          <li *ngIf="authService.isUserAnonymous()"
              routerLinkActive="d-none"
              class="nav-item pointer nav-item-login">
            <a routerLink="/login"
               class="nav-link d-flex align-items-center"
               tabindex="0"
               [title]="'navigation.login' | translate">
              {{'navigation.login' | translate}}
              <i class="i i-text i-login i-dark ml-1" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
    </nav>
  </div>
</div>

<!-- Content of NAV & dropdown -->
<ng-template #navContent let-inDropdown="inDropdown">
  <li *auth="envService.security.rolesUser"
      class="nav-item"
      routerLinkActive="active">
    <a class="nav-link link-container" routerLink="/home">
      {{'navigation.home' | translate}}
    </a>
  </li>
  <li class="nav-item"
      routerLinkActive="active">
    <a class="nav-link link-container" routerLink="/trees">
      {{'navigation.tree_list' | translate}}
    </a>
  </li>
  <li *auth="envService.security.rolesPhenObs"
      class="nav-item"
      routerLinkActive="active">
    <a class="nav-link link-container" routerLink="/project/phenology">
      {{'navigation.phenology' | translate}}
    </a>
  </li>
  <li class="nav-item"
      routerLinkActive="active">
    <a class="nav-link link-container" routerLink="/measurements">
      {{'navigation.measurements' | translate}}
    </a>
  </li>
  <li *noauth class="nav-item"
      routerLinkActive="active">
    <a class="nav-link link-container" routerLink="/statistics">
      {{'navigation.statistics' | translate}}
    </a>
  </li>
  <li *ngIf="!inDropdown"
      dropdown
      #navLinksDropdown="bs-dropdown"
      class="nav-item dropdown dropdown-more">
    <button dropdownToggle
            class="btn btn-plain nav-link pointer d-flex flex-row align-items-center"
            role="button"
            [title]="'navigation.accessibility.' + (navLinksDropdown.isOpen ? 'less' : 'more') + '_items' | translate">
      <i class="i i-xs i-dark i-chevron-down align-middle"></i>
      <span *ngIf="!navLinksDropdown.isOpen" class="sr-only">{{'navigation.accessibility.more_items' | translate}}</span>
      <span *ngIf="navLinksDropdown.isOpen" class="sr-only">{{'navigation.accessibility.less_items' | translate}}</span>
    </button>
    <div *dropdownMenu
         id="nav-dropdown-menu"
         role="menu"
         class="dropdown-menu dropdown-menu-right">
      <ng-template [ngTemplateOutlet]="navContent" [ngTemplateOutletContext]="{inDropdown: true}"></ng-template>
    </div>
  </li>
</ng-template>


<ng-template #navContentSm>
  <li dropdown
      #navLinksDropdown="bs-dropdown"
      class="nav-item dropdown">
    <button dropdownToggle
            class="btn btn-plain nav-link pointer d-flex flex-row align-items-center"
            role="button"
            [title]="'navigation.accessibility.' + (navLinksDropdown.isOpen ? 'less' : 'more') + '_items' | translate">
      {{navKey | translate}}
      <i class="i i-xs i-dark i-chevron-down align-middle ml-1"></i>
    </button>
    <div *dropdownMenu
         id="nav-dropdown-menu2"
         role="menu"
         class="dropdown-menu dropdown-menu-left">

      <ul class="list-unstyled">
        <ng-template [ngTemplateOutlet]="navContent" [ngTemplateOutletContext]="{inDropdown: true}"></ng-template>

        <hr/>

        <li class="nav-item nav-settings pointer"
            routerLinkActive="active">
          <a routerLink="/settings"
             class="nav-link d-flex align-items-center">
            {{'navigation.settings' | translate}}
            <div class="flex-grow-1"></div>
            <i class="i i-text i-cog i-dark ml-1" aria-hidden="true"></i>
          </a>
        </li>
        <li *ngIf="!authService.isUserAnonymous()"
            class="nav-item d-flex flex-row">
          <button (action)="logout()"
                  class="btn btn-plain nav-link d-flex align-items-center flex-grow-1">
            {{'navigation.logout' | translate}}
            <div class="flex-grow-1"></div>
            <i class="i i-text i-logout i-dark ml-1" aria-hidden="true"></i>
          </button>
        </li>
        <li *ngIf="authService.isUserAnonymous()"
            routerLinkActive="active"
            class="nav-item d-flex flex-row">
          <button routerLink="/login"
                  class="btn btn-plain nav-link d-flex align-items-center flex-grow-1">
            {{'navigation.login' | translate}}
            <div class="flex-grow-1"></div>
            <i class="i i-text i-login i-dark ml-1" aria-hidden="true"></i>
          </button>
        </li>
      </ul>

    </div>
  </li>
</ng-template>
