<ut-header></ut-header>

<div class="container mt-4 mb-2 my-lg-5">

  <ut-user-overview *auth="[envService.security.rolesUser]"></ut-user-overview>

  <!-- For large devices -->
  <div class="btn-img-toolbar d-none d-lg-block">
    <div class="my-3 d-flex">
      <div *auth="[envService.security.rolesPhenObs]" class="btn-img lg phenology" tabindex="-1" routerLink="/phenology/observation/step">
        {{'navigation.links.phen_obs' | translate}}
      </div>
      <div *noauth="true" class="btn-img login" tabindex="-1" routerLink="/login">
        {{'navigation.links.log_in' | translate}}
      </div>
      <div *auth="[envService.security.rolesUser]" class="btn-img change-password" tabindex="-1" routerLink="/account/changepassword">
        {{'navigation.links.change_password' | translate}}
      </div>
      <div *auth="[envService.security.rolesUser]" class="btn-img change-username" tabindex="-1" routerLink="/account/changeusername">
        {{'navigation.links.change_username' | translate}}
      </div>
    </div>
    <div *auth="[envService.security.rolesAdmin]" class="my-3 d-flex">
      <div class="btn-img admin-console" tabindex="-1" routerLink="/admin">
        Admin console
      </div>
    </div>
  </div>

  <!-- For small devices -->
  <div class="btn-img-toolbar d-md-block d-lg-none">
    <div class="my-3 d-flex">
      <div *auth="[envService.security.rolesPhenObs]" class="btn-img phenology" tabindex="-1" routerLink="/phenology/observation/step">
        {{'navigation.links.phen_obs' | translate}}
      </div>
    </div>
    <div *noauth="true" class="my-3 d-flex">
      <div class="btn-img login" tabindex="-1" routerLink="/login">
        {{'navigation.links.log_in' | translate}}
      </div>
    </div>
    <div class="my-3 d-flex">
      <div *auth="[envService.security.rolesUser]" class="btn-img change-password" tabindex="-1" routerLink="/account/changepassword">
        {{'navigation.links.change_password' | translate}}
      </div>
      <div *auth="[envService.security.rolesUser]" class="btn-img change-username" tabindex="-1" routerLink="/account/changeusername">
        {{'navigation.links.change_username' | translate}}
      </div>
    </div>
    <div *auth="[envService.security.rolesAdmin]" class="my-3 d-flex">
      <div class="btn-img admin-console" tabindex="-1" routerLink="/admin">
        Admin console
      </div>
    </div>
  </div>

  <div class="content-container">

    <div class="news-header">{{'home.news.title' | translate}}</div>

    <ut-news></ut-news>

  </div>


</div>

<ut-footer></ut-footer>
