<div class="cms-component">
  <div *ngIf="!hasViewMode(ViewMode.CONTENT)"
       class="cms-file-container custom-file"
       [tooltip]="validationErrorTooltipTemplate"
       [isOpen]="validationResults.hasHighlighted() && hasViewMode(ViewMode.EDIT_CONTENT)"
       [adaptivePosition]="false"
       placement="top"
       triggers=""
       (focus)="focus()"
       (focusout)="focusOut()">
    <div class="custom-file d-flex flex-row">
      <div class="flex-grow-1 position-relative">
        <input
          type="file"
          class="custom-file-input"
          [tabindex]="hasViewMode(ViewMode.EDIT_LAYOUT, ViewMode.INSERT_ELEMENT) ? -1 : 0"
          [ngClass]="{'is-invalid': validationResults.hasErrors()}"
          (change)="uploadFile($event);">
        <label class="custom-file-label">
          {{filename ?? ('components.file.placeholder' | translate)}}
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="hasViewMode(ViewMode.CONTENT) && fileUid">
    <a class="btn"
       [href]="getFileUrl()">
      <i class="i i-xs i-black i-file mr-1"></i>
      {{filename}}
    </a>
  </div>
</div>

<ng-template #validationErrorTooltipTemplate>
  <div class="d-flex flex-row align-items-center">
    <i class="danger-pointer mr-1"></i>
    {{validationResults.errorString() | async2}}
  </div>
</ng-template>
